<ion-header madeHeader [hideBackButton]="true"></ion-header>

<ion-content class="StylistInvitationPage contentSidePadding">
  <!-- Title: -->
  <ion-row justify-content-center>
    <div class="StylistInvitationPage-title SharedH1">We found your stylist</div>
  </ion-row>

  <!-- Stylist’s pic: -->
  <ion-row justify-content-center>
    <div [style.backgroundImage]="stylist?.profile_photo_url ? 'url(' + stylist.profile_photo_url + ')' : null" class="StylistInvitationPage-pic"></div>
  </ion-row>

  <!-- Data: -->
  <div *ngIf="stylist" class="StylistInvitationPage-bio">
    <ion-row class="StylistInvitationPage-salonName" justify-content-center align-items-center>{{ stylist.salon_name }}</ion-row>
    <ion-row class="StylistInvitationPage-name" justify-content-center align-items-center>{{ stylist.first_name }} {{ stylist.last_name }}</ion-row>
    <ion-row *ngIf="stylist?.followers_count" class="StylistInvitationPage-address Link" justify-content-center align-items-start nowrap>
      <i class="mb-icon-heart-a"></i>&nbsp;<p class="Link">{{ stylist.followers_count }} MADE Clients</p>
    </ion-row>
    <ion-row *ngIf="stylist.salon_address" class="StylistInvitationPage-address" justify-content-center align-items-start nowrap>
      <i class="mb-icon-marker"></i>&nbsp;<span class="is-fszInherited">{{ stylist.salon_address }}</span>
    </ion-row>
    <ion-row *ngIf="stylist.phone" class="StylistInvitationPage-phone" justify-content-center align-items-start nowrap>
      <phone-link [phone]="stylist.phone" [readonly]="true" icon="mb-icon-phone-a"></phone-link>
    </ion-row>
    <ion-row *ngIf="stylist.instagram_url" class="StylistInvitationPage-phone" justify-content-center align-items-start nowrap>
      <i class="mb-icon-instagram"></i>&nbsp;<span class="is-fszInherited">{{ stylist.instagram_url }}</span>
    </ion-row>
    <ion-row *ngIf="stylist.website_url" class="StylistInvitationPage-phone" justify-content-center align-items-start nowrap>
      <i class="mb-icon-globe"></i>&nbsp;
      <span class="is-fszInherited">{{ stylist.website_url }}</span>
    </ion-row>
  </div>

  <!-- Fix unnecessary space issue on invitation screen: -->
  <div class="flex-1"></div>

  <!-- Footer: -->
  <div class="Footer StylistInvitationPage-footer">
    <ion-row justify-content-center>
      <button (click)="onContinueWithStylist()" ion-button class="StylistInvitationPage-submit Button">Let‘s get started!</button>
    </ion-row>
    <ion-row justify-content-center>
      <span (click)="onProceedToStylists()" class="Link is-fszInherited">It’s not my stylist</span>
    </ion-row>
  </div>
</ion-content>
