<ion-header madeBackHeader></ion-header>

<ion-content no-padding>
  <div class="Made-wp Made-wpContent">

    <ng-container *ngIf="appointment; else loadingTpl">

      <!-- Header card -->
      <div class="CheckOut-card">
        <ion-row align-items-center class="Checkout-header">

          <ion-col col-6 no-padding>
            <!-- Left icon -->
            <div [class.isAlreadyCheckedOut]="params?.isAlreadyCheckedOut" class="CheckOut-headerIcon">
              <i [class]="params?.is-alreadyCheckedOut ? 'mb-icon-check' : 'mb-icon-calendar'"></i>
            </div>

            <!-- Time and date -->
            <div class="CheckOut-headerDate" data-test-id="appointmentDateTime">
              <b>{{ appointment.datetime_start_at | date: 'h:mmaaaaa' }}</b>
              {{ appointment.datetime_start_at | date: 'E, LLL MM' }}
            </div>
          </ion-col>

          <user-name-photo
            [firstName]="appointment.client_first_name"
            [lastName]="appointment.client_last_name"
            [photoUrl]="appointment.client_profile_photo_url"
            col-6>
          </user-name-photo>
        </ion-row>
      </div>

      <!-- Receipt card -->
      <div *ngIf="previewResponse" class="CheckOut-card">

        <!-- Price -->
        <div (click)="triggerMinifiedDetails()" class="CheckOut-price">
          <div class="CheckOut-priceTitle" data-test-id="appointmentTitle">
            <ng-container *ngIf="!params?.isAlreadyCheckedOut; else finalPriceTpl">Total Price</ng-container>
            <ng-template #finalPriceTpl>Final Price</ng-template>
          </div>

          <div class="CheckOut-priceValue">
            <ion-spinner *ngIf="isLoading" [duration]="500"></ion-spinner>
            <ng-container *ngIf="!isLoading">
              <span>$</span>
              <b data-test-id="appointmentPrice">{{ previewResponse.grand_total.toFixed() }}</b>
            </ng-container>
          </div>

          <ion-icon name="ios-arrow-down"></ion-icon>
        </div>

        <!-- Details -->
        <div *ngIf="previewResponse.services.length > 0" [class.is-minified]="isMinifiedDetails" class="CheckOut-details">
          <ion-row align-items-center *ngFor="let service of previewResponse.services; let index = index;" class="CheckOut-detailsServices" data-test-id="appointmentServices">
            <ion-col col-7 no-padding>
              <span>{{ service.service_name }}</span>
            </ion-col>
            <ion-col col-2 no-padding>
              <span *ngIf="service.regular_price > service.client_price" class="text-muted line-through">${{ service.regular_price }}</span>
            </ion-col>
            <ion-col col-3 no-padding>
              <span>${{ service.client_price }}</span>
              <i (click)="removeServiceClick(service)"
                *ngIf="previewResponse.services.length > 1 && appointment.status != AppointmentStatuses.checked_out"
                class="mb-icon-trash">
              </i>
            </ion-col>
          </ion-row>

          <ion-row align-items-center *ngIf="!params?.isAlreadyCheckedOut || hasTaxIncluded" data-test-id="appointmentTaxPercentage">
            <ion-col col-7 no-padding>
              <span class="text-muted">Tax Rate ({{ previewResponse.tax_percentage | number: '1.2' }}%)</span>
            </ion-col>
            <ion-col col-2 no-padding>
              <span [class.line-through]="!hasTaxIncluded" [class.text-muted]="!hasTaxIncluded">${{ previewResponse.total_tax.toFixed(2) | number: '1.2' }}</span>
            </ion-col>
            <ion-col col-3 no-padding>
              <ion-toggle *ngIf="!params?.isAlreadyCheckedOut && !params?.isReadonly" (ionChange)="updatePreview()" [(ngModel)]="hasTaxIncluded" class="ion-bb-toggle"></ion-toggle>
            </ion-col>
          </ion-row>

          <ion-row align-items-center *ngIf="!params?.isAlreadyCheckedOut || hasCardFeeIncluded" data-test-id="appointmentCardFeePercentage">
            <ion-col col-7 no-padding>
              <span class="text-muted">Card Fee ({{ previewResponse.card_fee_percentage | number: '1.2' }}%)</span>
            </ion-col>
            <ion-col col-2 no-padding>
              <span [class.line-through]="!hasCardFeeIncluded" [class.text-muted]="!hasCardFeeIncluded">${{ previewResponse.total_card_fee.toFixed(2) | number: '1.2' }}</span>
            </ion-col>
            <ion-col col-3 no-padding>
              <ion-toggle *ngIf="!params?.isAlreadyCheckedOut && !params?.isReadonly" (ionChange)="updatePreview()" [(ngModel)]="hasCardFeeIncluded" class="ion-bb-toggle"></ion-toggle>
            </ion-col>
          </ion-row>
        </div>

        <!-- Bottom controls -->
        <ion-row>
          <ion-col (click)="addServicesClick()" class="CheckOut-controlBtn">
            <span>Change </span>
            <ng-container *ngIf="previewResponse.services.length > 1; else oneTpl">Services</ng-container>
            <ng-template #oneTpl>Service</ng-template>
          </ion-col>

          <ion-col (click)="onChangePrice(appointment, previewResponse)" class="CheckOut-controlBtn">Change Price</ion-col>
        </ion-row>

      </div>

      <!-- Saved amount -->
      <ion-row align-items-center justify-content-between class="CheckOut-saved">
        <ion-col col-7 no-padding>YOU SAVED 15%</ion-col>
        <ion-col col-5 no-padding class="CheckOut-savedAmount"><sup>$</sup>45</ion-col>
      </ion-row>

    </ng-container>

    <ng-template #loadingTpl>
      <ion-row align-items-center justify-content-center>
        <ion-spinner></ion-spinner>
      </ion-row>
    </ng-template>

  </div>
</ion-content>

<ion-footer
  *ngIf="!params?.isAlreadyCheckedOut && !params?.isReadonly"
  (continue)="onFinalizeCheckoutClick()"
  data-test-id="appointmentFinalizeCheckout"
  madeContinueFooter
  [title]="'Checkout' + (previewResponse ? ' $' + previewResponse.grand_total.toFixed() : '')">
</ion-footer>
