<ion-header madeBackHeader></ion-header>


<ion-content no-padding>
  <made-nav [activePage]="PageNames.DiscountsRevisit"></made-nav>

  <div class="Made-wp Made-wpContent">
    <div class="Made-h1">Loyalty Discounts</div>

    <!-- Show spinner if loading is in progress -->
    <div class="Spinner">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

    <discounts-revisit-short [discounts]="discounts" (revisitChange)="onRevisitChange()"></discounts-revisit-short>
  </div>
</ion-content>


<ion-footer madeContinueFooter (continue)="onContinue()"></ion-footer>