.MyClients {
  .MyClients-100H {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }

  .MyClients-inviteBtn {
    margin-top: pxtovw(18px);
  }
}

.MyClients-badge {
  padding: pxtovw(2px) pxtovw(11px);
  margin-left: pxtovw(7px);
  font-size: $t-h4;
  color: color($colors, white);
  background: color($colors, color20);
  border-radius: 20px;
}
