<ion-header madeHeader [hideBackButton]="isBackBtnDisabled">
  <ion-toolbar class="contentSidePadding StylistsPage-header">

    <div class="StylistsPage-search">
      <i class="mb-icon-search"></i>
      <ion-item class="FormControl StylistsPage-searchInput">
        <ion-input type="text" placeholder="Type service, stylist or salon name" [formControl]="query" data-test-id="searchInput"></ion-input>
      </ion-item>
    </div>
    <div class="StylistsPage-search">
      <i class="mb-icon-marker"></i>
      <ion-item class="FormControl StylistsPage-searchInput StylistsPage-locationInput">
        <ion-input type="text" [placeholder]="isLocationInputFocused ? 'Street name, city, state or zip code' : 'Current Location'" [formControl]="locationQuery" (focus)="setLocationInputFocused(true)" (input)="onSearchStylists()" (blur)="setLocationInputFocused(false)" data-test-id="locationInput"></ion-input>
      </ion-item>
    </div>

    <ion-row class="H1 StylistsPage-title" align-items-center justify-content-between>
      <div (click)="scrollTop()" class="Badge-H1">
        Search Stylists
        <span *ngIf="stylists?.length > 0" class="Badge">{{ stylists.length }}<span *ngIf="moreStylistsAvailable">+</span></span>
      </div>
      <div *ngIf="isLoading" class="StylistsPage-loader" data-test-id="searchingIndicator">searching…</div>
      <div *ngIf="isGeolocationInProcess" class="StylistsPage-loader">checking location…</div>
      <ion-icon (click)="showHeader()" name="arrow-down"></ion-icon>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="StylistsPage">
  <div class="contentSidePadding StylistsPage-content">
    <div (click)="onInviteStylistClick()" class="StylistsPage-invite">
      Invite Your Stylist

      <i class="mb-icon-mail"></i>
    </div>

    <!-- Showing loading cards -->
    <div *ngIf="isLoading" class="StylistsPage-stylists">
      <div *ngFor="let stylist of loadingStylists" class="SharedCard is-loading">
        <div class="StylistsPage-cardSubtitle">&nbsp;</div>
        <div class="StylistsPage-cardTitle">&nbsp;</div>
        <div class="StylistsPage-cardSubtitle">&nbsp;</div>
      </div>
    </div>

    <!-- Showing stylists -->
    <div *ngIf="!isLoading && stylists" class="StylistsPage-stylists">
      <stylist-card
        *ngFor="let stylist of stylists"
        [stylist]="stylist"
        (click)="openStylistPreview(stylist)"></stylist-card>

      <div *ngIf="stylists.length === 0">
        <ng-container *ngIf="!query.value; else notFound">I'm sorry there are no stylists in your area yet. But check back often we're adding new stylists every day!</ng-container>
        <ng-template #notFound>No stylists found</ng-template>
      </div>
    </div>
  </div>
</ion-content>
