<ion-header madeBackHeader></ion-header>

<!-- TODO: move to clients dir -->

<ion-content no-padding>
  <div class="Made-wp withPadding">
    <div class="ClientInfo-title">My Client</div>

    <div [style.background-image]="clientDetails?.photo ? 'url(' + clientDetails.photo + ')' : null" class="ClientInfo-ava" data-test-id="clientAva"></div>

    <div *ngIf="clientDetails?.first_name || clientDetails?.last_name" class="ClientInfo-title" data-test-id="clientName">{{ clientDetails.first_name }} {{ clientDetails.last_name }}</div>
    <div *ngIf="clientDetails?.phone" class="ClientInfo-text isPhone" data-test-id="clientPhone"><phone-link [phone]="clientDetails.phone"></phone-link></div>
    <div *ngIf="clientDetails?.email" class="ClientInfo-text" data-test-id="clientEmail">{{ clientDetails.email }}</div>
    <div *ngIf="clientDetails?.city || clientDetails?.state" class="ClientInfo-text" data-test-id="clientAddress">
      {{ clientDetails?.city }} {{ clientDetails?.city && clientDetails?.state ? ', ' : '' }} {{ clientDetails?.state }}
    </div>

    <div class="MadeLinkList ClientInfo-List">
      <div *ngIf="clientDetails?.last_visit_datetime" class="MadeLinkList-row">
        <div class="MadeLinkList-cell">Last Visit</div>
        <div class="MadeLinkList-cell isGrey" data-test-id="lastVisit">{{ clientDetails.last_visit_datetime | date: 'LLLL dd, yyyy' }}</div>
      </div>
      <div *ngIf="clientDetails?.last_services_names" class="MadeLinkList-row">
        <div class="MadeLinkList-cell">Last Service</div>
        <div class="MadeLinkList-cell isGrey" col-6 text-right data-test-id="lastService"><span *ngFor="let service of clientDetails.last_services_names">{{ service }}</span></div>
      </div>

      <!-- Note: hide “View Client's Calendar” link for now since we don’t yet have this page. -->
      <!-- <div class="MadeLinkList-row">
        <div class="MadeLinkList-cell">View Client's Calendar</div>
        <div class="MadeLinkList-cell isGrey" data-test-id="calendarLink"><i class="mb-icon-right-arrow"></i></div>
      </div> -->
    </div>
  </div>
</ion-content>
