<ion-header class="madeBackHeader">
  <ion-navbar class="Made-wp BackHeader-backBtn">
    <ion-buttons end>
      <button *ngIf="this.data.service" (click)="onServiceDelete()" ion-button icon-only color="dark" class="RightButton">
        <i class="mb-icon-trash"></i>
      </button>
      <button [disabled]="form.invalid" (click)="save()" ion-button icon-only color="dark" class="RightButton">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <form [formGroup]="form" class="Made-wp Made-wpContent">
    <ion-item class="ServiceItem-input big">
      <ion-input placeholder="Service name" formControlName="name" type="text"></ion-input>
    </ion-item>
    <ion-item class="ServiceItem-input withPrefix">
      <span item-left class="ServiceItem-inputPrefix">
        <i class="mb-icon-discounts-b"></i>
        <span class="ServiceItem-inputPrice">$</span>
      </span>
      <ion-input formControlName="base_price" type="tel" ngxInputNumber placeholder="Add Price"></ion-input>
    </ion-item>
    <ion-item class="ServiceItem-input withPrefix">
      <span *ngIf="form.value.category?.category_code" item-left class="ServiceItem-inputPrefix">
        <i class="mb-icon-{{form.value.category.category_code}}"></i>
      </span>
      <ion-select formGroupName="vars" formControlName="category" placeholder="Select category">
        <ion-option *ngFor="let item of form.get('vars.categories').value" [value]="item">{{ item.name }}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
