.AppCard-Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: pxtovw(20px) 0 pxtovw(5px);

  .AppCard-HeaderVisitDate {
    align-self: flex-start;
    font-size: $t-small;
    color: color($grayscale, 500);
  }

  .AppCard-HeaderLink {
    font-size: pxtovw(15px);
    //font-weight: 600;
    color: color($colors, orange);
  }
}

.AppCard-Grid {
  width: 100%;
  font-size: $t-h4;
  font-weight: 600;

  .AppCard-GridStylistDetails {
    margin: 0;
    font-size: pxtovw(15px);
    font-weight: normal;
    color: color($grayscale, 500);
  }

  .AppCard-GridStylistDetailsImage {
    display: inline-block;
    width: pxtovw(21px);
    height: pxtovw(21px);
    padding: pxtovw(2px);
    margin-right: pxtovw(3px);
    text-align: center;
    vertical-align: middle;
    border: 1px solid color($grayscale, 300);
    border-radius: 50%;
  }

  .AppCard-GridStylistDetailsImage img {
    width: pxtovw(16px);
    height: pxtovw(16px);
  }

  .AppCard-GridPrice {
    text-align: right;
  }

  .AppCard-GridPrice:first-letter {
    font-size: $t-small;
    vertical-align: text-top;
  }

  .AppCard-GridServiceName {
    overflow: hidden;
    font-size: $t-h3;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.AppCard-Grid span {
  display: inline-block;
  margin: pxtovw(4px) 0;
}
