<!-- TODO: replace preferred check with a popup: Would you like to add this stylist to the preferred ones? -->
<div *ngIf="hasRebook" (click)="onRebookClick()" class="AppointmentItem-Header">Re-book appointment</div>

<div (click)="onCardClick()" class="AppointmentItem-wp">
  <div class="AppointmentItem-top">
    <div class="AppointmentItem-topTime">
      {{ formatTimeInZone(appointment.datetime_start_at) }}

      <span class="AppointmentItem-topTimeDay">
        {{ appointment.datetime_start_at | date: 'E, LLL dd' }}
      </span>
    </div>

    <div class="AppointmentItem-topPrice">
      <span class="AppointmentItem-topPriceCur">$</span>{{ appointment.grand_total.toFixed() }}
    </div>
  </div>


  <div class="AppointmentItem-desc">
    <span>{{ getServices() }}</span>
  </div>

  <div class="AppointmentItemFooter">
    <div class="AppointmentItemFooter-cell isFull">
      <i [style.background-image]="appointment.profile_photo_url ? 'url(' + appointment.profile_photo_url + ')' : null" class="AppointmentItemFooter-ava"></i>
      <span class="AppointmentItemFooter-text">{{ appointment.stylist_first_name }} {{ appointment.stylist_last_name }}, {{ appointment.salon_name }}</span>
    </div>
  </div>
</div>
