<div class="AppCard-Header">
  <!-- date of the appointment -->
  <div class="AppCard-HeaderVisitDate">{{ appointment.datetime_start_at | date: 'E, LLLL d' }}</div>

  <!-- rebooking link -->
  <!-- TODO: replace preferred check with a popup: Would you like to add this stylist to the preferred ones? -->
  <div *ngIf="hasRebook && (preferredStylistsUuids | async)?.indexOf(appointment.stylist_uuid) !== -1" (click)="onRebookClick()" class="AppCard-HeaderLink">Re-book appointment</div>
</div>
<!-- the card -->
<div (click)="onCardClick()" class="Card">
  <ion-grid no-padding class='AppCard-Grid'>
    <ion-row>
      <ion-col>
        <!-- time of the appointment -->
        <span>{{ formatTimeInZone(appointment.datetime_start_at) }}</span>

      </ion-col>
      <ion-col class="AppCard-GridPrice" >
        <!-- show price -->
        {{ appointment.total_client_price_before_tax | price }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="AppCard-GridServiceName">
        <!-- list of services -->
        <span>{{ getServices() }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <div class="AppCard-GridStylistDetailsImage" [style.backgroundImage]="'url(' + (appointment.profile_photo_url || 'assets/icons/stylist-avatar.svg') + ')'"></div>
        <!-- stylists's full name -->
        <span  class="AppCard-GridStylistDetails">{{ appointment.stylist_first_name }}&nbsp;{{ appointment.stylist_last_name }}, {{ appointment.salon_name }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
