.AppCard {
  margin: 0 0 pxtovw(22px);
}

.AppCard-Header {
  margin: 0 pxtovw(3px) pxtovw(4px);
  font-size: pxtovw(17px);
  color: color($colors, orange);
  text-align: right;
}

.AppCard-Grid {
  width: 100%;
  font-size: $t-h4;
  font-weight: 600;

  .AppCard-VisitDate {
    margin: 0 0 0 6px;
    font-size: $t-small;
    color: color($grayscale, 500);
  }

  .AppCard-GridStylistDetails {
    margin: 0;
    font-size: pxtovw(15px);
    font-weight: normal;
    color: color($grayscale, 500);
  }

  .AppCard-GridStylistDetailsImage {
    display: inline-block;
    width: pxtovw(15px);
    height: pxtovw(15px);
    padding: pxtovw(2px);
    margin-right: pxtovw(3px);
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid color($grayscale, 300);
    border-radius: 50%;
  }

  .AppCard-GridPrice {
    line-height: pxtovw(18px);
    text-align: right;
  }

  .AppCard-GridPrice:first-letter {
    font-size: $t-small;
    vertical-align: text-top;
  }

  .AppCard-GridServiceName span {  // inspired by https://codepen.io/natonischuk/pen/KpNKQZ?editors=1100
    position: relative;
    max-height: 2.4em;
    padding-right: 1em;
    margin: pxtovw(2px) 0 0 0;
    overflow: hidden;
    font-size: $t-h3;
    line-height: 1.2em;
    letter-spacing: pxtovw(0.35px);

    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      content: '...';
    }

    &:after {
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      content: '';
      background: white;
    }
  }
}

.AppCard-Grid span {
  display: inline-block;
}
