<div class="Made-text Discounts-textOffset">
  <div class="Made-textItem">
    Set a special first-visit discount to attract new clients.
  </div>
  <div class="Made-textItem">
    Click below to edit the discount you’ll give first-time clients.
  </div>
</div>


<div *ngIf="firstBooking">
  <div class="DiscountsList">
    <ion-row (click)="onDiscountChange()" class="DiscountsList-row">
      <ion-col no-padding col-8 class="DiscountsList-col">
        {{ firstBooking.label }}
      </ion-col>

      <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
        <div>
          <span *ngIf="!firstBooking.percentage">None</span>
          <span *ngIf="firstBooking.percentage">{{ firstBooking.percentage }}%</span>
        </div>
        <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</div>
