<ion-header madeBackHeader></ion-header>


<ion-content no-padding>
  <made-nav [activePage]="PageNames.DiscountsWelcome"></made-nav>

  <div class="Made-wp Made-wpContent">
    <div class="Made-h1">How pricing works</div>

    <div class="MadeCheckList">
      <div class="MadeCheckList-title">
        Prices automatically update and encourage clients to:
      </div>
      <div class="MadeCheckList-item">
        <ion-icon name="md-checkmark"></ion-icon>
        <span class="MadeCheckList-itemText">Visit more often</span>
      </div>
      <div class="MadeCheckList-item">
        <ion-icon name="md-checkmark"></ion-icon>
        <span class="MadeCheckList-itemText">Book earlier</span>
      </div>
      <div class="MadeCheckList-item">
        <ion-icon name="md-checkmark"></ion-icon>
        <span class="MadeCheckList-itemText">Book at off-peak times</span>
      </div>
    </div>

    <div class="Made-h3">What clients see at booking:</div>
    <img src="assets/imgs/discounts/welcome.png" alt="">
  </div>
</ion-content>


<ion-footer madeDiscountsFooter (continue)="onContinue()"></ion-footer>
