<ion-header madeBackHeader></ion-header>


<ion-content no-padding>
  <made-nav [activePage]="PageNames.HowPricingWorks"></made-nav>

  <div class="Made-wp Made-wpContent">
    <div class="Made-h1">How Pricing Works</div>

    <div class="MadeCheckList">Prices automatically update and encourage clients to:</div>

    <check-list [list]="list"></check-list>

    <div class="Made-h3">What clients see at booking:</div>
    <img src="assets/imgs/discounts/welcome.png" alt="">
  </div>
</ion-content>


<ion-footer madeContinueFooter (continue)="onContinue()"></ion-footer>
