<ion-header madeHeader>
  <ion-toolbar>
    <div class="Made-h1">Select Service</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="serviceCategories && hasServices">
    <services-pick
      [services]="serviceCategories"
      (serviceAdd)="onServiceAdd($event)">
    </services-pick>
  </div>
</ion-content>

<ion-footer *ngIf="serviceCategories && hasServices" class="Footer Services-footer">
  <ion-row align-items-center>
    <ion-col col-6 class="Services-summary">
      {{ addedServices.length }} {{ addedServices.length === 1 ? 'Service' : 'Services' }}<br />
      <small>{{ getServicesCalcPrice() | currency }}</small>
    </ion-col>
    <ion-col col-6>
      <button (click)="addServicesClick()" ion-button class="Button Services-submit">
        Update
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
