page-add-service {
  .Made-h1 {
    margin: 0;
  }

  // Rewrite Ionic styles
  .header {
    box-shadow: 0 7px 43px rgba(black, 0.08);

    .toolbar {
      padding: pxtovw(8px) pxtovw(24px) pxtovw(16px);
    }
  }

  .ServicesPick {
    margin: pxtovw(36px) pxtovw(24px) pxtovw(57px);
  }
}
