page-add-service {
  .Made-h1 {
    margin: 0;
  }

  // Rewrite Ionic styles
  .header {
    box-shadow: 0 pxtovw(7px) pxtovw(43px) rgba(black, 0.08);

    .toolbar {
      padding: pxtovw(8px) pxtovw(24px) pxtovw(16px);
    }
  }

  .ServicesPick {
    margin: pxtovw(36px) pxtovw(24px) pxtovw(57px);
  }

  .Services-footer {
    padding-top: pxtovw(16px);
    padding-bottom: pxtovw(16px);
    border-top: 1px solid color($grayscale, 200);

    &:before {
      display: none;
    }
  }

  .Services-summary {
    font-size: pxtovw(18px);
    line-height: pxtovw(24px);

    small {
      font-size: pxtovw(15px);
      color: color($colors, warmGrey);
    }
  }

  .Services-submit {
    font-size: pxtovw(18px);
    font-weight: 500;
  }
}
