// color name can be generated via http://chir.ag/projects/name-that-color/#6195ED
$colors-shared: (
  white: #FFFFFF,
  lightPeach: #FEE0D0,
  lightSalmon: #FBB597,
  darkMint: #5DCA91,
  mauve: #D6B2FF,
  anakiwa: #B2D6FF,
  santasGray: #A6A3B0,
  danger: #F53D3D,
  watusi: #FFE0D0,
  abbey: #F7F7F7,
  orange: #FBB597,
  gallery: #EBEBEB,
  warmGrey: #999999,
  newOrleans: #F2C8A1,
  honey: #F4C5AD,
);

$grayscale-shared: (
  200: #ECECEC,
  300: #D4D4D4,
  500: #999999
);

$shared-colors: (
  secondary: color($colors-shared, lightPeach),
  color1: color($grayscale-shared, 500),
  color2: color($colors-shared, darkMint),
  color3: color($grayscale-shared, 300),
);

$shared-h1:    pxtovw(38px) !default;
$shared-h2:    pxtovw(28px) !default;
$shared-h3:    pxtovw(21px) !default;
$shared-h4:    pxtovw(18px) !default;
$shared-h5:    pxtovw(16px) !default;
$shared-base:  pxtovw(15px) !default;
$shared-small: pxtovw(13px) !default;
