.MyClients {
  .MyClients-100H {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }

  .MyClients-inviteBtn {
    margin-top: pxtovw(18px);
  }

  .MyClients-client {
    padding: pxtovw(16px) 0;
    font-size: $t-h4;
    border-top: 1px solid color($grayscale, 200);
  }

  .MyClients-clientImg {
    $size: 56px;

    width: pxtovw($size);
    height: pxtovw($size);
    background-size: cover;
    border-radius: 50%;
  }

  .MyClients-clientInfo {
    padding-left: pxtovw(16px);
  }

  .MyClients-clientName {
    margin: 0;
  }

  .MyClients-clientPhone,
  .MyClients-clientCityState {
    .textPreloader {
      width: 40%;
      margin-bottom: 2px;
    }

    [class^=mb-icon] {
      padding-right: pxtovw(4px);
      color: color($colors, lightSalmon);
    }

    span {
      flex: 1;
    }
  }

  .MyClients-clientPhone {
    font-weight: bold;
    color: color($colors, lightSalmon);
  }

  .MyClients-clientCityState {
    color: color($grayscale, 600);

    .textPreloader {
      width: 85%;
    }
  }
}

.MyClients-badge {
  padding: pxtovw(2px) pxtovw(11px);
  margin-left: pxtovw(7px);
  font-size: $t-h4;
  color: color($colors, white);
  background: color($colors, color20);
  border-radius: 20px;
}
