.MyStylistsPage-headerMargin {
  padding-top: pxtovw(12px);
}

.MyStylistsPage-tabsMargin {
  margin-top: pxtovw(26px);
}

.MyStylistsPage-noStylistsMargin {
  margin-top: pxtovw(155px);
}

.MyStylistsPage-noStylistsMarginTitle {
  margin-bottom: pxtovw(9px);
  font-size: pxtovw(16px);
}
