<ion-header madeHeader>
  <ion-toolbar no-padding>
    <div class="Made-wp MyStylistsPage-headerMargin">
      <div class="Badge-H1 flexBetween">
        <div data-test-id="myStylistsTitle">
          My Stylists <span *ngIf="totalStylistsCount && totalStylistsCount > 0" class="Badge">{{ totalStylistsCount }}</span>
        </div>

        <button
          *ngIf="isStylistsSearchButtonVisible()"
          (click)="goToStylistsSearch()"
          class="Button button-mini"
          data-test-id="goToStylistSearch"
          ion-button>
          <b>Add Stylist</b>
        </button>
      </div>

      <div class="Tabs-box MyStylistsPage-tabsMargin">
        <div class="Tabs-wp">
          <button
            (click)="onTabChange(MyStylistsTabs.madeStylists)"
            [class.active]="tabs[MyStylistsTabs.madeStylists].name === activeTab"
            ion-button clear color="dark" class="Tabs-btn">
            {{ TabNames.madeStylists }} &nbsp; <b>{{ tabs[MyStylistsTabs.madeStylists].stylists?.length || 0 }}</b>
          </button>
          <button
            (click)="onTabChange(MyStylistsTabs.savedStylists)"
            [class.active]="tabs[MyStylistsTabs.savedStylists].name === activeTab"
            ion-button clear color="dark" class="Tabs-btn" data-test-id="savedStylistsBtn">
            {{ TabNames.savedStylists }} &nbsp; <b>{{ tabs[MyStylistsTabs.savedStylists].stylists?.length || 0 }}</b>
          </button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-refresher [enabled]="refresherEnabled" (ionRefresh)="onRefresh($event)" class="Refresh">
    <ion-spinner></ion-spinner>
  </ion-refresher>

  <ion-slides (ionSlideDrag)="onEnableRefresher(false)" (touchend)="onEnableRefresher(true)" (ionSlideDidChange)="onTabSwipe()" no-padding class="Tabs-slides">
    <ion-slide class="Tabs-slide" data-test-id="madeStylistsTabList">
      <div *ngIf="!tabs[MyStylistsTabs.madeStylists].loaded">
        <ion-spinner></ion-spinner>
      </div>


      <div *ngIf="tabs[MyStylistsTabs.madeStylists].loaded" class="Made-wp Made-wpContent">
        <stylist-card
          *ngFor="let stylist of tabs[MyStylistsTabs.madeStylists].stylists"
          (click)="openStylistPreview(stylist)"
          [stylist]="stylist"></stylist-card>

        <div
          *ngIf="!tabs[MyStylistsTabs.madeStylists].stylists || tabs[MyStylistsTabs.madeStylists].stylists?.length === 0"
          class="MyStylistsPage-noStylistsMargin">
          <div class="MyStylistsPage-noStylistsMarginTitle">You didn't save anyone yet.</div>
          <button (click)="goToStylistsSearch()" ion-button class="Button button-small" data-test-id="goToStylistSearch"><b>Search Stylists</b></button>
        </div>
      </div>
    </ion-slide>


    <ion-slide class="Tabs-slide" data-test-id="savedStylistsTabList">
      <div *ngIf="!tabs[MyStylistsTabs.savedStylists].loaded">
        <ion-spinner></ion-spinner>
      </div>

      <div *ngIf="tabs[MyStylistsTabs.savedStylists].loaded" class="Made-wp Made-wpContent">
        <stylist-card
          *ngFor="let stylist of tabs[MyStylistsTabs.savedStylists].stylists"
          (click)="openStylistPreview(stylist)"
          [stylist]="stylist"></stylist-card>

        <div
          *ngIf="!tabs[MyStylistsTabs.savedStylists].stylists || tabs[MyStylistsTabs.savedStylists].stylists?.length === 0"
          class="MyStylistsPage-noStylistsMargin">
          <div class="MyStylistsPage-noStylistsMarginTitle">You didn't save anyone yet.</div>
          <button (click)="goToStylistsSearch()" ion-button class="Button button-small" data-test-id="goToStylistSearch"><b>Search Stylists</b></button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
