<ion-header madeHeader>
  <ion-toolbar class="contentSidePadding StylistsPage-header">

    <div class="StylistsPage-search">
      <i class="mb-icon-search"></i>
      <ion-item class="FormControl StylistsPage-searchInput">
        <ion-input type="text" placeholder="Type service, stylist or salon name" [formControl]="query" (input)="onSearchStylists()" data-test-id="searchInput"></ion-input>
      </ion-item>
    </div>
    <div class="StylistsPage-search">
      <i class="mb-icon-marker"></i>
      <ion-item class="FormControl StylistsPage-searchInput StylistsPage-locationInput">
        <ion-input type="text" [placeholder]="isLocationInputFocused ? 'Street name, city, state or zip code' : 'Current Location'" [formControl]="locationQuery" (focus)="setLocationInputFocused(true)" (input)="onSearchStylists()" (blur)="setLocationInputFocused(false)" data-test-id="locationInput"></ion-input>
      </ion-item>
    </div>

    <ion-row class="H2 StylistsPage-title" align-items-center justify-content-between>
      <div class="Badge-H2">
        Search stylists
        <span *ngIf="(stylists | async)?.length > 0" class="Badge">{{ (stylists | async)?.length }}<span *ngIf="moreStylistsAvailable | async">+</span></span>
      </div>
      <div *ngIf="(requestState | async) === RequestState.Loading && (stylists | async) !== undefined" class="StylistsPage-loader">searching…</div>
      <div *ngIf="isGeolocationInProcess" class="StylistsPage-loader">checking location…</div>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content class="StylistsPage">
  <div class="contentSidePadding StylistsPage-content">

    <!-- Showing loading cards -->
    <div *ngIf="(requestState | async) === RequestState.Loading && (stylists | async) === undefined" class="StylistsPage-stylists">
      <div *ngFor="let stylist of loadingStylists" class="SharedCard is-loading">
        <div class="StylistsPage-cardSubtitle">&nbsp;</div>
        <div class="StylistsPage-cardTitle">&nbsp;</div>
        <div class="StylistsPage-cardSubtitle">&nbsp;</div>
      </div>
    </div>

    <!-- Showing stylists -->
    <div *ngIf="stylists | async" class="StylistsPage-stylists">
      <div
        *ngFor="let stylist of stylists | async"
        class="StylistsPage-card"
        [ngClass]="{'is-active': stylist.uuid === activeStylist?.uuid}"
        (click)="onContinueWithStylist(stylist)"
        data-test-id="StylistCard">
        <div class="StylistsPage-cardImg" [style.backgroundImage]="'url(' + (stylist.profile_photo_url  || 'assets/icons/stylist-avatar.png') + ')'"></div>
        <div class="StylistsPage-cardSubtitle">{{ stylist.salon_name }}</div>
        <div class="StylistsPage-cardTitle">{{ stylist.first_name }} {{ stylist.last_name }}</div>
        <div *ngIf="stylist.followers_count" [madeLink]="[PageNames.Followers, { stylistUuid: stylist.uuid }]" class="StylistsPage-cardInfo">
          <i class="mb-icon-heart-a"></i>&nbsp;<p class="Link">{{ stylist.followers_count }} MADE Clients</p>
        </div>
        <div class="StylistsPage-cardInfo"><i class="mb-icon-marker"></i>&nbsp; <p>{{ stylist.salon_address }}</p></div>
      </div>
      <div *ngIf="(stylists | async)?.length === 0">
        <ng-container *ngIf="!query.value; else notFound">I'm sorry there are no stylists in your area yet. But check back often we're adding new stylists every day!</ng-container>
        <ng-template #notFound>No stylists found</ng-template>
      </div>
    </div>
  </div>
</ion-content>
