<ion-header madeMenuHeader [hideBackButton]="false">
  <ion-title>
    <div class="Made-h1">All MADE Clients</div>
  </ion-title>
</ion-header>

<ion-content no-padding class="MyClients">
  <ion-refresher (ionRefresh)="onRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="Made-wp Made-wpContent" [class.CenterBlock]="!isLoading && (clients | async)?.length === 0">
    <ng-container *ngIf="(clients | async)?.length === 0; else clientsList">
      <span>There are no clients in your area yet.</span>
    </ng-container>

    <ng-template #clientsList>
      <client-item *ngFor="let client of clients | async" [client]="client" [fullnameOnly]="true" [showArrow]="false"></client-item>
    </ng-template>
  </div>
</ion-content>
