<ion-header madeBackHeader></ion-header>

<ion-content no-padding>
  <made-nav [activePage]="PageNames.CalendarExample"></made-nav>

  <div class="Made-wp Made-wpContent">
    <ion-row>
      <div class="Made-h1" col-8 no-padding>
        Example: What Clients See
      </div>

      <user-name-photo
        [firstName]="'User'"
        [lastName]="'Example'"
        [photoUrl]="'assets/icons/example-user.png'"
        col-4>
      </user-name-photo>
    </ion-row>

    <div class="CalendarExample-Subtitle">View your own calendar after registration.</div>

    <services-header-list [services]="services" [readonly]="false" (deleteService)="onDeleteService()">
    </services-header-list>

    <price-calendar [prices]="prices"></price-calendar>
  </div>
</ion-content>

<ion-footer madeContinueFooter [title]="'Continue'" (continue)="onContinue()"></ion-footer>
