<ion-header madeBackHeader></ion-header>

<ion-content no-padding>
  <made-nav [activePage]="PageNames.CalendarExample"></made-nav>

  <div class="Made-wp Made-wpContent">
    <ion-row>
      <div class="Made-h1" col-8 no-padding>
        How Pricing Works
      </div>

      <user-name-photo
        [firstName]="profile?.first_name"
        [lastName]="profile?.last_name"
        [photoUrl]="profile?.profile_photo_url ? profile.profile_photo_url : 'assets/icons/stylist-avatar.png'"
        col-4>
      </user-name-photo>
    </ion-row>

    <div class="CalendarExample-Subtitle">Add any promos you like, as days fill prices auto increase back to full rate!</div>

    <services-header-list [services]="services" [readonly]="false" (deleteService)="onDeleteService()">
    </services-header-list>

    <price-pair [regularPrice]="200"></price-pair>

    <price-calendar [prices]="prices"></price-calendar>
  </div>
</ion-content>

<ion-footer madeContinueFooter [title]="'Continue'" (continue)="onContinue()"></ion-footer>
