page-discounts-info {
  .DiscountsInfo-title {
    padding-top: pxtovw(2px);
    font-size: pxtovw(29px);
    font-weight: 600;
    line-height: pxtovw(33px);
    text-align: center;
    letter-spacing: pxtovw(-0.4px);
  }

  .Discounts-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxtovw(96px);
    height: pxtovw(96px);
    padding: pxtovw(10px);
    margin: pxtovw(21px) auto pxtovw(24px);
    border: 1px solid color($colors, color23);
    border-radius: 50%;

    img {
      height: pxtovw(58px);
    }
  }

  .Discounts-list {
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: pxtovw(16px);
    font-size: pxtovw(18px);
    line-height: pxtovw(24px);
    color: color($colors, color24);
    letter-spacing: pxtovw(-0.2px);
  }

  .Discounts-listNum {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: pxtovw(25px);
    height: pxtovw(25px);
    margin-right: pxtovw(8px);
    font-size: pxtovw(16px);
    color: color($colors, color24);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 50%;
  }
}

.Discounts-textOffset {
  min-height: pxtovw(145px);
}

