<div class="ServiciesHeader">

  <span class="ServiciesHeader-title">Services:</span>
  
  <div class="ServiciesHeader-container">
    <div *ngFor="let service of services" class="ServiciesHeader-seviceItem">
      <div class="ServiciesHeader-seviceName"> {{ service.name }}</div>
      <ion-icon *ngIf="!readonly && services.length > 1" class="ServiciesHeader-serviceItemClose" name="ios-close" (click)="onDelete(service)"></ion-icon>
    </div>
  
    <div *ngIf="!readonly" class="ServiciesHeader-seviceAdd">
      <ion-icon name="ios-add-circle-outline" (click)="onAdd()"></ion-icon>
    </div>
  
  </div>
  
</div>