page-settings {
  .DiscountsList-row {
    font-size: $t-h4;
  }

  .SettingsTitleMargin {
    margin: 0;
    margin-top: pxtovw(16px);
    border-bottom: none;
  }

  .SettingsLink {
    color: color($colors-shared, lightSalmon);
    text-transform: none;
  }

  .Settings-stripe {
    img {
      $img-size: pxtovw(24px);

      width: $img-size;
      height: $img-size;
      margin-right: pxtovw(12px);
    }
  }
}
