<ion-header madeMenuHeader [hideBackButton]="true">
  <ion-title>
    <div class="Made-h1">Settings</div>
  </ion-title>
</ion-header>


<ion-content no-padding>
  <div class="Settings Made-wp Made-wpContent">
    <ion-list class="ServicesLis-item">
      <ion-row (click)="!settings?.google_calendar_integrated && navigateTo(PageNames.CalendarPriming)" class="DiscountsList-row" data-test-id="settingsGoogleCalendar">
        <ion-col no-padding col-8 class="DiscountsList-col">
          Google Calendar
        </ion-col>

        <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
          <span></span>
          <div *ngIf="!settings?.google_calendar_integrated; else integratedTpl" class="SettingsLink">Link</div>
          <ng-template #integratedTpl>Linked</ng-template>
        </ion-col>
      </ion-row>

      <div class="ServicesLis-title without-border SettingsTitleMargin" data-test-id="settingsPayoutTitle">Payout Method</div>

      <!-- Stripe Connect -->
      <ion-row data-test-id="settingsPayout" class="DiscountsList-row"
        *ngIf="settings?.can_checkout_with_made; else addPayoutTpl"
        (click)="navigateToAddPayout()">
          <ion-col no-padding col-8 class="DiscountsList-col">
            <ion-row align-items-center class="Settings-stripe">
              <img src="assets/icons/stripe@3x.png" />
              <span>Stripe</span>
            </ion-row>
          </ion-col>
          <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
            <span></span>
            <ion-icon name="ios-arrow-forward-outline"></ion-icon>
          </ion-col>
      </ion-row>

      <ng-template #addPayoutTpl>
        <settings-payment (addPayment)="navigateToAddPayout()"></settings-payment>
      </ng-template>

      <div class="ServicesLis-title without-border SettingsTitleMargin" data-test-id="settingsTaxTitle">Taxes and Fees</div>

      <ion-row (click)="navigateToTaxRate()" data-test-id="settingsTaxRate" class="DiscountsList-row">
        <ion-col no-padding col-8 class="DiscountsList-col">
          Tax Rate
        </ion-col>

        <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
          <div>{{ (settings?.tax_percentage || 0) | number: '1.2' }}%</div>
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <div class="ServicesLis-title without-border SettingsTitleMargin" data-test-id="settingsAboutTitle">About MADE</div>

      <ion-row (click)="navigateTo(PageNames.CalendarExample, {params: {isRootPage: true}})" data-test-id="settingsCalendarExample" class="DiscountsList-row">
        <ion-col no-padding col-8 class="DiscountsList-col">
          How MADE applies discounts
        </ion-col>

        <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
          <span></span>
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row (click)="navigateTo(PageNames.WelcomeToMade, {params: {isRootPage: true}})" data-test-id="settingsWelcomeToMade" class="DiscountsList-row">
        <ion-col no-padding col-8 class="DiscountsList-col">
          How MADE works
        </ion-col>

        <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
          <span></span>
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>

      <div (click)="onContactByEmail('faq@madebeauty.com')" data-test-id="settingsEmail" class="Email">
        FAQ@madebeauty.com
      </div>
    </ion-list>
  </div>
</ion-content>
