made-nav {
  .Nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: pxtovw(19px) auto pxtovw(12px);
  }

  .Nav-item {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    transform: translateY(-1px);

    &.right {
      direction: rtl;
    }
  }

  .Nav-itemEl {
    display: inline-block;
    vertical-align: middle;
  }

  .Nav-itemElDot {
    position: relative;
    display: inline-block;
    width: pxtovw(8px);
    height: pxtovw(8px);
    margin: 0 pxtovw(4px);
    vertical-align: middle;
    background: color($colors, bb_skin);
    border: 1px solid transparent;
    border-radius: 50%;


    &.white {
      background: color($colors, white);
      border-color: rgba(0, 0, 0, 0.2);
    }

    &.plus:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      font-family: "Ionicons", sans-serif;
      font-size: pxtovw(7px);
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      color: color($colors, lightSalmon);
      speak: none;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f102";
      transform: translate(-50%, -50%);
    }
  }

  .Nav-itemElLine {
    display: inline-block;
    width: pxtovw(43px);
    height: 1px;
    margin: 0 pxtovw(8px);
    vertical-align: middle;
    background: color($colors, bb_skin);
  }

  .Nav-active {
    margin: 0 pxtovw(5px);
    font-size: pxtovw(10.7px);
  }
}

