made-nav {
  .Nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: pxtorem10(15) 0 pxtorem10(9);

    @media ($phone-md) {
      margin: pxtorem10(22) 0 pxtorem10(12);
    }

    @media ($phone-lg) {
      margin: pxtorem10(28) 0 pxtorem10(14);
    }
  }

  .Nav-item {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    transform: translateY(-2px);

    @media ($phone-md) {
      transform: translateY(-1px);
    }

    &.right {
      direction: rtl;
    }
  }

  .Nav-itemEl {
    display: inline-block;
    vertical-align: middle;
  }

  .Nav-itemElDot {
    position: relative;
    display: inline-block;
    width: pxtorem10(7);
    height: pxtorem10(7);
    margin: 0 pxtorem10(5);
    vertical-align: middle;
    background: color($colors, bb_skin);
    border: 1px solid transparent;
    border-radius: 50%;

    @media ($phone-md) {
      width: pxtorem10(9);
      height: pxtorem10(9);
      margin: 0 pxtorem10(7);
    }

    &.white {
      background: color($colors, white);
      border-color: rgba(0, 0, 0, 0.2);
    }

    &.plus:after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      font-family: "Ionicons", sans-serif;
      font-size: pxtorem10(6);
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: pxtorem10(7);
      color: color($colors, color5);
      speak: none;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f102";
      transform: translate(-50%, -50%);

      @media ($phone-md) {
        font-size: pxtorem10(7);
      }

      @media ($phone-lg) {
        font-size: pxtorem10(8);
      }
    }
  }

  .Nav-itemElLine {
    display: inline-block;
    width: pxtorem10(38);
    height: 1px;
    margin: 0 pxtorem10(4);
    vertical-align: middle;
    background: color($colors, bb_skin);

    @media ($phone-md) {
      width: pxtorem10(45);
    }

    @media ($phone-lg) {
      width: pxtorem10(50);
      margin: 0 pxtorem10(5);
    }
  }

  .Nav-active {
    margin: 0 pxtorem10(9);
    font-size: pxtorem10(9);

    @media ($phone-md) {
      margin: 0 pxtorem10(8);
      font-size: pxtorem10(11);
    }

    @media ($phone-lg) {
      margin: 0 pxtorem10(10);
      font-size: pxtorem10(12);
    }
  }
}

