.ProfilePage {
  .ProfilePage-title {
    font-size: $t-h2;
    font-weight: 500;
  }

  .ProfilePage-completion {
    margin-top: 16px;
  }

  .ProfilePage-completionBar {
    $bar-height: 4px;
    $bar-border-radius: 4px;

    position: relative;
    width: 227px;
    height: $bar-height;
    margin-top: 8px;
    background: color($grayscale, 300);
    border-radius: $bar-border-radius;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 65px;
      height: $bar-height;
      content: '';
      background: color($colors, orange);
      border-radius: $bar-border-radius 0 0 $bar-border-radius;
    }
  }

  .ProfilePage-edit {
    margin: 16px auto 45px;
  }

  .ProfilePage-table {
    font-size: $t-base;
  }

  .ProfilePage-arrow {
    text-align: right;
  }

  .ProfilePage-tableCenteredText {
    text-align: center;
  }

  .ProfilePage-logout {
    font-weight: 500;
    color: color($colors, danger);
  }
}
