.AuthConfirmPage {
  $maxCodeLength: 6;
  $digitWidth: 38px;
  $digitHeight: 48px;
  $digitOffset: 8px;
  $width: $digitWidth *  $maxCodeLength + $digitOffset * ($maxCodeLength - 1);

  .AuthConfirmPage-codeControl {
    width: $width;
    margin-top: 64px;

    .text-input { // ionic’s
      width: 100%;
      padding-left: 13.2px;
      font-size: $t-h3;
      letter-spacing: 34.4px;
    }

    &.item-block .item-inner,
    &.item-input-has-focus .item-inner { // ionic’s
      border-bottom: none;
    }
  }

  .AuthConfirmPage-digits {
    position: relative;
    width: $width;
    margin-bottom: 122px;
    pointer-events: none;

    &.is-withError .AuthConfirmPage-digit {
      border-color: color($colors, danger);
    }
  }

  .AuthConfirmPage-digit {
    position: absolute;
    top: -1 * $digitHeight;
    width: $digitWidth;
    height: $digitHeight;
    border: 1px solid color($grayscale, 200);
    border-radius: 4px;

    @for $i from 1 through $maxCodeLength {
      &.is-number#{$i} {
        left: ($digitWidth + $digitOffset) * ($i - 1);
      }
    }
  }

  .AuthConfirmPage-error {
    width: 100%;
    margin-top: 4px;
    color: color($colors, danger);
    text-align: center;
  }

  .AuthConfirmPage-phoneNumber {
    margin-top: 12px;
  }
}
