<ion-header madeHeader></ion-header>

<ion-content class="AuthConfirmPage">
  <ion-grid fixed>
    <ion-row justify-content-center>
      <div class="H1">
        Verification code
        <div class="H1-subtitle">
          We’ve sent you a&nbsp;code via text&nbsp;to
        </div>
      </div>
    </ion-row>
    <ion-row *ngIf="phone" class="AuthConfirmPage-phoneNumber" justify-content-center>
      <span>{{ phone | formatPhone }}&nbsp;</span><span class="Link" (click)="navCtrl.pop()">Edit</span>
    </ion-row>
    <ion-row>
      <form (ngSubmit)="submit()">
        <ion-row justify-content-center>
          <ion-item class="FormControl AuthConfirmPage-codeControl">
            <ion-input #input type="tel" ngxInputNumber [formControl]="code" [disabled]="isLoading" (keydown)="onAutoblurCode($event)" (focus)="onFocusCode()"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <div class="AuthConfirmPage-digits" [ngClass]="{'is-withError': error | async | hasError:invalidCodeError}">
            <div *ngFor="let digit of digits; let index = index" class="AuthConfirmPage-digit is-number{{ index + 1 }}"></div>
            <div *ngIf="error | async | hasError:invalidCodeError" class="AuthConfirmPage-error">
              Please enter a&nbsp;valid code
            </div>
          </div>
        </ion-row>
      </form>
    </ion-row>
    <ion-row justify-content-center>
      <span *ngIf="(confirmCodeState | async) === RequestState.Loading">
        Verifying the code…
      </span>
      <span *ngIf="(confirmCodeState | async) !== RequestState.Loading">
        <span *ngIf="(requestCodeState | async) === RequestState.Succeeded">
          You can send a&nbsp;new code in&nbsp;{{ resendCodeCountdown | async }}
        </span>
        <span *ngIf="(requestCodeState | async) === RequestState.NotStarted">
          Didn’t get a&nbsp;code? <span class="Link" (click)="onResendCode()">Send a&nbsp;new one</span>
        </span>
        <span *ngIf="(requestCodeState | async) === RequestState.Loading">
          Sending a&nbsp;new code…
        </span>
      </span>
    </ion-row>
  </ion-grid>
</ion-content>
