<ion-header madeHeader></ion-header>

<ion-content class="AuthConfirmPage">
  <ion-grid fixed>
    <ion-row justify-content-center>
      <div class="H1">
        Verification code
        <div class="H1-subtitle">
          We’ve just sent you a&nbsp;code via text&nbsp;to
        </div>
      </div>
    </ion-row>
    <ion-row *ngIf="phone" class="AuthConfirmPage-phoneNumber" justify-content-center>
      <span>{{ phone | formatPhone }}&nbsp;</span><span class="Link" (click)="navCtrl.pop()">Edit</span>
    </ion-row>
    <ion-row>
      <form (ngSubmit)="submit()">
        <ion-row justify-content-center>
          <ion-item class="FormControl AuthConfirmPage-codeControl">
            <ion-input #input type="tel" ngxInputNumber [formControl]="code" [disabled]="isLoading" (keydown)="autoblurCode($event)"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row justify-content-center>
          <div class="AuthConfirmPage-digits" [ngClass]="{'is-withError': errors | async | hasError:invalidCodeError}">
            <div *ngFor="let digit of digits; let index = index" class="AuthConfirmPage-digit is-number{{ index + 1 }}"></div>
            <div *ngIf="errors | async | hasError:invalidCodeError" class="AuthConfirmPage-error">
              Please enter a&nbsp;valid code
            </div>
          </div>
        </ion-row>
      </form>
    </ion-row>
    <ion-row justify-content-center>
      <span *ngIf="(sendCodeState | async) === AuthSendCodeState.Timeout">
        You can send a new code in {{ resendCodeCountdown | async }}
      </span>
      <span *ngIf="(sendCodeState | async) === AuthSendCodeState.NotStarted">
        Didn’t get a&nbsp;code? <span class="Link" (click)="resendCode()">Send a&nbsp;new one</span>
      </span>
      <span *ngIf="(sendCodeState | async) === AuthSendCodeState.InProgress">Sending new code…</span>
      <!-- <span *ngIf="sendCodeState === AuthSendCodeState.VerificationInProgress">Verifying the code…</span> -->
    </ion-row>
  </ion-grid>
</ion-content>
