<div class="icons-wp">
  <i class="mb-icon-wash-and-style"></i>
  <i class="mb-icon-wash-and-style-a"></i>
  <i class="mb-icon-clock"></i>
  <i class="mb-icon-clock-a"></i>
  <i class="mb-icon-invite"></i>
  <i class="mb-icon-invite-a"></i>
  <i class="mb-icon-stylists"></i>
  <i class="mb-icon-stylists-a"></i>
  <i class="mb-icon-plus"></i>
  <i class="mb-icon-timer"></i>
  <i class="mb-icon-discounts"></i>
  <i class="mb-icon-braids-and-locs"></i>
  <i class="mb-icon-special-occassions"></i>
  <i class="mb-icon-home"></i>
  <i class="mb-icon-home-a"></i>
  <i class="mb-icon-home-b"></i>
  <i class="mb-icon-discounts-c"></i>
  <i class="mb-icon-discounts-a"></i>
  <i class="mb-icon-discounts-b"></i>
  <i class="mb-icon-right-arrow"></i>
  <i class="mb-icon-circle-check"></i>
  <i class="mb-icon-triangle-down"></i>
  <i class="mb-icon-send"></i>
  <i class="mb-icon-camera"></i>
  <i class="mb-icon-calendar"></i>
  <i class="mb-icon-logo"></i>
  <i class="mb-icon-trash"></i>
  <i class="mb-icon-phone"></i>
  <i class="mb-icon-clock-b"></i>
  <i class="mb-icon-circle"></i>
  <i class="mb-icon-faq"></i>
  <i class="mb-icon-dots"></i>
  <i class="mb-icon-chain"></i>
  <i class="mb-icon-mail"></i>
  <i class="mb-icon-chain-a"></i>
  <i class="mb-icon-dollar"></i>
  <i class="mb-icon-heart"></i>
  <i class="mb-icon-calendar-add"></i>
  <i class="mb-icon-hair"></i>
  <i class="mb-icon-treatments"></i>
  <i class="mb-icon-color"></i>
  <i class="mb-icon-cuts"></i>
  <i class="mb-icon-extensions"></i>
  <i class="mb-icon-check"></i>
  <i class="mb-icon-conditioners"></i>
  <i class="mb-icon-search"></i>
  <i class="mb-icon-cross"></i>
  <i class="mb-icon-arrow-left"></i>
  <i class="mb-icon-circle-add"></i>
  <i class="mb-icon-woman"></i>
  <i class="mb-icon-marker"></i>
  <i class="mb-icon-badge"></i>
  <i class="mb-icon-phone-a"></i>
  <i class="mb-icon-instagram"></i>
  <i class="mb-icon-money"></i>
  <i class="mb-icon-globe"></i>
  <i class="mb-icon-lock"></i>
  <i class="mb-icon-users"></i>
  <i class="mb-icon-heart-fill"></i>
  <i class="mb-icon-booking"></i>
</div>
