<ion-header madeMenuHeader [hideBackButton]="true">
  <ion-title>
    <div class="Made-h1">
      <span (click)="onDateAreaClick()" class="Made-h1" data-test-id="selectDate">
        {{ selectedDate.format('MMMM') }}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </span>
    </div>
  </ion-title>

  <ion-buttons end>
    <button (click)="onChangeTimeGapClick()" ion-button clear class="HomeSlots-menuBtn" data-test-id="onChangeTimeGapClick">
      <i class="mb-icon-settings HomeSlots-icon"></i>
    </button>
    <button [disabled]="isShowingToday()" (click)="onTodayNavigateClick()" ion-button clear class="HomeSlots-menuBtn" data-test-id="onTodayNavigateClick">
      <i class="mb-icon-today HomeSlots-icon"></i>
    </button>
  </ion-buttons>

  <ion-toolbar>
    <horizontal-calendar
      [selectedDate]="selectedDate"
      [weekdays]="weekdays"
      (changeDate)="onSelectedDateChange($event)"></horizontal-calendar>

    <div *ngIf="isFullyBlocked" (click)="onBlockedDayClick()" class="HomeSlots-blockedDay">Blocked Day</div>
  </ion-toolbar>

</ion-header>

<ion-content no-padding>

  <ion-fab right bottom>
    <button ion-fab (click)="onAddAppointmentClick()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <time-slots [appointments]="data?.appointments" [showCurTimeIndicator]="isShowingToday()" (freeSlotClick)="onFreeSlotClick($event)"
    (appointmentClick)="onAppointmentClick($event)" [startHour]="data.work_start_at" [endHour]="data.work_end_at"
    [slotIntervalInMin]="data.service_time_gap_minutes" [selectedDate]="selectedDate"
    [highlightedAppointment]="this.highlightedAppointment"></time-slots>

</ion-content>
