home-slots {
  .HomeSlotsHeader {
    font-size: pxtovw(28px);
    font-weight: map-get($fontWeights, semibold);
    margin: pxtovw(8px) 0 pxtovw(8px) pxtovw(72px);
  }

  .HomeSlotsSubheader {
    display: flex;
    align-items: center;
  }

  .HomeSlotsDateIndicator {
    margin-left: pxtovw(36px);
  }

  .HomeSlotsSubheader {
  }

  .HomeSlotsWeekdayName {
    font-size: pxtovw(18px);
  }

  .HomeSlotsMonthAndDay {
    display: flex;
    color: color($colors, warmGrey);
    font-size: pxtovw(13px);
  }

  .HomeSlotsDayOfMonth {
    font-weight: map-get($fontWeights, semibold);
  }

  .HomeSlotsUpcomingAndPast {
    display: flex;
    flex-grow: 1;
  }

  .HomeSlotsUpcomingAndPast a {
    color: color($colors, lightSalmon);
    font-size: pxtovw(18px);
    white-space: nowrap;
    margin-left: pxtovw(16px);
  }
}
