.DiscountsList-head {
  font-size: pxtovw(13px);
  color: color($shared-colors, color1);
}

.DiscountsList-row {
  padding: pxtovw(11px) 0;
  font-size: pxtovw(14px);
  border-bottom: 1px solid color($grayscale, 200);
}

.DiscountsList-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DiscountsList-colIcon {
  ion-icon {
    padding-right: pxtovw(7px);
    font-size: pxtovw(25px);
    color: rgba(0, 0, 0, 0.3);
  }
}
