page-invitations {
  .skip-link {
    font-size: pxtovw(18px);
    color: color($grayscale, 800);
    text-transform: none;
  }

  .access-denied,
  .loading-message {
    margin: pxtovw(24px) 0;
    font-size: pxtovw(15px);
  }

  .section-name {
    border-bottom: 1px solid color($grayscale, 100);

    h3 {
      padding-bottom: 0;
      margin: 0;
      font-size: pxtovw(13px);
      color: color($grayscale, 300);
    }
  }

  .search-box {
    padding: pxtovw(8px) pxtovw(5px);
    margin: inherit 15px;
    background: color($colors, white);
    border-radius: pxtovw(5px);
    box-shadow: 0 0 pxtovw(50px) pxtovw(15px) color($colors, color7);

    input {
      font-size: pxtovw(15px);
    }

    ion-icon {
      margin-top: pxtovw(3px);
      font-size: pxtovw(15px);

      &[name="close"] {
        font-size: pxtovw(24px);
      }
    }
  }

  .search-input {
    width: 100%;

    .contact-name {
      display: inline-block;
      width: fit-content;
      padding: pxtovw(4px) pxtovw(3px);
      margin: 0 3px 3px 0;
      font-size: pxtovw(18px);
      background: color($colors, bb_beige);
      border-radius: pxtovw(7px) 0 0 pxtovw(7px);

      ion-icon {
        margin-top: 0;
        font-size: pxtovw(16px);
      }
    }

    .text-input-md {
      margin: 0;
    }
  }

  .search-icon,
  .search-cancel {
    max-width: pxtovw(23px);
  }

  .contact-details {
    padding: 0 pxtovw(5px);
    font-size: pxtovw(13px);
    color: color($colors, color24);
    border-bottom: 1px solid color($grayscale, 100);

    .name {
      font-size: pxtovw(18px);
      font-weight: 500;
      color: black;
    }

    .status {
      padding-right: pxtovw(10px);
      text-align: right;

      .invited {
        font-size: pxtovw(15px);
        color: color($colors, primary);
      }

      .accepted {
        font-size: pxtovw(15px);
        color: color($colors, color27);
      }

      .selected {
        font-size: pxtovw(16px);
      }
    }
  }

  .no-contacts {
    padding-top: pxtorem10(14);
    font-size: pxtovw(15px);
    text-align: center;
  }

  .gray-button {
    padding: 25px;
    font-size: pxtovw(15px);
    text-transform: none;
    background-color: color($colors, white);
    border: 1px solid color($grayscale, 200);
    border-radius: 5px;
    box-shadow: none;
  }

  .wide-btn {
    padding: 25px;
    font-size: pxtovw(15px);
  }
}
