page-invitations {

  .p-i {
    &-title{
      font-size: pxtoem(40);
      font-weight: bold;
      padding: pxtoem(20) 0px pxtoem(4);

      @media ($phone) {
        font-size: pxtoem(30);
      }
    }
  }

  .section-name{
    border-bottom: 1px solid color($grayscale, 100);

    h3 {
      color: lightgrey; 
      font-size: pxtorem10(14); 
      margin: 0px !important;
      padding-bottom: 0px ;
    }
  }
  .search-box{
    border-radius: 5px;
    padding: 8px 5px;
    margin-bottom: pxtorem10(30);
    background: color($colors, white);
    box-shadow: 0 0 50px 15px color($colors, color7);
    
    input{font-size:pxtorem10(16);}
    .icon{
      font-size: pxtorem10(16);
      margin-top: 3px;
    }
  }

  .search-input{
    width:100%;
 
    .contact-name{
      background: color($colors, bb_beige); 
      margin:0px 3px 3px 0px; 
      width:fit-content; 
      padding: 4px 3px;
      border-radius: 7px 0px 0px 7px; 
      float: left;

      .icon{
        margin-top: 0px;
        font-size: pxtorem10(12);
      }
    }

    .text-input-md{margin:0px;}
  }
  
  .search-icon, .search-cancel{
    max-width: 23px;
  }
  
  .contact-details{
    padding: 7px 0px 5px 0px;
    border-bottom:1px solid color($grayscale, 100);
    color: darkgrey; 
    font-size: pxtorem10(14);

    .name{
      color: black;
      font-weight: 300; 
      font-size: pxtorem10(18);
    }
    .status{
      text-align: right;
      padding-right: 10px;

      .invited{color:#F4C5AD;}
      .accepted{color:#7ed321;}
      .icon {font-size: pxtorem10(30);}
    }  

  }
  
  .no-contacts{
    font-size: pxtorem10(18);
    padding-top: pxtorem10(14);
    text-align: center; 
  }

  .gray-button{
    border-radius: 5px;
    background-color: #fafaf9;
    border: 1px solid color($grayscale, 200);
    text-transform: none;
    padding: 10px;
    -webkit-box-shadow: none;
  	-moz-box-shadow: none;
	  box-shadow: none;

  }
}