<ion-header class="madeBackHeader">
  <ion-navbar [class.is-hiddenBackButton]="isMainScreen" class="Made-wp BackHeader-backBtn">
    <ion-buttons [hidden]="isMainScreen" end>
      <button ion-button icon-only (click)="onSkip()">
        <span class="skip-link">Skip</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <made-nav *ngIf="!isMainScreen" [activePage]="PageNames.Invitations"></made-nav>

  <div class="Made-wp Made-wpContent">
    <div class="Made-h1">Invite clients</div>

    <!-- This is shown if we do not have persmissions to read phone contacts -->
    <div *ngIf="!canReadPhoneContacts && !loadingContacts" class="Made-text">
      <div class="Made-textItem">
        To be able to invite your contacts turn on permissions in
        <a (click)="onSettingsClick()">settings</a>.
      </div>
    </div>

    <!-- This is shown while we are loading the data. It should appear briefly only -->
    <div *ngIf="loadingContacts" class="loading-message">
      Loading your contacts, please wait...
      <br/>
      <ion-spinner duration="500"></ion-spinner>
    </div>

    <ion-grid *ngIf="displayedContacts && !loadingContacts">
      <!-- Search bar area -->
      <ion-row class="search-box" align-items-center>
        <ion-col col1 class="search-icon">
          <ion-icon name="search"></ion-icon>
        </ion-col>
        <ion-col col10 class="search-input" (click)="searchBoxInput.setFocus()">
          <!-- Show all selected contact as tags -->
          <div *ngFor="let contact of selectedContacts" class="contact-name">
            {{ contact.displayName ? contact.displayName : contact.phoneNumber }}
            <ion-icon name="close-circle" clear (click)='onRemoveSelection(contact)'></ion-icon>
          </div>
          <!-- Search input field -->
          <ion-input #searchBoxInput placeholder="Search name or phone number" (input)="onSearchChange()" [(ngModel)]="searchInput"></ion-input>
        </ion-col>

        <ion-col col1 class="search-cancel">
          <!-- Search cancellation button -->
          <ion-icon name="close" clear (click)='onSearchCancel()'></ion-icon>
        </ion-col>
      </ion-row>

      <!-- If there is any search input that looks like a phone number show the Add Contact button -->
      <ion-row *ngIf="seachInputIsLikePhoneNumber">
        <ion-col>
          <button ion-button full (click)="onAddManualContact()" class="gray-button">Add contact</button>
        </ion-col>
      </ion-row>

      <!-- Display all contacts grouped into sections-->
      <div *ngFor="let section of displayedContacts">
        <!-- Section name -->
        <ion-row class="section-name">
          <ion-col col-12>
            <h3>{{ section.sectionName || '-' }}</h3>
          </ion-col>
        </ion-row>

        <!-- Contacts in the section -->
        <div *ngFor="let contact of section.items" (click)="onContactClick(contact)">
          <ion-row class="contact-details">
            <!-- Contact details -->
            <ion-col col-9>
              <span class="name" [innerHtml]="formatField(contact, 'displayName')"></span>
              <br *ngIf="contact.item.displayName" />
              <span [innerHtml]="formatField(contact, 'phoneNumber')"></span>&nbsp;&nbsp;
              <span>{{ contact.item.type ? contact.item.type : '' }}</span>
            </ion-col>

            <!-- Contact status -->
            <ion-col col-3 align-self-center class="status">
              <span *ngIf="contact.item.status === InvitationStatus.Invited" class="invited">Invited</span>
              <span *ngIf="contact.item.status === InvitationStatus.InvitationPending" class="invited">Pending</span>
              <span *ngIf="contact.item.status === InvitationStatus.InvitationFailed" class="invited">Failed</span>
              <span *ngIf="contact.item.status === InvitationStatus.Accepted" class="accepted">Accepted</span>
              <ion-icon *ngIf="contact.item.selected" name="checkmark" class="selected"></ion-icon>
            </ion-col>
          </ion-row>
        </div>

        <!-- If there is any search input and no search results show appropriate message -->
        <ion-row *ngIf="searchInput && displayedContacts.length === 1 && section.items.length === 0">
          <ion-col class="no-contacts">
            No results found
          </ion-col>
        </ion-row>

      </div>

    </ion-grid>
  </div>
</ion-content>
<ion-footer (continue)="onInviteClients()" [title]="'Invite clients'" madeContinueFooter></ion-footer>
