<ion-header class="ion-bb-header">
  <ion-navbar>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <bb-nav [activePageIndex]="6"></bb-nav>

  <div class="p-i-top">
    <div class="p-i-title">Invite your clients</div>
  </div>

  <ion-grid class="p-i-table">
    <ion-row class="p-i-table-row">
      <ion-col col-6 class="p-i-table-row-col">
        <div class="p-i-text">Invitations sent {{ invitationsSent }}</div>
      </ion-col>
      <ion-col col-6 class="p-i-table-row-col">
        <div class="p-i-text">Invitations accepted {{ invitationsAccepted }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="p-i-table invitations-table">
    <ion-row class="p-i-table-row" *ngFor="let invitation of invitations">
      <ion-col col-6 class="p-i-table-row-col">
        {{ invitation.phone }}
      </ion-col>
      <ion-col col-3 class="p-i-table-row-col">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label>Invite new customer:</ion-label>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="phoneNumber" placeholer="Enter client's phone number"></ion-input>
    <button color="dark" clear item-right (click)="addContact()">Add</button>
  </ion-item>

  <button ion-button block color="white" (click)="pickContact()">Add from Address Book</button>

  <button ion-button block color="dark" (click)="sendInvitations()">Send Invitation</button>

</ion-content>