<ion-header madeHeader [showHome]="true">
  <ion-toolbar *ngIf="isAdditionalService" class="SelectDate SelectDate-header">
    <div class="SelectDate-title SharedH1">Add additional service:</div>
    <book-services-header [readonly]="isAdditionalService"></book-services-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ServicesPage">
  <div class="contentSidePadding SelectDate-header">
    <ion-row *ngIf="!isAdditionalService" justify-content-between>
      <div class="Made-h1">Select Service</div>

      <ng-container *ngIf="bookingData?.stylist">
        <user-name-photo [firstName]="bookingData.stylist?.first_name" [lastName]="bookingData.stylist?.last_name" [photoUrl]="bookingData.stylist?.profile_photo_url"></user-name-photo>
      </ng-container>
    </ion-row>

    <ion-row justify-content-center>
      <div *ngIf="category | async" [style.backgroundImage]="'url(' + 'assets/icons/services-categories/' + (category | async)?.category_code + '.png)'" class="ServicesPage-img"></div>
    </ion-row>
    <ion-row justify-content-center>
      <ion-row class="SharedH1" align-items-center>
        <span data-test-id="categoryName">{{ (category | async)?.name }}</span>
        <span *ngIf="services | async" class="Badge" data-test-id="categoryServiceCountBadge">{{ (services | async)?.length }}</span>
      </ion-row>
    </ion-row>

    <table *ngIf="services | async" class="ServicesPage-services Table">
      <thead class="Table-header">
      <tr class="Table-row">
        <th class="Table-col">Service</th>
        <th colspan="2" class="Table-col">Base Price</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let service of services | async"
        (click)="!(bookingData.hasSelectedService(service) && isAdditionalService) && onServiceClick(service)"
        [class.ServicesPage-disabledRow]="bookingData.hasSelectedService(service) && isAdditionalService"
        [attr.data-test-id]="'service' + service.name">
        <td class="Table-col" data-test-id="serviceName">{{ service.name }}</td>
        <td class="Table-col" data-test-id="servicePrice">{{ service.base_price | price }}</td>
        <td class="ServicesPage-servicesArrow Table-col">
          <i class="mb-icon-right-arrow"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ion-content>
