.ServicesPage {
  .ServicesPage-img {
    $pic-size: pxtovw(80px);

    width: $pic-size;
    height: $pic-size;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .ServicesPage-services {
    margin-top: pxtovw(32px);
  }

  .ServicesPage-servicesArrow {
    text-align: right;
  }

  .ServicesPage-disabledRow {
    color: color($grayscale, 500);
  }
}
