<ion-grid>
  <ion-row>
    <ion-col [madeLink]="[PageNames.Home]" [class.active]="PageNames.Home === activePage" class="u-f-footer-item">
      <i class="bb-icon bb-icon-home"></i>
      Home
    </ion-col>
    <ion-col [madeLink]="[PageNames.Worktime, {isProfile: true}]" [class.active]="PageNames.Worktime === activePage" class="u-f-footer-item">
      <i class="bb-icon bb-icon-history"></i>
      Hours
    </ion-col>
    <ion-col [madeLink]="[PageNames.Discounts]" [class.active]="PageNames.Discounts === activePage" class="u-f-footer-item">
      <i class="bb-icon bb-icon-pricing"></i>
      Discounts
    </ion-col>
    <ion-col [madeLink]="[PageNames.RegisterServicesItem, {isProfile: true}]" [class.active]="PageNames.RegisterServicesItem === activePage" class="u-f-footer-item">
      <i class="bb-icon bb-icon-discounts"></i>
      Services
    </ion-col>
    <ion-col [madeLink]="[PageNames.Profile]" [class.active]="PageNames.Profile === activePage" class="u-f-footer-item">
      <i class="bb-icon bb-icon-invite"></i>
      Profile
    </ion-col>
  </ion-row>
</ion-grid>
