.SelectDate {
  .SelectDate-title {
    padding-bottom: pxtovw(8px);
    margin-top: 0;
    font-weight: 500;
    text-align: left;
  }
}

.SelectDate-header {
  @include content-padding;

  padding-bottom: 0;
}

.SelectDate-notAvailablePopup {
  .alert-wrapper {
    max-width: pxtovw(327px);
  }

  .alert-head {
    padding: 0;
  }

  .alert-title {
    padding: pxtovw(16px) pxtovw(24px) 0;
    font-size: $t-h2;
  }

  .alert-sub-title {
    padding: pxtovw(24px);
    margin: 0;
    font-size: $t-h1;
  }

  .alert-message {
    padding: 0 pxtovw(24px);
    font-size: $t-h4;
    color: color($grayscale, 500);
  }

  .alert-button {
    margin: pxtovw(24px) pxtovw(24px) pxtovw(16px);
    font-weight: normal;
    color: color($colors, honey);
    border: 0;
  }
}

// TODO: move to a sep file
.Calendar {
  .Calendar-title {
    margin-top: pxtovw(24px);
    font-size: $t-h3;
    font-weight: 500;
    color: color($grayscale, 500);
  }

  .Calendar-legend,
  .Calendar-month {
    display: flex;
    flex-wrap: wrap;
  }

  .Calendar-day {
    $day-width: 100 / 7 * 1%;
    $day-height: pxtovw(40px);
    $day-offset: pxtovw(3px);

    width: calc(#{$day-width} - #{$day-offset * 2});
    height: $day-height;
    padding-top: pxtovw(3px);
    margin: $day-offset;
    font-size: $t-base;
    color: color($grayscale, 500);
    text-align: center;

    .Calendar-price {
      font-size: $t-small;
      font-weight: normal;
    }

    .Calendar-selectable {
      width: 100%;
      height: $day-height;
      padding-top: pxtovw(6px);
      margin-top: pxtovw(-3px); // compensates padding-top
      font-weight: bold;
      line-height: pxtovw(15px);
      color: black;
      background: color($grayscale, 200);
      border-radius: pxtovw(4px);

      &.is-fullyBooked,
      &.is-nonWorking {
        font-weight: normal;
        color: color($grayscale, 500);
        background: white !important; // do not allow to override background color from js

        .Calendar-price { // and hide price
          display: none;
        }
      }
    }
  }

  .Calendar-legend {
    margin-bottom: pxtovw(8px);
    border-bottom: pxtovw(1px) solid color($grayscale, 100);

    .Calendar-day {
      height: pxtovw(16px);
      margin-top: pxtovw(8px);
      margin-bottom: pxtovw(8px);
    }
  }
}
