<ion-header madeHeader [showHome]="true">
  <ion-toolbar class="SelectDate SelectDate-header">
    <ion-row justify-content-between>
      <div class="SelectDate-title Made-h1">Select Date</div>

      <ng-container *ngIf="bookingData?.stylist">
        <user-name-photo [firstName]="bookingData.stylist?.first_name" [lastName]="bookingData.stylist?.last_name" [photoUrl]="bookingData.stylist?.profile_photo_url"></user-name-photo>
      </ng-container>
    </ion-row>

    <book-services-header (serviceChange)="onServiceChange()"></book-services-header>

    <price-pair *ngIf="regularPrice && bookingData?.selectedServices?.length !== 0" [regularPrice]="regularPrice"></price-pair>
  </ion-toolbar>
</ion-header>

<ion-content class="SelectDate">
  <ion-grid fixed>
    <div *ngIf="isLoading" class="Spinner">
      <ion-spinner></ion-spinner>
    </div>

    <no-service-selected *ngIf="!bookingData.selectedServices || bookingData.selectedServices?.length === 0"
      (addServiceClick)="onAddService()"></no-service-selected>

    <price-calendar [prices]="prices" (dayClick)="onSelectOffer($event)"></price-calendar>
  </ion-grid>
</ion-content>
