select-date {
  .Pricing {
    margin: pxtovw(16px) 0 pxtovw(4px);
  }
}

.SelectDate {
  .SelectDate-title {
    flex-flow: column;
    padding-bottom: pxtovw(8px);
    margin-top: 0;
    font-weight: 600;
    text-align: left;
  }

  .SelectDate-date {
    width: 100%;
    font-size: pxtovw(16px);
  }
}

.SelectDate-header {
  @include content-padding;

  padding-top: pxtovw(2px);
  padding-bottom: 0;
}

.SelectDate-notAvailablePopup {
  .alert-wrapper {
    max-width: pxtovw(327px);
  }

  .alert-head {
    padding: 0;
  }

  .alert-title {
    padding: pxtovw(16px) pxtovw(24px) 0;
    font-size: $t-h2;
  }

  .alert-sub-title {
    padding: pxtovw(24px);
    margin: 0;
    font-size: $t-h1;
  }

  .alert-message {
    padding: 0 pxtovw(24px);
    font-size: $t-h4;
    color: color($grayscale, 500);
  }

  .alert-button {
    margin: pxtovw(24px) pxtovw(24px) pxtovw(16px);
    font-weight: normal;
    color: color($colors, honey);
    border: 0;
  }
}
