<!-- Show the tag if needed -->
<div
  *ngIf="appointmentTag"
  [ngClass]="appointmentTag"
  class="AppointmentItem-status">
  {{ appointmentTag }}
</div>

<div class="AppointmentItem-wp">
  <div class="AppointmentItem-top">
    <div class="AppointmentItem-topTime">
      {{ appointment.datetime_start_at | date: 'h:mmaaaaa' }}

      <span *ngIf="hasDate" class="AppointmentItem-topTimeDay">{{ appointment.datetime_start_at | date: 'E, LLL dd' }}</span>
    </div>

    <div class="AppointmentItem-topPrice">
      <span class="AppointmentItem-topPriceCur">$</span>{{ appointment.grand_total }}
    </div>
  </div>



  <div class="AppointmentItem-desc">
      <span *ngFor="let service of appointment.services" [hidden]="!service.is_original">
        {{ service.service_name }}
      </span>
  </div>

  <div class="AppointmentItem-name">
    <div [style.background-image]="appointment.client_profile_photo_url ? 'url(' + appointment.client_profile_photo_url + ')' : null" class="AppointmentItem-nameAva"></div>
    {{ appointment.client_first_name }}
    {{ appointment.client_last_name }}
  </div>
</div>
