appointment-item {
  position: relative;
  display: block;
  margin-bottom: pxtorem10(15);
  background: color($colors, white);
  border-radius: 20px;
  box-shadow: 0 0 50px 15px color($colors, color7);

  .AppointmentItem-wp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: pxtoem(33) pxtorem(60);

    @media ($smartphone) {
      padding: pxtoem(20) pxtorem(50);
    }

    @media ($phone) {
      padding: pxtoem(12) pxtorem(40);
    }

    &.isChecked {
      visibility: hidden;
    }
  }

  .AppointmentItem-status {
    position: absolute;
    top: -10px;
    left: 7%;
    z-index: 2;
    padding: pxtorem(6) pxtorem(9);
    font-size: $t-small;
    color: color($colors, white);
    border-radius: 6px;

    &.Not.checked.out {
      background: color($colors, danger);
    }

    &.Now {
      background: color($colors, color8);
    }

    &.Next {
      background: color($colors, color18);
    }
  }

  .AppointmentItem-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  .AppointmentItem-topTime {
    font-size: pxtorem10(80);
    font-weight: 700;
    white-space: nowrap;

    @media ($smartphone) {
      font-size: pxtorem(60);
    }

    @media ($phone) {
      font-size: pxtorem(40);
    }
  }

  .AppointmentItem-topTimeDay {
    top: pxtorem(-30);
    display: inline-block;
    margin-left: pxtorem(5);
    font-size: $t-h2;
    font-weight: 400;
    color: color($colors, color9);

    @media ($smartphone) {
      top: pxtorem(-20);
      margin-left: 0;
      font-size: $t-h3;
    }

    @media ($phone) {
      top: pxtorem(-10);
      font-size: pxtorem10(11);
    }
  }

  .AppointmentItem-topPrice {
    display: flex;
    align-items: start;
    justify-content: flex-end;
    font-size: pxtorem10(44);
    font-weight: 700;
    text-align: right;

    @media ($smartphone) {
      font-size: $t-h1;
    }

    @media ($phone) {
      font-size: $t-h3;
    }
  }

  .AppointmentItem-topPriceCur {
    position: relative;
    top: 2px;
    font-size: $t-h3;

    @media ($smartphone) {
      font-size: $t-h4;
    }

    @media ($phone) {
      font-size: $t-base;
    }
  }

  .AppointmentItem-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .AppointmentItem-bottomDesc {
    margin-top: pxtorem(10);
    font-size: $t-h2;
    color: color($colors, color9);

    @media ($smartphone) {
      font-size: $t-h3;
    }

    @media ($phone) {
      margin-top: 0;
      font-size: pxtorem10(11);
    }
  }

  .AppointmentItem-bottomName {
    display: flex;
    align-items: center;
    font-size: $t-h2;
    color: color($colors, color9);
    text-align: right;

    @media ($smartphone) {
      font-size: $t-h3;
    }

    @media ($phone) {
      font-size: pxtorem10(11);
    }
  }

  .AppointmentItem-bottomNameAva {
    display: inline-block;
    width: 33px;
    height: 33px;
    margin-right: pxtorem(20);
    font-size: pxtorem(44);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    border: 1px solid color($colors, bb_skin);
    border-radius: 50%;

    @media ($smartphone) {
      width: 25px;
      height: 25px;
      margin-right: pxtorem(15);
      font-size: $t-h3;
    }

    @media ($phone) {
      width: 20px;
      height: 20px;
      margin-right: pxtorem(7);
      font-size: $t-h4;
    }
  }
}
