appointment-item {
  position: relative;
  display: block;
  margin-bottom: pxtovw(15px);
  background: color($colors, white);
  border-radius: 20px;
  box-shadow: 0 0 50px 15px color($colors, color7);

  .AppointmentItem-wp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: pxtovw(17px) pxtovw(24px);

    &.isChecked {
      visibility: hidden;
    }
  }

  .AppointmentItem-status {
    position: absolute;
    top: -10px;
    left: 7%;
    z-index: 2;
    padding: pxtorem(6) pxtorem(9);
    font-size: $t-small;
    color: color($colors, white);
    border-radius: 6px;

    &.Not.checked.out {
      background: color($colors, danger);
    }

    &.Now {
      background: color($colors, color8);
    }

    &.Next {
      background: color($colors, color18);
    }
  }

  .AppointmentItem-top {
    display: flex;
    justify-content: space-between;
  }

  .AppointmentItem-topTime {
    font-size: pxtovw(18px);
    font-weight: 700;
    white-space: nowrap;
  }

  .AppointmentItem-topTimeDay {
    display: inline-block;
    margin-left: pxtovw(5px);
    font-size: pxtovw(12px);
    font-weight: 400;
    color: #A6A3B0;
  }

  .AppointmentItem-topPrice {
    display: flex;
    align-items: start;
    justify-content: flex-end;
    font-size: pxtovw(18px);
    font-weight: 700;
    text-align: right;
  }

  .AppointmentItem-topPriceCur {
    position: relative;
    top: 1px;
    font-size: pxtovw(12px);
  }

  .AppointmentItem-desc {
    margin: pxtovw(2px) 0 pxtovw(9px);
    text-align: left;
  }

  .AppointmentItem-desc span {
    position: relative;
    display: block;
    max-height: pxtovw(44px);
    padding-right: 1em;
    overflow: hidden;
    font-size: pxtovw(21px);
    font-weight: 700;
    line-height: pxtovw(22px);
    letter-spacing: pxtovw(0.35px);

    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      content: '...';
    }

    &:after {
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      content: '';
      background: white;
    }
  }

  .AppointmentItem-name {
    display: flex;
    align-items: center;
    font-size: pxtovw(15px);
    color: color($colors, color9);
    text-align: right;
  }

  .AppointmentItem-nameAva {
    display: inline-block;
    width: pxtovw(16px);
    height: pxtovw(16px);
    margin-right: pxtovw(5px);
    vertical-align: middle;
    background-image: url('../assets/imgs/icons/avatar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    border: 1px solid color($colors, bb_skin);
    border-radius: 50%;
  }
}
