page-checkout {
  .CheckOut {
    padding: pxtovw(13px) 0 pxtovw(18px);
    border-radius: pxtovw(16px);
    box-shadow: 0 pxtovw(7px) pxtovw(43px) 0 rgba(0, 0, 0, 0.08);
  }

  .CheckOut-Header {
    padding: 0 pxtovw(23px) 0 pxtovw(16px);
  }

  .CheckOut-HeaderIcon,
  .CheckOut-HeaderDate {
    display: inline-block;
    vertical-align: middle;
  }

  .CheckOut-HeaderIcon {
    position: relative;
    width: pxtovw(32px);
    height: pxtovw(32px);
    margin-right: pxtovw(5px);
    font-size: pxtovw(14px);
    color: #358ED7;
    border: 1px solid #F4F5F4;
    border-radius: 50%;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .mb-icon-check {
      margin-top: 1px;
      margin-left: 1px;
      font-size: pxtovw(26px);
      font-weight: 700;
    }

    &.isAlreadyCheckedOut {
      color: #FFFFFF;
      background: #68D09B;
      border: 1px solid transparent;
    }
  }

  .CheckOut-HeaderDate {
    font-size: pxtovw(15px);
    line-height: pxtovw(16px);

    b {
      display: block;
      font-size: pxtovw(18px);
      font-weight: 600;
      line-height: pxtovw(24px);
    }
  }

  .CheckOut-Price {
    margin: pxtovw(43px) 0 pxtovw(40px);
    text-align: center;
  }

  .CheckOut-PriceTitle {
    margin-bottom: pxtovw(8px);
    font-size: pxtovw(15px);
    line-height: pxtovw(16px);
    color: color($colors, warmGrey);
  }

  .CheckOut-PriceNum {
    line-height: pxtovw(48px);
    letter-spacing: pxtovw(0.8px);
    transform: translateX(pxtovw(-8px));

    b {
      font-size: pxtovw(64px);
      line-height: pxtovw(48px);
    }

    span {
      font-size: pxtovw(20px);
      font-weight: 600;
      line-height: pxtovw(24px);
      transform: translateX(4px);
    }

    span,
    b {
      display: inline-block;
      vertical-align: top;
    }
  }

  .CheckOut-list {
    padding: 0 pxtovw(24px);
  }

  .CheckOut-row {
    min-height: pxtovw(48px);
    border-bottom: 1px solid color($grayscale, 200);
  }

  .CheckOut-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-size: pxtovw(15px);
    line-height: pxtovw(16px);

    .mb-icon-trash {
      margin-right: pxtovw(17px);
      font-size: pxtovw(18px);
    }

    &.havePaddingLeft {
      padding-left: pxtovw(5px);
    }
  }

  .CheckOut-listBtn {
    margin-top: pxtovw(18px);
  }
}
