<ion-header madeBackHeader></ion-header>


<ion-content no-padding>
  <div *ngIf="appointment" class="Made-wp Made-wpContent">
    <div class="CheckOut">
      <ion-row align-items-center class="CheckOut-Header">
        <ion-col col-6 no-padding>
          <div [class.isAlreadyCheckedOut]="params?.isAlreadyCheckedOut" class="CheckOut-HeaderIcon">
            <i [class]="params?.isAlreadyCheckedOut ? 'mb-icon-check' : 'mb-icon-calendar'"></i>
          </div>
          <div class="CheckOut-HeaderDate" data-test-id="appointmentDateTime">
            <b>{{ appointment.datetime_start_at | date: 'h:mmaaaaa' }}</b>
            {{ appointment.datetime_start_at | date: 'E, LLL MM' }}
          </div>
        </ion-col>

        <user-name-photo
          [firstName]="appointment.client_first_name"
          [lastName]="appointment.client_last_name"
          [photoUrl]="appointment.client_profile_photo_url"
          col-6>
        </user-name-photo>
      </ion-row>

      <ng-container *ngIf="previewResponse">
        <div class="CheckOut-Price">
          <div class="CheckOut-PriceTitle" data-test-id="appointmentTitle">
            <ng-container *ngIf="!params?.isAlreadyCheckedOut; else isFinalPrice">Total Price</ng-container>
            <ng-template #isFinalPrice>Final Price</ng-template>
          </div>

          <div class="CheckOut-PriceNum">
            <ion-spinner *ngIf="isLoading" [duration]="500"></ion-spinner>
            <ng-container *ngIf="!isLoading">
              <span>$</span>
              <b data-test-id="appointmentPrice">{{ previewResponse.grand_total.toFixed() }}</b>
            </ng-container>
          </div>
        </div>

        <div class="CheckOut-list">
          <ng-container *ngIf="previewResponse.services.length > 0">
            <div [class.lastAndCheckedOut]="params?.isAlreadyCheckedOut">
              <ion-row *ngFor="let service of previewResponse.services; let index = index;" data-test-id="appointmentServices" align-items-center class="CheckOut-row">
                <ion-col col-7 no-padding class="CheckOut-col">
                  <div>{{ service.service_name }}</div>
                </ion-col>
                <ion-col col-5 class="CheckOut-col havePaddingLeft">
                  ${{ service.client_price | number: '1.2' }}

                  <i (click)="removeServiceClick(service)"
                    *ngIf="previewResponse.services.length > 1 && appointment.status != AppointmentStatuses.checked_out"
                    class="mb-icon-trash">
                  </i>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="!params?.isAlreadyCheckedOut || hasTaxIncluded"
                align-items-center
                class="CheckOut-row"
                data-test-id="appointmentTaxPercentage">
                <ion-col col-7 no-padding class="CheckOut-col">
                  Tax Rate  ({{ previewResponse.tax_percentage | number: '1.2' }}%)
                </ion-col>
                <ion-col col-5 class="CheckOut-col havePaddingLeft row">
                  <span [class.lineThrough]="!hasTaxIncluded" [class.inactive]="!hasTaxIncluded">${{ previewResponse.total_tax.toFixed(2) | number: '1.2' }}</span>

                  <ion-toggle *ngIf="!params?.isAlreadyCheckedOut" (ionChange)="updatePreview()" [(ngModel)]="hasTaxIncluded" class="ion-bb-toggle"></ion-toggle>
                </ion-col>
              </ion-row>

              <ion-row
                *ngIf="!params?.isAlreadyCheckedOut || hasCardFeeIncluded"
                align-items-center
                class="CheckOut-row"
                data-test-id="appointmentCardFeePercentage">
                <ion-col col-7 no-padding class="CheckOut-col">
                  Card Fee ({{ previewResponse.card_fee_percentage | number: '1.2' }}%)
                </ion-col>
                <ion-col col-5 class="CheckOut-col havePaddingLeft row">
                  <span [class.lineThrough]="!hasCardFeeIncluded" [class.inactive]="!hasCardFeeIncluded">${{ previewResponse.total_card_fee.toFixed(2) | number: '1.2' }}</span>

                  <ion-toggle *ngIf="!params?.isAlreadyCheckedOut" (ionChange)="updatePreview()" [(ngModel)]="hasCardFeeIncluded" class="ion-bb-toggle"></ion-toggle>
                </ion-col>
              </ion-row>
            </div>
          </ng-container>

          <ion-row *ngIf="!params?.isAlreadyCheckedOut" data-test-id="appointmentAddServiceBtn" justify-content-center class="CheckOut-listBtn">
            <ion-col col-8>
              <button (click)="addServicesClick()" class="Discounts-btn--light" ion-button>Add service</button>
            </ion-col>
          </ion-row>
        </div>
      </ng-container>
    </div>
  </div>

</ion-content>


<ion-footer
  *ngIf="!params?.isAlreadyCheckedOut"
  (continue)="onFinalizeCheckoutClick()"
  data-test-id="appointmentFinalizeCheckout"
  madeContinueFooter
  [title]="'Finalize checkout'">
</ion-footer>
