page-checkout {
  .p-c {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: pxtorem(55) pxtorem(65);
      background: color($colors, white);
      border-radius: 25px;
      box-shadow: 0 0 10px 5px color($colors, color7);

      @media ($tablet) {
        padding: pxtorem(44) pxtorem(50);
        border-radius: 20px;
      }

      @media ($phone) {
        padding: pxtorem(32) pxtorem(40);
        border-radius: 15px;
      }

      &-time {
        font-size: pxtorem(66);
        font-weight: 700;
        color: color($colors, dark);

        @media ($tablet) {
          font-size: pxtorem(46);
        }

        @media ($phone) {
          font-size: pxtorem(24);
        }

        &-sup {
          top: pxtorem(-22);
          display: inline-block;
          margin-left: pxtorem(0);
          font-size: pxtorem(36);
          font-weight: 400;
          color: color($colors, color12);

          @media ($tablet) {
            top: pxtorem(-14);
            font-size: pxtorem(26);
          }

          @media ($phone) {
            top: pxtorem(-6);
            margin-left: pxtorem(5);
            font-size: pxtorem(18);
          }
        }
      }

      &-user {
        &-ava {
          display: inline-block;
          width: 33px;
          height: 33px;
          margin-top: -5px;
          margin-right: pxtorem(20);
          background-repeat: no-repeat;
          background-position: center;
          vertical-align: middle;
          background-size: cover !important;
          border-radius: 50%;

          @media ($tablet) {
            width: 25px;
            height: 25px;
            margin-right: pxtorem(15);
          }

          @media ($phone) {
            width: 16px;
            height: 16px;
            margin-right: pxtorem(7);
          }
        }

        &-name {
          display: inline-block;
          font-size: pxtorem(40);
          color: color($colors, color12);
          vertical-align: middle;

          @media ($tablet) {
            font-size: pxtorem(30);
          }

          @media ($phone) {
            font-size: pxtorem(18);
          }
        }
      }
    }

    &-box {
      padding: 0 0 pxtorem(80);
      text-align: center;
      background: color($colors, white);
      border-radius: 25px;
      box-shadow: 0 10px 10px 5px color($colors, color7);

      @media ($tablet) {
        padding: 0 0 pxtorem(50);
        border-radius: 20px;
      }

      @media ($phone) {
        padding: 0 0 pxtorem(30);
        border-radius: 15px;
      }

      &-title {
        padding: pxtorem(80) 0 pxtorem(60);
        font-size: pxtorem(37);
        color: rgb(166, 163, 176);

        @media ($tablet) {
          padding: pxtorem(50) 0 pxtorem(40);
          font-size: pxtorem(27);
        }

        @media ($phone) {
          padding: pxtorem(28) 0 pxtorem(25);
          font-size: pxtorem(17);
        }
      }

      &-price {
        // Set min height to make sure this block occuppies
        // the same height regardless of its content and does
        // not expand or shrink when the content changes (e.g. when loading)
        min-height: pxtorem(80);
        margin-bottom: pxtorem(100);

        @media ($tablet) {
          margin-bottom: pxtorem(80);
        }

        @media ($phone) {
          margin-bottom: pxtorem(45);
        }

        ion-spinner {
          width: pxtorem(60);
          height: pxtorem(60);
        }

        &-sign {
          display: inline-block;
          font-size: pxtorem(66);
          font-weight: 700;
          color: color($colors, dark);
          vertical-align: top;

          @media ($tablet) {
            font-size: pxtorem(48);
          }

          @media ($phone) {
            font-size: pxtorem(32);
          }
        }

        &-num {
          display: inline-block;
          font-size: pxtorem(210);
          font-weight: 700;
          line-height: pxtorem(210 - 50);
          color: color($colors, dark);

          @media ($tablet) {
            font-size: pxtorem(150);
            line-height: pxtorem(150 - 40);
          }

          @media ($phone) {
            font-size: pxtorem(96);
            line-height: pxtorem(96 - 30);
          }
        }

        &-last {
          display: inline-block;
          padding: pxtorem(12) pxtorem(20);
          color: color($colors, white);
          text-transform: uppercase;
          font-size: pxtorem(28);
          vertical-align: top;
          background: red;
          border-radius: 10px;

          @media ($tablet) {
            padding: pxtorem(10) pxtorem(15);
            font-size: pxtorem(20);
          }

          @media ($phone) {
            padding: pxtorem(7) pxtorem(10);
            font-size: pxtorem(12);
          }
        }
      }

      &-change {
        padding: 0 pxtorem(80) pxtorem(40) !important;
        margin-bottom: pxtorem(86);
        text-align: left;
        border-bottom: 1px solid color($colors, color12);

        @media ($tablet) {
          padding: 0 pxtorem(50) pxtorem(20) !important;
          margin-bottom: pxtorem(50);
        }

        @media ($phone) {
          padding: 0 pxtorem(30) pxtorem(10) !important;
          margin-bottom: pxtorem(35);
        }


        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: pxtovw(14px);
          color: color($colors, color12);
        }

        &-num {
          display: flex;
          align-items: center;
          font-size: pxtorem(60);
          font-weight: 700;
          color: color($colors, dark);

          &-regular-price {
            font-size: 80%;
            font-weight: normal;
            color: color($colors, medium-dark);
            text-decoration: line-through;
          }

          @media ($tablet) {
            font-size: pxtorem(40);
          }

          @media ($phone) {
            min-height: 36px;
            font-size: pxtorem(24);
          }
        }
      }

      &-service {
        padding: 0 pxtorem(80) !important;
        text-align: left;

        &.withmargin {
          margin: 0 0 pxtorem(90);
        }

        @media ($tablet) {
          padding: 0 pxtorem(50) !important;

          &.withmargin {
            margin: 0 0 pxtorem(50);
          }
        }

        @media ($phone) {
          padding: 0 pxtorem(30) !important;

          &.withmargin {
            margin: 0 0 pxtorem(20);
          }
        }

        .row {
          border-bottom: 1px solid color($colors, color12);

          @media ($tablet) {
            padding: 0 0 pxtorem(3);
          }

          @media ($phone) {
            padding: 0 0 pxtorem(5);
          }
        }

        &.lastAndCheckedOut {
          margin: 0;

          .row {
            border-bottom: none;
          }
        }

        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: pxtorem(36);
          color: color($colors, color12);

          @media ($tablet) {
            font-size: pxtorem(26);
          }

          @media ($phone) {
            font-size: pxtorem(17);
          }
        }

        &-text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: pxtovw(40px);
          font-size: pxtovw(14px);
          color: color($colors, dark);


          [ion-button] {
            height: pxtorem10(30);

            @media ($phone) {
              height: pxtorem10(20);
            }
          }

          .button-inner ion-icon {
            font-size: pxtorem10(30);

            @media ($phone) {
              font-size: pxtorem10(20);
            }
          }
        }

        &-btn {
          color: rgb(173, 169, 188);
          background: none;
          box-shadow: none;
        }
      }
    }

    &-fin {
      padding: pxtorem(100) 0;
      text-align: center;

      @media ($tablet) {
        padding: pxtorem(66) 0;
      }

      @media ($phone) {
        padding: pxtorem(44) 0;
      }
    }
  }
}

