push-priming-screen {
  .PushPrimingText {
    margin: pxtovw(16px) pxtovw(24px) 0;
    font-size: pxtovw(18px);
    line-height: pxtovw(24px);
    color: color($colors, warmGrey);
    text-align: center;
  }

  .PushPrimingImg {
    width: pxtovw(81px);
    height: pxtovw(88px);
    margin-top: pxtovw(24px);
  }

  .SharedH1 {
    margin-top: 0;
  }

  .Button {
    margin-bottom: pxtovw(27px);
    font-size: pxtovw(18px);
    font-weight: map-get($fontWeights, semibold);
  }

  .Link {
    margin-bottom: pxtovw(39px);
  }

  .Footer {
    padding-bottom: 0;
  }
}
