<ion-header class="madeHeader">
  <ion-navbar [hideBackButton]="true" class="Made-wp BackHeader-backBtn is-hiddenBackButton">
    <ion-title>
      <i *ngIf="params.appType === UserRole.client" class="mb-icon-logo"></i>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="PushPrimingText">
    <ng-container *ngIf="params.appType === UserRole.client; else stylistTpl">
      Do you want to know when your stylist has the best deals and get updates about your favorite services?
    </ng-container>
    <ng-template #stylistTpl>
      Do you want to know when your clients schedule appointments with you?
    </ng-template>
  </div>

  <ion-row justify-content-center>
    <img class="PushPrimingImg" src="assets/icons/notifications@3x.png" />
  </ion-row>

  <ion-footer class="Footer">
    <button ion-button (click)="onAllowClick()" class="Button" data-test-id="allowBtn">Allow Notifications</button>

    <ion-row justify-content-center>
      <span (click)="onNotNowClick()" class="Link" data-test-id="notNowBtn">Not Now</span>
    </ion-row>
  </ion-footer>
</ion-content>
