<ion-header>
  <ion-navbar>
    <ion-title>Allow notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="PushPrimingText">
    For the best experience, we would like to send you notifications about new bookings and other helpful reminders.
    <br /><br />
    Don't worry, you can update your notifications at any time.
  </div>

  <ion-footer class="Footer">
    <button ion-button class="Button" (click)="onAllowClick()" data-test-id="allowBtn">Allow Notifications</button>

    <ion-row justify-content-center>
      <span (click)="onNotNowClick()" class="Link" data-test-id="notNowBtn">Not Now</span>
    </ion-row>
  </ion-footer>
</ion-content>