push-priming-screen {
  .PushPrimingText {
    margin: pxtovw(8px) pxtovw(24px) 0;
    font-size: pxtovw(21px);
    font-weight: 500;
    line-height: pxtovw(24px);
    text-align: center;
  }

  .PushPrimingImg {
    width: pxtovw(70px);
    height: pxtovw(88px);
    margin-top: pxtovw(120px);
  }

  .Button {
    margin-bottom: pxtovw(27px);
    font-size: pxtovw(18px);
    font-weight: map-get($fontWeights, semibold);
  }

  .Link {
    margin-bottom: pxtovw(39px);
  }

  .Footer {
    padding-bottom: 0;
  }
}
