<ion-header madeHeader [showHome]="params?.appointment && !params.appointment.uuid"></ion-header>

<ion-content no-padding>
  <div class="contentSidePadding">
    <div *ngIf="params?.appointment as appointment" class="CheckOut">

      <!-- Header card -->
      <div class="CheckOut-card">
        <ion-row align-items-center class="Checkout-header">

          <ion-col col-6 no-padding>
            <!-- Left icon -->
            <div [class.isAlreadyCheckedOut]="appointment.status === AppointmentStatus.checked_out" class="CheckOut-headerIcon">
              <i [class]="appointment.status === AppointmentStatus.checked_out ? 'mb-icon-check' : 'mb-icon-calendar'"></i>
            </div>

            <!-- Time and date -->
            <div class="CheckOut-headerDate" data-test-id="appointmentDateTime">
              <b>{{ appointment.datetime_start_at | date: 'h:mmaaaaa' }}</b>
              {{ appointment.datetime_start_at | date: 'E, MMM d' }}
            </div>
          </ion-col>

          <user-name-photo
            [firstName]="appointment.stylist_first_name"
            [lastName]="appointment.stylist_last_name"
            [photoUrl]="appointment.profile_photo_url"
            col-6>
          </user-name-photo>
        </ion-row>
      </div>

      <!-- Saved amount -->
      <ion-row *ngIf="appointment.total_discount_percentage as discount_percentage" align-items-center justify-content-between class="CheckOut-saved">
        <ion-col col-7 no-padding>YOU SAVED {{ discount_percentage }}%</ion-col>
        <ion-col col-5 no-padding class="CheckOut-savedAmount"><sup>$</sup>{{ appointment.total_discount_amount }}</ion-col>
      </ion-row>

      <!-- Receipt card -->
      <div class="CheckOut-card">
        <made-thumb
          *ngIf="hasAttribute(AppointmentAttribute.withRating)"
          [isThumbsUp]="+appointment.rating"
          class="CheckOut-thumb">
        </made-thumb>

        <!-- Price -->
        <div class="CheckOut-price">
          <div class="CheckOut-priceTitle" data-test-id="appointmentTitle">Total Price</div>

          <div class="CheckOut-priceValue">
            <span>$</span>
            <b data-test-id="appointmentPrice">{{ appointment.grand_total.toFixed() }}</b>
          </div>
        </div>

        <!-- Details -->
        <div *ngIf="appointment.services.length > 0" class="CheckOut-details">
          <ion-row align-items-center *ngFor="let service of appointment.services; let index = index;" class="CheckOut-detailsServices" data-test-id="appointmentServices">
            <ion-col col-6 no-padding>
              <span>{{ service.service_name }}</span>
            </ion-col>
            <ion-col col-3 no-padding>
              <span *ngIf="service.regular_price > service.client_price" class="text-muted line-through">{{ service.regular_price | currency }}</span>
            </ion-col>
            <ion-col col-3 no-padding>
              <span>{{ service.client_price | currency }}</span>
            </ion-col>
          </ion-row>

          <!-- Taxes -->
          <ion-row align-items-center class="CheckOut-tax text-muted" data-test-id="appointmentTaxPercentage"
            *ngIf="!params?.isAlreadyCheckedOut || hasTaxIncluded">
              <ion-col col-9 no-padding>
                <span>Tax Rate ({{ appointment.tax_percentage | number: '1.1-3' }}%)</span>
              </ion-col>
              <ion-col col-3 no-padding>
                <span>{{ appointment.total_tax.toFixed(2) | currency }}</span>
              </ion-col>
          </ion-row>

          <made-thumbs
            *ngIf="hasAttribute(AppointmentAttribute.withoutRating)"
            [appointment]="appointment"
            [popAfterSubmit]="true"
            class="CheckOut-thumbs">
          </made-thumbs>

          <made-user-comment
            *ngIf="hasAttribute(AppointmentAttribute.withComment)"
            [comment]="appointment.comment"
            [date]="appointment.datetime_start_at"
            class="CheckOut-userComment"
          ></made-user-comment>
        </div>

        <!-- Bottom controls -->
        <ion-row *ngIf="hasAttribute(AppointmentAttribute.editAppointmentButtons)">
          <ion-col (click)="onChangeServices()" class="CheckOut-controlBtn" data-test-id="appointment_change_services">
            <span>Change </span>
            <ng-container *ngIf="appointment.services.length > 1; else oneTpl">Services</ng-container>
            <ng-template #oneTpl>Service</ng-template>
          </ion-col>

          <ion-col (click)="onChangePrice(appointment)" class="CheckOut-controlBtn" data-test-id="appointment_change_price">Change Price</ion-col>
        </ion-row>
      </div>

      <div *ngIf="appointment.can_checkout_with_made" class="CheckOut-availability">
        <b>Card checkout</b> not available until stylist adds payment receipt method.
      </div>

      <!-- Payment Method -->
      <ng-container *ngIf="isPaymentShown()">
        <ion-row align-items-center justify-content-between class="AppointmentPage-paymentSelect"
          (click)="onAddPaymentClick()">

            <ng-container *ngIf="payment && payment.type === PaymentType.Card; else addPaymentMethodTpl">
              <span>Payment Method</span>

              <ion-row align-items-center>
                <payment-icon class="AppointmentPage-cardIcon"
                  [paymentMethod]="payment"></payment-icon>
                <span>••••&nbsp;&nbsp;{{ payment.card_last4 }}</span>

                <i class="mb-icon-right-arrow"></i>
              </ion-row>
            </ng-container>

            <ng-template #addPaymentMethodTpl>
              <span>Add Payment Method</span>
              <i class="mb-icon-right-arrow"></i>
            </ng-template>
        </ion-row>
      </ng-container>

      <ng-container *ngIf="hasAttribute(AppointmentAttribute.futureAppointment)">
        <div class="CheckOut-buttons">
          <a (click)="onCancelClick()" class="CheckOut-button is-cancel" data-test-id="appointment_cancel_booking">Cancel Booking</a>
          <a (click)="onReUseAppointmentClick($event, true)" class="CheckOut-button" data-test-id="appointment_re_schedule">Re-Schedule</a>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="AppointmentPage-actions" *ngIf="params?.appointment as appointment">

    <!-- Confirm booking -->
    <ng-container *ngIf="hasAttribute(AppointmentAttribute.booking)">

      <!-- Pay and confirm -->
      <button ion-button class="Button AppointmentPage-checkout"
        *ngIf="isPaymentShown(); else simpleBookingTpl"
        (click)="payment ? onConfirmClick() : onAddPaymentClick()">
          {{ payment ? 'Confirm Booking' : 'Add Payment Method' }}
      </button>

      <!-- Just confirm -->
      <ng-template #simpleBookingTpl>
        <button ion-button class="Button AppointmentPage-checkout" data-test-id="appointment_confirm_booking"
          (click)="onConfirmClick()">
            Confirm Booking
        </button>
      </ng-template>

    </ng-container>

      <!--Re-schedule-->
      <ng-container *ngIf="hasAttribute(AppointmentAttribute.rescheduling)">
        <button
          (click)="onConfirmClick()"
          ion-button
          class="Button">
          Confirm Rescheduling
        </button>
      </ng-container>

      <!--Re-book-->
      <ng-container *ngIf="hasAttribute(AppointmentAttribute.reBook)">
        <button
          (click)="onReUseAppointmentClick($event, false)"
          ion-button
          class="Button">
          Re-book Appointment
        </button>
      </ng-container>

      <!--Checkout-->
      <ng-container *ngIf="hasAttribute(AppointmentAttribute.checkout)">

        <ng-container *ngIf="isPaymentShown(); else simpleCheckoutTpl">

          <!-- Pay and checkout -->
          <button ion-button class="Button AppointmentPage-checkout"
            (click)="payment ? onCheckoutAndPay() : onAddPaymentClick()">
              <i class="mb-icon-credit-card"></i>
              {{ payment ? 'Checkout: Pay via MADE App' : 'Add Payment Method' }}
          </button>

          <!-- Just checkout (paid in salon) -->
          <button ion-button outline class="Button AppointmentPage-checkout"
            (click)="onCheckout()">
              Checkout: Paid In-Salon
          </button>
        </ng-container>

        <!-- Simple checkout -->
        <ng-template #simpleCheckoutTpl>
          <button ion-button class="Button AppointmentPage-checkout"
            (click)="onCheckout()">
              Checkout
          </button>
        </ng-template>

        <a
          *ngIf="!isPaymentShown() && isTodayAppointment() && params?.onCancel"
          (click)="onCancelClick()"
          class="AppointmentPage-cancelBooking">
          Cancel Booking
        </a>
      </ng-container>
  </div>
</ion-footer>
