.StylistsPage {
  $pic-size: pxtovw(64px);
  $card-padding: pxtovw(16px);

  .StylistsPage-loader {
    font-size: $t-base;
    font-weight: normal;
  }

  .StylistsPage-searchWrap {
    position: relative;

    .StylistsPage-search {
      font-size: $t-base;
      border-radius: pxtovw(10px);
      box-shadow: 0 pxtovw(7px) pxtovw(43px) color($grayscale, 200);

      &.item-block .item-inner { // override ionic styles
        padding: pxtovw(7.5px) $card-padding;
      }
    }

    .StylistsPage-searchIcon {
      position: absolute;
      top: 50%;
      right: $card-padding;
      margin-top: -1 * $t-base / 2;
      font-size: $t-base;
    }
  }

  .StylistsPage-stylists {
    padding-bottom: pxtovw(24px);
    margin-top: pxtovw(18px);
  }

  .StylistsPage-cardImg {
    position: absolute;
    top: 50%;
    left: pxtovw(23px);
    width: $pic-size;
    height: $pic-size;
    margin-top: -1 * $pic-size / 2;
    background-color: color($grayscale, 100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%; // circle
  }

  .StylistsPage-cardHeader {
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: $t-h3;
    font-weight: 500;
    text-align: center;
  }

  .StylistsPage-cardClose {
    position: absolute;
    top: pxtovw(17px);
    right: pxtovw(16px);
    display: none;
    font-size: pxtovw(21px);
    color: white;
    background: transparent;
  }

  .StylistsPage-cardTitle {
    width: 100%;
    margin: pxtovw(1px) 0 pxtovw(4px);
    overflow: hidden;
    font-size: $t-h3;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  %StylistsPage-cardSubtitle,
  .StylistsPage-cardSubtitle {
    width: 100%;
    overflow: hidden;
    font-size: $t-base;
    color: color($grayscale, 500);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .StylistsPage-cardInfo {
    @extend %StylistsPage-cardSubtitle;

    display: flex;
    align-items: flex-start;
    margin: 0;
    font-size: pxtovw(15px);
    line-height: pxtovw(24px);

    .Link {
      // Add more contrast:
      color: color($colors, orange);
    }

    [class^=mb-icon] {
      margin: pxtovw(4px) 0 0;
      color: color($colors, orange);
    }

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .StylistsPage-submit {
    display: block;
    width: 73%;
    margin: pxtovw(16px) auto pxtovw(18px);
    text-align: center;
    border: pxtovw(2px) solid white;

    > span {
      display: inline-block;
      width: auto;
      max-width: 100%;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
    }
  }

  .StylistsPage-cardFooter {
    width: 0;
    height: 0;
    min-height: 0;
    overflow: hidden;
  }

  .StylistsPage-card {
    @extend %SharedCard;

    position: relative;
    padding-bottom: pxtovw(10px);
    padding-left: $card-padding + pxtovw(24px) + $pic-size;
    background: white;

    &,
    .StylistsPage-cardImg,
    .StylistsPage-cardHeader,
    .StylistsPage-cardTitle,
    .StylistsPage-cardSubtitle,
    .StylistsPage-cardFooter {
      transition: all 0.08s ease-in;
    }

    &.is-active {
      $new-pic-size: pxtovw(120px);
      $pic-top-offset: pxtovw(56px);

      padding: pxtovw(15px) pxtovw(25px);
      background: color($colors, primary);

      .StylistsPage-cardImg {
        top: $pic-top-offset + $pic-size / 2;
        left: 50%;
        width: $new-pic-size;
        height: $new-pic-size;
        margin-left: -1 * $new-pic-size / 2;
        background-color: white;
      }

      .StylistsPage-cardClose {
        display: inline-block;
      }

      .StylistsPage-cardTitle {
        margin: pxtovw(7px) 0 pxtovw(2px);
        font-size: pxtovw(29px);
      }

      .StylistsPage-cardTitle,
      .StylistsPage-cardSubtitle {
        text-align: center;
        white-space: initial;
      }

      .StylistsPage-cardSubtitle {
        font-size: pxtovw(13px);
      }

      .StylistsPage-cardInfo {
        justify-content: center;
        text-align: center;

        p {
          margin: 0;
          overflow: initial;
          font-size: pxtovw(15px);
          text-overflow: initial;
          white-space: initial;
        }
      }

      .StylistsPage-cardHeader {
        $header-height: pxtovw(26px);

        height: $header-height + $card-padding * 2 + $new-pic-size;
        font-size: pxtovw(22px);
        font-weight: 600;
      }

      .StylistsPage-cardFooter {
        $footer-height: pxtovw(100px);

        height: auto;
        min-height: $footer-height;
      }

      .StylistsPage-cardHeader,
      .StylistsPage-cardTitle,
      .StylistsPage-cardSubtitle,
      .StylistsPage-cardFooter {
        width: 100%;
      }
    }
  }
}
