<ion-header madeHeader></ion-header>

<ion-content class="StylistsPage">
  <ion-grid>
    <ion-item class="FormControl StylistsPage-search">
      <ion-input type="text" placeholder="Search stylists for…" [formControl]="query" (input)="onSearchStylists()"></ion-input>
    </ion-item>
    <ion-row class="H2" align-items-center justify-content-between>
      <div>
        <span>All stylists</span>
        <span *ngIf="(stylists | async)?.length > 0" class="Badge">{{ (stylists | async)?.length }}</span>
      </div>
      <div *ngIf="(requestState | async) === RequestState.Loading" class="StylistsPage-loader">searching…</div>
    </ion-row>
    <div *ngIf="stylists | async" class="StylistsPage-stylists">
      <div
        *ngFor="let stylist of stylists | async"
        class="StylistsPage-card Card"
        [ngClass]="{'is-active': stylist.uuid === activeStylist?.uuid}"
        (click)="onSetActiveStylist($event, stylist)">
        <ion-img class="StylistsPage-cardImg" src="assets/imgs/stylist-avatar.svg"></ion-img>
        <div class="StylistsPage-cardHeader">
          Your stylist
          <ion-img (click)="onSetActiveStylist($event, undefined)" class="StylistsPage-cardClose" src="assets/icons/cross.svg"></ion-img>
        </div>
        <div class="StylistsPage-cardSubtitle">{{ stylist.salon_name }}</div>
        <div class="StylistsPage-cardTitle">{{ stylist.first_name }} {{ stylist.last_name }}</div>
        <div class="StylistsPage-cardSubtitle"><img src="assets/icons/location.svg" />&nbsp;{{ stylist.salon_address }}</div>
        <div class="StylistsPage-cardFooter">
          <div class="StylistsPage-cardSubtitle"><img src="assets/icons/phone.svg" />&nbsp;{{ stylist.phone }}</div>
          <div class="StylistsPage-cardSubtitle"><img src="assets/icons/instagram.svg" />&nbsp;{{ stylist.instagram_profile_name }}</div>
          <button (click)="onContinueWithStylist(stylist)" ion-button class="Button StylistsPage-submit">Continue with {{ stylist.first_name }}</button>
          <div (click)="onSetActiveStylist($event, undefined)" class="StylistsPage-cardSubtitle">This is&nbsp;not&nbsp;my stylist</div>
        </div>
      </div>
      <div *ngIf="(stylists | async)?.length === 0">No stylists found</div>
    </div>
  </ion-grid>
</ion-content>
