page-profile {
  .Tabs-slides {
    height: 100%;

    .slide-zoom {
      height: 100%;
    }
  }

  .ProfilePage-pic {
    $image-size: pxtovw(120px);

    position: relative;
    width: $image-size;
    height: $image-size;
    padding: pxtovw(15.5px);
    margin: 0 0 pxtovw(14px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid color($grayscale, 100);
    border-radius: 50%; // circle
  }

  .ProfilePage-defPic {
    $image-size: pxtovw(89px);

    width: $image-size;
    height: $image-size;
    background: url('../assets/imgs/icons/avatar.png');
    background-color: color($grayscale, 100);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  .ProfilePage-add {
    $add-btn-size: pxtovw(32px);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $add-btn-size;
    height: $add-btn-size;
    margin: (-1 * $add-btn-size) 0 0 0;
    color: white;
    background: color($colors, lightSalmon);
    border: pxtovw(1px) solid rgba(white, 1);
    border-radius: 50%; // circle

    i {
      margin: pxtovw(-1px) 0 0; // fix centered align
      font-size: pxtovw(16px);
    }
  }

  .ProfilePage-completion {
    margin: 0 0 pxtovw(10px);
    font-size: pxtovw(15px);
    font-weight: 400;
    color: color($colors, warmGrey);
    text-align: center;
  }

  .ProfilePage-toolbar {
    height: pxtovw(78px);
  }


  .ProfilePage-block {
  }

  .ProfilePage-blockTitle {
    @extend %Made-wp;

    padding-top: pxtovw(10px);
    padding-bottom: pxtovw(10px);
    font-size: $t-h3;
    font-variant: small-caps;
    color: color($colors, warmGrey);
    text-align: left;
    background: color($colors, secondary);
  }

  .ProfilePage-blockItem {
    @extend %Made-wp;

    padding-top: pxtovw(16px);
    padding-bottom: pxtovw(18px);
    border-bottom: 1px solid rgb(236, 236, 236);
    text-align: left;

    &:last-child {
      margin: 0 0 pxtovw(15px);
    }
  }

  .ProfilePage-blockItemName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 pxtovw(11px);
    font-size: $t-h3;
    font-variant: small-caps;
    text-align: left;
  }

  .ProfilePage-blockItemNameNotice {
    $size: pxtovw(18px);

    width: $size;
    height: $size;
    margin: 0 0 pxtovw(-3px);
  }

  .ProfilePage-blockItemPicture {
    text-align: left;

    img {
      width: pxtovw(104px);
    }
  }

  .ProfilePage-blockItemPictureWp {
    position: relative;
    display: inline-block;
  }

  .ProfilePage-blockItemPictureEdit {
    position: absolute;
    right: pxtovw(-8px);
    bottom: pxtovw(-8px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxtovw(32px);
    height: pxtovw(32px);
    font-size: pxtovw(16px);
    color: white;
    background: color($colors-shared, lightSalmon);
    border-radius: 50%;
  }

  .ProfilePage-blockItemValue {
    font-size: $t-h3;
    font-weight: 300;
    color: color($colors, warmGrey);
    text-align: left;
  }
}
