page-profile {
  .ProfilePage-pic {
    $image-size: pxtovw(120px);

    position: relative;
    width: $image-size;
    height: $image-size;
    padding: pxtovw(15.5px);
    margin: 0 0 pxtovw(14px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid color($grayscale, 100);
    border-radius: 50%; // circle
  }

  .ProfilePage-defPic {
    $image-size: pxtovw(89px);

    width: $image-size;
    height: $image-size;
    background: url('../assets/imgs/icons/avatar.png');
    background-color: color($grayscale, 100);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  .ProfilePage-add {
    $add-btn-size: pxtovw(32px);

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $add-btn-size;
    height: $add-btn-size;
    margin: (-1 * $add-btn-size) 0 0 0;
    color: white;
    background: color($colors, lightSalmon);
    border: pxtovw(1px) solid rgba(white, 1);
    border-radius: 50%; // circle

    i {
      margin: pxtovw(-1px) 0 0; // fix centered align
      font-size: pxtovw(16px);
    }
  }

  .ProfilePage-completion {
    margin-bottom: pxtovw(22px);
    font-size: pxtovw(12px);
    font-weight: 400;
    color: color($colors, warmGrey);
    text-align: center;
  }

  .ProfilePage-completionBar {
    $bar-height: pxtovw(4px);
    $bar-border-radius: pxtovw(4px);

    position: relative;
    width: pxtovw(227px);
    height: $bar-height;
    margin: pxtovw(8px) auto 0;
    background: color($grayscale, 300);
    border-radius: $bar-border-radius;

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: pxtovw(65px);
      height: $bar-height;
      content: '';
      background: color($colors, lightSalmon);
      border-radius: $bar-border-radius 0 0 $bar-border-radius;
    }
  }

  .ProfilePage-toolbar {
    height: pxtovw(83px);
  }
}
