<ion-header madeMenuHeader [hideBackButton]="true" [hideMenuButton]="false">
  <ion-title *ngIf="profile">
    <div class="madeMenuHeader-nameTitle" data-test-id="profileNameTitle">{{ profile.first_name }}</div>
  </ion-title>

  <ion-toolbar class="ProfilePage-toolbar" no-padding>
    <div *ngIf="!stylistProfileCompleteness?.isProfileComplete" class="ProfilePage-completion" data-test-id="isProfileComplete">
      <span data-test-id="completenessPercent">
        Profile completion: {{ stylistProfileCompleteness?.completenessPercent }}%
        <img class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" />
      </span>
    </div>

    <div class="Tabs-box MyStylistsPage-tabsMargin">
      <ion-row no-padding justify-content-center>
        <ion-col col-8 no-padding>
          <div class="Tabs-wp" data-test-id="profileTabs">
            <button
              (click)="onTabChange(ProfileTabs.clientView)"
              [class.active]="tabs[ProfileTabs.clientView].name === activeTab"
              ion-button clear color="dark" class="Tabs-btn is-big">
              {{ ProfileTabNames.clientView }}
            </button>
            <button
              (click)="onTabChange(ProfileTabs.edit)"
              [class.active]="tabs[ProfileTabs.edit].name === activeTab"
              ion-button clear color="dark" class="Tabs-btn is-big" data-test-id="ProfileEditTab">
              {{ ProfileTabNames.edit }}
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content no-padding>
  <ion-slides (ionSlideDrag)="onEnableRefresher(false)" (touchend)="onEnableRefresher(true)" (ionSlideDidChange)="onTabSwipe()" no-padding class="Tabs-slides">
    <ion-slide>
      <div class="Tabs-slide">
        <div *ngIf="profile">
          <div class="Made-wp">
            <div class="StylistProfilePreview-name" data-test-id="stylistProfilePreviewName">{{ profile.first_name }}</div>

            <div class="StylistProfilePreview-salon" data-test-id="stylistProfilePreviewSalon">{{ profile.salon_name }}</div>

            <div *ngIf="profile.followers_count" (click)="onMyClientsClick()" class="StylistProfilePreview-clients"
                 data-test-id="stylistProfilePreviewClients">
              <i class="mb-icon-heart-a"></i> <b>{{ profile.followers_count }}</b>&nbsp;MADE Clients
            </div>
          </div>

          <div (click)="!profile.profile_photo_url && onFieldEdit(ProfileEditableFields.profile_photo_url)" class="StylistProfilePreview-photo" data-test-id="stylistProfilePreviewPhoto">
            <img [src]="profile.profile_photo_url  || 'assets/icons/stylist-avatar.png'" alt="">
          </div>

          <div class="Made-wp">
            <div class="StylistProfilePreview-item" data-test-id="stylistProfilePreviewAddress">
              <div class="StylistProfilePreview-itemTitle">
                <span>Address</span>

                <i class="mb-icon-marker"></i>
              </div>
              <div class="StylistProfilePreview-itemText">
                {{ profile.salon_address }}
              </div>
            </div>

            <div (click)="!profile.instagram_url && onFieldEdit(ProfileEditableFields.instagram_url)" class="StylistProfilePreview-item" data-test-id="stylistProfilePreviewInstagram">
              <div class="StylistProfilePreview-itemTitle">
                <span>Instagram</span>

                <i class="mb-icon-instagram"></i>
              </div>

              <div *ngIf="!profile.instagram_url" class="StylistProfilePreview-itemLink">
                Add Instagram
              </div>
              <div *ngIf="profile.instagram_url" class="StylistProfilePreview-itemText">
                {{ profile.instagram_url }}
              </div>
            </div>

            <div class="StylistProfilePreview-item">
              <div class="StylistProfilePreview-itemTitle">
                <span>Calendar</span>

                <i class="mb-icon-calendar"></i>
              </div>

              <div *ngIf="!calendar" class="StylistProfilePreview-itemText" data-test-id="stylistProfilePreviewNoCalendar">
                Add Services
              </div>
              <div *ngIf="calendar" data-test-id="stylistProfilePreviewCalendar">
                <!--<div *ngIf="!(service?.name && prices)" class="text-center">-->
                  <!--<div class="Spinner"><ion-spinner></ion-spinner></div>-->
                <!--</div>-->

                <!--<div *ngIf="service?.name && prices">-->
                  <!--<ion-row no-padding justify-content-between align-items-center="">-->
                    <!--<div class="ServiciesHeader-seviceItem">-->
                      <!--<div class="ServiciesHeader-seviceName" data-test-id="name">{{ service?.name }}</div>-->
                      <!--<ion-icon class="ServiciesHeader-serviceItemClose" name="ios-close"></ion-icon>-->
                    <!--</div>-->

                    <!--<button class="Button button-mini is-inHeader" ion-button>Add Service</button>-->
                  <!--</ion-row>-->

                  <!--<price-calendar [prices]="prices" [showOneMonth]="true"></price-calendar>-->
                <!--</div>-->
              </div>
            </div>

            <div (click)="!profile.website_url && onFieldEdit(ProfileEditableFields.website_url)" class="StylistProfilePreview-item" data-test-id="stylistProfilePreviewWebsite">
              <div class="StylistProfilePreview-itemTitle">
                <span>Website</span>

                <i class="mb-icon-globe"></i>
              </div>

              <div *ngIf="!profile.website_url" class="StylistProfilePreview-itemLink">
                Add Website
              </div>
              <div *ngIf="profile.website_url" class="StylistProfilePreview-itemText">
                {{ profile.website_url }}
              </div>
            </div>

            <div (click)="!profile.email && onFieldEdit(ProfileEditableFields.email)" class="StylistProfilePreview-item" data-test-id="stylistProfilePreviewEmail">
              <div class="StylistProfilePreview-itemTitle">
                <span>Email</span>

                <i class="mb-icon-mail"></i>
              </div>

              <div *ngIf="!profile.email" class="StylistProfilePreview-itemLink">
                Add Email
              </div>
              <div *ngIf="profile.email" class="StylistProfilePreview-itemText">
                {{ profile.email }}
              </div>
            </div>

            <div *ngIf="profile.phone" class="StylistProfilePreview-item" data-test-id="stylistProfilePreviewPhone">
              <div class="StylistProfilePreview-itemTitle">
                <span>Phone</span>

                <i class="mb-icon-phone-a"></i>
              </div>
              <div class="StylistProfilePreview-itemText">
                {{ profile.phone }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>

    <ion-slide>
      <div *ngIf="profile" class="Tabs-slide">
        <div class="ProfilePage-block">
          <div class="ProfilePage-blockTitle">
            Account Info
          </div>

          <div (click)="onSetAccountInfo(PageNames.WorkHours)" class="ProfilePage-blockItem" data-test-id="ProfileEditAccountInfoHours">
            <div class="ProfilePage-blockItemName">
              <span>Hours <img *ngIf="shouldShowNotice(PageNames.WorkHours)" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="shouldShowNotice(PageNames.WorkHours)" class="ProfilePage-blockItemValue">Add Info</div>
            <div *ngIf="!shouldShowNotice(PageNames.WorkHours)" class="ProfilePage-blockItemValue">Complete</div>
          </div>

          <div (click)="onSetAccountInfo(servicesPage)" class="ProfilePage-blockItem" data-test-id="ProfileEditAccountInfoService">
            <div class="ProfilePage-blockItemName">
              <span>Service <img *ngIf="shouldShowNotice(PageNames.ServicesList)" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="shouldShowNotice(PageNames.ServicesList)" class="ProfilePage-blockItemValue">Add Info</div>
            <div *ngIf="!shouldShowNotice(PageNames.ServicesList)" class="ProfilePage-blockItemValue">Complete</div>
          </div>

          <div (click)="onSetAccountInfo(PageNames.Discounts)" class="ProfilePage-blockItem" data-test-id="ProfileEditAccountInfoDiscounts">
            <div class="ProfilePage-blockItemName">
              <span>Discounts <img *ngIf="shouldShowNotice(PageNames.Discounts)" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="shouldShowNotice(PageNames.Discounts)" class="ProfilePage-blockItemValue">Add Info</div>
            <div *ngIf="!shouldShowNotice(PageNames.Discounts)" class="ProfilePage-blockItemValue">Complete</div>
          </div>
        </div>

        <div class="ProfilePage-block">
          <div class="ProfilePage-blockTitle">
            Photos
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.profile_photo_url)" class="ProfilePage-blockItem" data-test-id="ProfileEditPhoto">
            <div class="ProfilePage-blockItemName">
              <span>Image <img *ngIf="!profile.profile_photo_url" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="profile.profile_photo_url" class="ProfilePage-blockItemPicture"><img [src]="profile.profile_photo_url" alt=""></div>
            <div *ngIf="!profile.profile_photo_url" class="ProfilePage-blockItemPicture"><img src="assets/icons/stylist-avatar.png" alt=""></div>
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.instagram_url)" class="ProfilePage-blockItem" data-test-id="ProfileEditInstagram">
            <div class="ProfilePage-blockItemName">
              <span>Instagram <img *ngIf="!profile.instagram_url" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="profile.instagram_url" class="ProfilePage-blockItemValue">{{ profile.instagram_url }}</div>
            <div *ngIf="!profile.instagram_url" class="ProfilePage-blockItemValue">Add Info</div>
          </div>
        </div>

        <div class="ProfilePage-block">
          <div class="ProfilePage-blockTitle">
            Basic Info
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.name)" class="ProfilePage-blockItem" data-test-id="ProfileEditName">
            <div class="ProfilePage-blockItemName">
              <span>Name</span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div class="ProfilePage-blockItemValue">{{ profile.first_name }} {{ profile.last_name }}</div>
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.salon_name)" class="ProfilePage-blockItem" data-test-id="ProfileEditSalonName">
            <div class="ProfilePage-blockItemName">
              <span>Salon Name</span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div class="ProfilePage-blockItemValue">{{ profile.salon_name }}</div>
          </div>
        </div>

        <div class="ProfilePage-block">
          <div class="ProfilePage-blockTitle">
            Contact Info
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.salon_address)" class="ProfilePage-blockItem" data-test-id="ProfileEditAddress">
            <div class="ProfilePage-blockItemName">
              <span>Address</span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div class="ProfilePage-blockItemValue">{{ profile.salon_address }}</div>
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.email)" class="ProfilePage-blockItem" data-test-id="ProfileEditEmail">
            <div class="ProfilePage-blockItemName">
              <span>Email <img *ngIf="!profile.email" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="profile.email" class="ProfilePage-blockItemValue">{{ profile.email }}</div>
            <div *ngIf="!profile.email" class="ProfilePage-blockItemValue">Add Info</div>
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.website_url)" class="ProfilePage-blockItem" data-test-id="ProfileEditWebsite">
            <div class="ProfilePage-blockItemName">
              <span>Website <img *ngIf="!profile.website_url" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="profile.website_url" class="ProfilePage-blockItemValue">{{ profile.website_url }}</div>
            <div *ngIf="!profile.website_url" class="ProfilePage-blockItemValue">Add Info</div>
          </div>

          <div (click)="onFieldEdit(ProfileEditableFields.public_phone)" class="ProfilePage-blockItem" data-test-id="ProfileEditPublicPhone">
            <div class="ProfilePage-blockItemName">
              <span>Public Phone <img *ngIf="!profile.public_phone" class="ProfilePage-blockItemNameNotice" src="assets/icons/!@2x.png" /></span>
              <i class="mb-icon-right-arrow"></i>
            </div>
            <div *ngIf="profile.public_phone" class="ProfilePage-blockItemValue">{{ profile.public_phone }}</div>
            <div *ngIf="!profile.public_phone" class="ProfilePage-blockItemValue">Add Info</div>
          </div>

          <div class="ProfilePage-blockItem" data-test-id="ProfileEditPhone">
            <div class="ProfilePage-blockItemName">Registered Phone</div>
            <div class="ProfilePage-blockItemValue">{{ profile.phone }}</div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
