<ion-header class="madeHeader">
  <ion-navbar class="Made-wp BackHeader-backBtn">
    <ion-title>
      <i class="mb-icon-logo"></i>
    </ion-title>

    <ion-buttons end>
      <button (click)="onSubmit()" [disabled]="!form?.valid" class="ProfilePage-submit" ion-button clear data-test-id="submit">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding class="ProfilePage">
  <div *ngIf="form" class="contentSidePadding ProfilePage-editWp">
    <div class="Made-h1 ProfilePage-h1">Edit Profile</div>

    <div (click)="onProcessPhoto()" [style.backgroundImage]="'url(' + (this.form.value.profile_photo_url || DEFAULT_IMAGE) + ')'" class="ProfilePage-pic is-profile" data-test-id="profile_photo">
      <div class="ProfilePage-add">
        <i class="mb-icon-pencil"></i>
      </div>
    </div>
    <form [formGroup]="form">
      <ion-grid class="defGrid">
        <ion-row>
          <ion-col>
            <ion-item class="Input">
              <ion-label floating>First name</ion-label>
              <ion-input formControlName="first_name" type="text" data-test-id="first_name"></ion-input>
              <div [class.is-active]="form.get('first_name').dirty && form.get('first_name').errors" class="InputError" item-end>
                <span *ngIf="form.get('first_name').errors?.required">This field is required</span>
                <span *ngIf="form.get('first_name').errors?.maxlength">Maximal length {{ form.get('first_name').errors?.maxlength?.requiredLength }} symbols</span>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="Input">
              <ion-label floating>Last name</ion-label>
              <ion-input formControlName="last_name" type="text" data-test-id="last_name"></ion-input>
              <div [class.is-active]="form.get('last_name').dirty && form.get('last_name').errors" class="InputError" item-end>
                <span *ngIf="form.get('last_name').errors?.required">This field is required</span>
                <span *ngIf="form.get('last_name').errors?.maxlength">Maximal length {{ form.get('last_name').errors?.maxlength?.requiredLength }} symbols</span>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="Input">
              <ion-label floating>Email</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
              <div [class.is-active]="form.get('email').dirty && form.get('email').errors" class="InputError" item-end>
                <span *ngIf="form.get('email').errors?.required">This field is required</span>
                <span *ngIf="form.get('email').errors?.email">Enter a valid email</span>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item class="Input">
              <ion-label floating>Zip code</ion-label>
              <ion-input formControlName="zip_code" type="text" data-test-id="zip_code"></ion-input>
              <div [class.is-active]="form.get('zip_code').dirty && form.get('zip_code').errors" class="InputError" data-test-id="zip_code_minlength_error" item-end>
                <span *ngIf="form.get('zip_code').errors?.required">This field is required</span>
                <span *ngIf="form.get('zip_code').errors?.minlength">Minimum {{ form.controls.zip_code.errors.minlength.requiredLength }} digits</span>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
