.Badge {
  $badge-size: pxtovw(24px);

  height: $badge-size;
  padding: pxtovw(3px) pxtovw(14px);
  margin: pxtovw(1px) 0 0 pxtovw(8px);
  font-size: $t-base;
  font-weight: 500;
  color: white;
  background: color($colors, violet);
  border-radius: pxtovw(15px);
}

.Indicator {
  &:after {
    position: absolute;
    right: pxtovw(2px);
    bottom: pxtovw(2px);
    width: pxtovw(7px);
    height: pxtovw(7px);
    content: '';
    background: color($colors, warning);
    border-radius: 50%;
  }

  &.is-profileComplete {
    &:after {
      display: none;
    }
  }
}

.Spinner {
  width: 100%;
  margin: pxtovw(10px) auto 0;
  text-align: center;
}
