.Badge {
  $badge-size: pxtovw(24px);

  height: $badge-size;
  padding: pxtovw(3px) pxtovw(12px);
  margin-left: pxtovw(10px);
  font-size: $t-base;
  font-weight: 500;
  line-height: $badge-size;
  color: white;
  background: color($colors, violet);
  border-radius: 12px;
}
