@mixin content-padding {
  padding: pxtovw(17px) pxtovw(24px);
}

.contentSidePadding {
  @include content-padding;

  width: 100%;
  height: 100%;
}

.contentVerticalPadding {
  padding: pxtovw(17px) 0;
}
