$content-x-offset: pxtovw(24px);
$content-y-offset: pxtovw(17px);

@mixin content-padding {
  padding: $content-y-offset $content-x-offset;
}

.contentSidePadding {
  @include content-padding;

  width: 100%;
  height: 100%;
}

.contentVerticalPadding {
  padding: $content-y-offset 0;
}
