.Button {
  $button-height: pxtovw(55px);

  width: 100%;
  min-height: $button-height;
  font-size: $t-base;
  line-height: $button-height;
  text-transform: none;  //Added to remove upercase No button in design is upercase
  background-color: color($colors, primary);
  border-radius: pxtovw(10px);
  box-shadow: 0 6px 34px rgba(color($colors, primary), 50%);

  &.button-small {
    $button-height: pxtovw(40px);

    width: auto;
    min-height: $button-height;
    padding: 0 pxtovw(40px);
    font-size: $t-base;
    line-height: $button-height;
  }

  &.is-loading {
    box-shadow: none;
  }
}

.Link {
  font-weight: 500;
  color: color($colors, honey);
  white-space: nowrap;

  &.is-button {
    width: 100%;
    background: none;
  }
}
