.Button {
  $button-height: 55px;

  width: 100%;
  min-height: $button-height;
  line-height: $button-height;
  background-color: color($colors, primary);
  border-radius: 10px;
  box-shadow: 0 6px 34px rgba(color($colors, primary), 50%);

  &.button-small {
    $button-height: 40px;

    width: auto;
    min-height: $button-height;
    padding: 0 40px;
    font-size: $t-base;
    line-height: $button-height;
  }

  &.is-loading {
    box-shadow: none;
  }
}

.Link {
  font-weight: 500;
  line-height: 1.2;
  color: color($colors, honey);
  white-space: nowrap;
}
