<ion-header madeBackHeader></ion-header>


<ion-content no-padding>
  <made-nav *ngIf="!params?.isRootPage" [activePage]="PageNames.WelcomeToMade"></made-nav>

  <div class="Made-wp Made-wpContent">
    <div *ngIf="!params?.isRootPage" class="WelcomeTitle">Welcome To MADE!</div>
    <div *ngIf="params?.isRootPage" class="WelcomeTitle">How MADE works?</div>

    <div class="WelcomeTitle-icon">
      <img src="assets/imgs/icons/discount.png" alt="">
    </div>

    <num-list [list]="list"></num-list>
  </div>
</ion-content>


<ion-footer *ngIf="!params?.isRootPage" madeContinueFooter (continue)="onContinue()"></ion-footer>
