form {
  width: 100%;
}

input[type="button"],
input[type="submit"],
button {
  padding: 0;
}

.header-md:after { //to remove header shadow
  background-image: none;
}

.toolbar, //to remove header underline
.toolbar-background {
  background: color($colors, white);
}

.toolbar-title-md { //align center logo on android
  text-align: center;
}

.has-refresher > .scroll-content { //to remove top-border for refresher
  border-top: 0;
}

[ion-button="alert-button"].alert-button { // change color of popup button text
  color: color($colors, azureRadiance);
}

.alert-md div.alert-message,
.alert-ios div.alert-message { // change size of popup text
  font-size: pxtovw(17px);
  text-align: center;
}
