form {
  width: 100%;
}

input[type="button"],
input[type="submit"],
button {
  padding: 0;
}

.header-md:after { //to remove header shadow
  background-image: none;
}

.toolbar, //to remove header underline
.toolbar-background {
  background: color($colors, white);
}

.toolbar-title-md { //align center logo on android
  text-align: center;
}

.has-refresher > .scroll-content {
  border-top: 0;
}
