.AuthConfirmPage {
  $max-code-length: 6;
  $digit-width: pxtovw(38px);
  $digit-height: pxtovw(48px);
  $digit-offset: pxtovw(8px);
  $width: $digit-width * $max-code-length + $digit-offset * ($max-code-length - 1);

  .AuthConfirmPage-codeControl {
    width: $width;
    margin-top: pxtovw(64px);

    .text-input { // override ionic styles
      width: 100%;
      font-family: monospace;
      font-size: $t-h3;
      letter-spacing: pxtovw(33.4px);

      &.text-input-md {
        padding-left: pxtovw(4.2px);
      }

      &.text-input-ios {
        padding-left: pxtovw(13.2px);
      }
    }

    &.item-block .item-inner,
    &.item-input-has-focus .item-inner { // override ionic styles
      border-bottom: none;
      box-shadow: none !important; // fix android input styles (long selectors without !important)
    }
  }

  .AuthConfirmPage-digit {
    position: absolute;
    top: -1 * $digit-height;
    width: $digit-width;
    height: $digit-height;
    border: 1px solid color($grayscale, 200);
    border-radius: 4px;

    @for $i from 1 through $max-code-length {
      &.is-number#{$i} {
        left: ($digit-width + $digit-offset) * ($i - 1);
      }
    }
  }

  .AuthConfirmPage-digits {
    position: relative;
    width: $width;
    margin-bottom: pxtovw(122px);
    pointer-events: none;

    &.is-withError .AuthConfirmPage-digit {
      border-color: color($colors, danger);
    }
  }

  .AuthConfirmPage-error {
    width: 100%;
    margin-top: pxtovw(4px);
    color: color($colors, danger);
    text-align: center;
  }

  .AuthConfirmPage-phoneNumber {
    margin-top: pxtovw(12px);
  }
}
