<ion-header class="ion-bb-header" madeUserHeader [profile]="profile | async" [hasBackButton]="false"></ion-header>

<ion-content padding>
  <div *ngIf="today" class="bb-wp-a">
    <div>
      <!--  Enable this after available time data is received from the backend.
        <div class="p-t-top">
          <div class="p-t-top-info">
            Available time <span>45 min</span>
            <div class="p-t-top-info-progress"><div class="p-t-top-info-progress-line" [style.width]="'50%'"></div></div>
          </div>
        </div>
      -->

      <div class="bb-text-up" ion-row justify-content-between align-items-center>
        <div>
          Today’s Schedule
        </div>

        <button (click)="refresh()" ion-button icon-only outline clear color="dark" class="p-t-up-refresh">
          <ion-icon name="ios-refresh-outline"></ion-icon>
        </button>
      </div>

      <div class="p-t-history">
        <button ion-button icon-only clear color="dark" class="p-t-history-item">
          Visits Remaining Today
          <span class="p-t-history-item-num">{{ remainingVisitsCount }}</span>
        </button>
        <button ion-button icon-only clear color="dark" class="p-t-history-item">
          Total This Week
          <span class="p-t-history-item-num">{{ today.week_visits_count }}</span>
        </button>
      </div>
    </div>


    <div class="p-t-items">
      <div *ngIf="today.today_appointments.length === 0" class="p-t-items-null">Your scheduled visits will show up here.</div>

      <appointment-item
        *ngFor="let appointment of today.today_appointments; let index = index"
        [appointment]="appointment"
        [appointmentTag]="appointmentTags[index]"
        (click)="onAppointmentClick(appointment)">
      </appointment-item>
    </div>
  </div>
</ion-content>

<user-footer></user-footer>
