@mixin water-circles {
  $circle-color: lighten(color($colors, secondary), 1%);
  $circle-size: pxtovw(55px);
  $circle-stroke: pxtovw(1px);

  box-shadow:
    0 0 0 ($circle-stroke) $circle-color,
    0 0 0 ($circle-size * 1) white,
    0 0 0 ($circle-size * 1 + $circle-stroke) $circle-color,
    0 0 0 ($circle-size * 2.2) white,
    0 0 0 ($circle-size * 2.2 + $circle-stroke) $circle-color,
    0 0 0 ($circle-size * 3.5) white,
    0 0 0 ($circle-size * 3.5 + $circle-stroke) $circle-color;
}

page-first-screen {
  .FirstScreen-logo {
    $size: pxtovw(187px);

    @include water-circles;

    width: $size;
    height: $size;
    margin: pxtovw(150px) auto 0;
    border-radius: 50%;

    img {
      width: 155 / 187 * 100%;
    }
  }

  .FirstScreen-title {
    min-width: 100%;
    margin-bottom: pxtovw(16px);
  }

  .FirstScreen-subtitle {
    font-size: pxtovw(15px);
    color: color($colors, warmGrey);
  }

  .FirstScreen-continue {
    margin: pxtovw(32px) 0 pxtovw(28px);
  }
}
