<div class="Made-wp Made-wpContent">
  <div class="WelcomeInfo-title">
    Welcome to MADE!
  </div>

  <div class="WelcomeInfo-icon">
    <img src="assets/imgs/icons/discount.png" alt="">
  </div>

  <div class="WelcomeInfo-list">
    <div class="WelcomeInfo-listNum">1</div>
    You set your services and full prices.
  </div>
  <div class="WelcomeInfo-list">
    <div class="WelcomeInfo-listNum">2</div>
    You select your discounts.
  </div>
  <div class="WelcomeInfo-list">
    <div class="WelcomeInfo-listNum">3</div>
    Your clients book.
  </div>
  <div class="WelcomeInfo-list">
    <div class="WelcomeInfo-listNum">4</div>
    We help track your prices and reduce discounts automatically as your calendar fills up!
  </div>
</div>
