.H1 {
  margin-top: 32px;
  font-size: $t-h2;
  font-weight: 500;
  text-align: center;

  .H1-subtitle {
    margin-top: 14px;
    font-size: $t-small;
    font-weight: normal;
    color: color($grayscale, 500);
    text-align: center;
  }
}

.Button {
  width: 100%;
  min-height: 55px;
  background-color: color($colors, primary);
  border-radius: 10px;
  box-shadow: 0 6px 34px rgba(color($colors, primary), 50%);

  &.is-loading {
    box-shadow: none;
  }
}

.Link {
  font-weight: 500;
  line-height: 1.2;
  color: color($colors, honey);
  white-space: nowrap;
}

.FormControl {
  padding: 0;

  &.item-block .item-inner { // override ionic styles
    padding: 0;
    border-bottom: 1px solid color($grayscale, 200);
  }

  &.item-input-has-focus .item-inner { // override ionic styles
    border-bottom-color: color($colors, orange);
  }

  .select-ios { // override ionic styles
    flex: 1;
    max-width: 100%;
    padding: 0 8px 0 0;
  }
}

.AuthPage {
  .AuthPage-phoneInputGroup {
    margin: 110px 0 80px;
  }

  .AuthPage-countryCodeControl {
    width: 90px;
    margin-right: 24px;

    .select-text:first-letter {
      $flag-size: 22px;

      font-size: $flag-size;
    }
  }

  .AuthPage-phoneControl {
    width: 144px;
  }
}
