page-upcoming {
  .Appointments {
    margin-bottom: pxtorem(180);

     @media ($smartphone) {
       margin-bottom: pxtorem(120);
     }

    @media ($phone) {
       margin-bottom: pxtorem(80);
     }
   }

  .Appointments-null {
    margin-top: pxtorem(120);
    font-size: pxtorem10(35);
    font-style: italic;
    text-align: center;

    @media ($smartphone) {
      font-size: pxtorem10(30);
    }

    @media ($phone) {
      font-size: pxtorem10(20);
    }
  }

  .Appointments-day {
    margin-bottom: pxtorem(60);
    font-size: $t-h3;
    color: rgba(0, 0, 0, 0.5);

    @media ($smartphone) {
      margin-bottom: pxtorem(50);
      font-size: $t-h4;
    }

    @media ($phone) {
      margin-bottom: pxtorem(30);
      font-size: $t-base;
    }
  }
}
