<ion-header class="ion-bb-header" madeUserHeader [profile]="profile | async" [hasBackButton]="false"></ion-header>

<ion-content padding #content>
  <div *ngIf="upcoming" class="bb-wp-a">
    <div>
      <div class="bb-text-up" ion-row justify-content-between align-items-center>
        <div>
          <span *ngIf="!params.isHistory">Upcoming</span>
          <span *ngIf="params.isHistory">History</span>
          <span class="bb-text-up-info">{{ upcoming.totalAppointments }}</span>
        </div>
      </div>
    </div>


    <div class="Appointments">
      <div *ngIf="upcoming.upcomingAppointments.length === 0" class="Appointments-null">Your scheduled visits will show up here.</div>

      <div *ngFor="let upcomingItem of upcoming.upcomingAppointments">

        <div class="Appointments-day">{{ upcomingItem.day | date:'dd MMM' }}</div>

        <appointment-item
          *ngFor="let appointment of upcomingItem.appointments"
          [appointment]="appointment">
        </appointment-item>
      </div>
    </div>
  </div>
</ion-content>

<user-footer></user-footer>
