.HomePage {
  .contentSidePadding { //move this class to general style
    height: 100%;
    padding: 0 pxtovw(25px);
  }

  .HomePage-spinner {
    margin: pxtovw(10px) auto 0;
  }

  .HomePage-homeEmpty ion-row:first-child {
    text-align: center;
  }

  .HomePage-wText {
    margin: pxtovw(48px) 0 pxtovw(75px);
    font-size: $t-h3;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }

  .HomePage-title { //the same for history make it general
    display: flex;
    width: 100%;

    .HomePage-h1 {
      display: inline-block;
      align-self: flex-start;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .HomePage-avatar {
      align-self: flex-end;
      width: 20%;
      text-align: center;
      vertical-align: top;
    }

    .HomePage-avatar img {
      width: pxtovw(40px);
      height: pxtovw(40px);
    }
  }

  .HomePage-subtitleContainer {
    display: flex;
    align-items: flex-start;
    margin: pxtovw(10px) 0;

    .HomePage-subtitle {
      display: inline-block;
      width: auto;
      font-size: $t-h3;
      font-weight: 600;
    }

    .HomePage-labelPurpul {
      display: inline-block;
      padding: pxtovw(1px) pxtovw(12px);
      margin-left: pxtovw(7px);
      font-size: $t-base;
      color: color($colors, white);
      vertical-align: text-top;
      background: color($colors, violet);
      border-radius: pxtovw(20px);
    }
  }

  .HomePage-upcomingEmpty {
    padding: pxtovw(20px) pxtovw(5px);
    font-size: $t-base;
    text-align: center;
  }

  .HomePage .HomePage-upcomingEmpty img {
    margin-left: pxtovw(5px);
    vertical-align: middle;
  }
}
