.HomePage {
  .HomePage-grid {
    height: 100%;
  }

  .HomePage-spinner {
    margin: 10px auto 0;
  }

  .HomePage-homeEmpty ion-row:first-child {
    height: 40%;
    text-align: center;
  }

  .HomePage-homeEmpty ion-row:last-child {
    height: 25%;
  }

  .HomePage-wText {
    height: 30%;
    font-size: $t-h3;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }

  .HomePage-title {
    display: flex;
    width: 100%;

    .HomePage-h1 {
      display: inline-block;
      align-self: flex-start;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .HomePage-avatar {
      align-self: flex-end;
      width: 20%;
      text-align: center;
      vertical-align: top;
    }
  }

  .HomePage-subtitleContainer {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;

    .HomePage-subtitle {
      display: inline-block;
      width: auto;
      font-size: $t-h3;
      font-weight: 600;
    }

    .HomePage-labelPurpul {
      display: inline-block;
      padding: 1px 12px;
      margin-left: 7px; 
      font-size: $t-base;
      color: color($colors, white);
      vertical-align: text-top;
      background: color($colors, violet);
      border-radius: 20px;
    }
  }

  .HomePage-upcomingEmpty {
    padding: 20px 5px;
    font-size: $t-base;
    text-align: center;
  }

  .HomePage-upcomingEmpty img {
    margin-left: 5px;
    vertical-align: middle;
  }
}
