<ion-header madeHeader></ion-header>

<ion-content class="HomePage">
  <!-- Use refresher to initiate loading -->
  <ion-refresher (ionRefresh)="onRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="contentSidePadding">

    <!-- Show spinner if loading is in progress and refresher is not active (to avoid double loading indicators) -->
    <ion-spinner *ngIf="isLoading && refresher.state === 'inactive'" class="HomePage-spinner"></ion-spinner>

    <div class="titleBox ">
      <h1 class="HomePage-h1 pageTitle">Home</h1>
      <profile-header></profile-header>
    </div>

    <div *ngIf="homeData">
      <div *ngIf="homeData.upcoming?.length !== 0 || homeData.last_visited" class="HomePage-subtitleContainer">
        <span class="HomePage-subtitle">Upcoming Visits</span>
        <span class="HomePage-labelPurpul">{{ homeData.upcoming.length }}</span>
      </div>
      <div *ngIf="homeData.upcoming?.length > 0; else noUpcoming">
        <!-- show upcoming appointment cards -->
        <div *ngFor="let appointment of homeData.upcoming">
          <appointment-item [appointment]="appointment" (cardClick)="onAppointmentClick(appointment, AppointmentType.upcoming)"></appointment-item>
        </div>
      </div>

      <ng-template #noUpcoming>
        <div class="HomePage-upcomingEmpty" *ngIf="homeData.last_visited">
          <!-- There are no upcoming visits but there is a past visit -->
          <!--To Do png change to svg-->
          Your future visits will show up here
          <img src="assets/icons/invalidName.png">
        </div>
      </ng-template>

      <div *ngIf="homeData.last_visited">
        <!-- show last visit appointment card -->
        <div class="HomePage-subtitleContainer">
          <span class="HomePage-subtitle">Last Visit</span>
        </div>
        <appointment-item [appointment]="homeData.last_visited" (cardClick)="onAppointmentClick(homeData.last_visited, AppointmentType.past)"
          hasRebook="true" (rebookClick)="onRebookClick(homeData.last_visited)"></appointment-item>
      </div>


      <!-- show this if there are no past or upcoming visits, i.e. this is a new client -->
      <ion-grid no-padding class="HomePage-grid HomePage-homeEmpty" *ngIf="(!homeData.upcoming || homeData.upcoming.length === 0) && !homeData.last_visited">
          <ion-row class="HomePage-wText">
              <ion-col align-self-center>
                Welcome!
              </ion-col>
            </ion-row>
        <ion-row>
          <ion-col class="HomePage-wImage">
            <!--ToDo the image will be replaced once SVG is ready-->
            <img src="assets/icons/welcome-home.svg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer>
  <button *ngIf="homeData" ion-button class="Button HomePageBookButton" (click)="onBookClick()">Book</button>
</ion-footer>
