.HomePage {
  ion-navbar,
  ion-toolbar {
    background: white;
  }

  .HomePage-homeEmpty ion-row:first-child {
    text-align: center;
  }

  .HomePage-wText {
    margin: pxtovw(65px) 0 pxtovw(5px);
    font-size: $t-h3;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }

  .HomePage-wImage {
    margin-bottom: pxtovw(50px);
  }

  .HomePage-h1 {
    display: inline-block;
    align-self: flex-start;
    width: pxtovw(311px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .HomePage-subtitleContainer {
    display: flex;
    align-items: flex-start;
    margin: pxtovw(24px) 0;

    .HomePage-subtitle {
      width: auto;
      font-size: $t-h3;
      font-weight: 600;
    }

    .HomePage-labelPurpul {
      display: inline-block;
      padding: pxtovw(1px) pxtovw(12px);
      margin-left: pxtovw(7px);
      font-size: $t-base;
      color: color($colors, white);
      vertical-align: text-top;
      background: color($colors, violet);
      border-radius: pxtovw(20px);
    }
  }

  .HomePage-upcomingEmpty {
    padding: pxtovw(20px) pxtovw(5px);
    font-size: $t-base;
    text-align: center;
  }

  .HomePage .HomePage-upcomingEmpty img {
    margin-left: pxtovw(5px);
    vertical-align: middle;
  }
}
// Move the footer description to global css after discussion.
// Added to remove footer top border.
.footer {
  background: white;
}

.footer-md:before {
  display: none;
}

.HomePageBookButton {
  width: pxtovw(200px);
  margin: pxtovw(5px) pxtovw(87px) pxtovw(17px) pxtovw(88px);
}
