page-tabs ion-tabs.tabs {
  .tabbar {
    background: white;
    border-top: 1px solid color($colors, color26);

    &:before {
      display: none;
    }

    .tab-button {
      min-height: auto;
      padding: 7px 0 0;

      ion-icon {
        padding: 1px;
        margin: 0;
      }

      .tab-button-text {
        margin-top: 3px;
        font-size: pxtovw(10px);
        letter-spacing: 0.2px;
      }
    }
  }
}
