change-percent {
  .changePercent {
    position: absolute;
    top: calc(100% - 230px);
    width: 100%;
    height: pxtovw(230px);
    overflow-y: scroll;
    text-align: center;
    background: color($colors, white);
    box-shadow: 0 0 pxtovw(40px) color($colors, lightGrey);
    transition: all 100ms linear;

    &.is-errorMsg {
      top: calc(100% - 280px);
      height: pxtovw(280px);
      padding: pxtovw(50px) 0 0;
    }
  }

  .changePercent-errorMsg {
    position: absolute;
    top: -43px;
    font-size: pxtovw(15px);
    color: color($colors, bb_warn);
    text-align: left;
    opacity: 0;
    transition: opacity 100ms linear;
  }

  .changePercent-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .changePercent-cancel {
    color: color($colors, danger);
  }

  .changePercent-scroll {
    padding: pxtovw(24px) 0 pxtovw(16px);
    text-align: center;
  }

  .changePercent-info {
    font-size: pxtovw(18px);
    color: color($colors, dark);
  }

  .changePercent-range {
    padding-right: 0;
    padding-left: 0;
    margin: pxtovw(10px) 0 0;
  }
}
