<div (click)="dismiss()" data-test-id="changePercent_dismiss" class="changePercent-close"></div>
<div [class.is-errorMsg]="data?.errorMsg && percentage > data?.prevDiscountPercent" class="changePercent">
  <div class="Made-wp">
    <div *ngIf="data" class="changePercent-scroll">
      <div *ngIf="data.errorMsg" [style.opacity]="+(percentage > data?.prevDiscountPercent)" class="changePercent-errorMsg">
        {{ data.errorMsg }}
      </div>

      <ion-grid class="changePercent-info" no-padding>
        <ion-row no-padding>
          <ion-col col-6 text-left no-padding>{{ data.label }}</ion-col>
          <ion-col *ngIf="data.symbol === ChangePercentSymbols.percent" col-6 text-right no-padding class="inactive">{{ percentage }}{{ data.symbol }}</ion-col>
          <ion-col *ngIf="data.symbol === ChangePercentSymbols.usd" col-6 text-right no-padding class="inactive">{{ data.symbol }}{{ percentage }}</ion-col>
        </ion-row>
      </ion-grid>

      <ion-range [min]="data.min" [max]="data.max" [step]="data.step" [(ngModel)]="percentage" color="dark" class="ion-bb-range changePercent-range"></ion-range>
    </div>


    <ion-row justify-content-center align-items-center>
      <a style="visibility: hidden;">Cancel</a>

      <button (click)="save()" ion-button type="submit" class="bb-btn-circle">
        <ion-icon name="ios-checkmark-outline"></ion-icon>
      </button>

      <a (click)="dismiss()" class="changePercent-cancel">Cancel</a>
    </ion-row>
  </div>
</div>
