<ion-header madeHeader [hideBackButton]="true"></ion-header>

<ion-content scroll="false"></ion-content>
<ion-scroll *ngIf="stylist" scrollY="true" class="StylistInvitationPage contentSidePadding">

  <!-- Title: -->
  <ion-row justify-content-center>
    <div [ngSwitch]="pageType" class="StylistInvitationPage-title SharedH1">
      <!-- Invitation: -->
      <ng-container *ngSwitchCase="StylistPageType.Invitation">We found your stylist</ng-container>

      <!-- My stylist: -->
      <ng-container *ngSwitchCase="StylistPageType.MyStylist">My stylist</ng-container>
    </div>
  </ion-row>

  <!-- Stylist’s pic: -->
  <ion-row justify-content-center>
    <div class="StylistInvitationPage-pic" [style.backgroundImage]="'url(' + (stylist.profile_photo_url || 'assets/icons/stylist-avatar.png') + ')'"></div>
  </ion-row>

  <!-- Data: -->
  <ion-row justify-content-center align-items-center class="StylistInvitationPage-salonName">{{ stylist.salon_name }}</ion-row>
  <ion-row justify-content-center align-items-center class="StylistInvitationPage-name">{{ stylist.first_name }} {{ stylist.last_name }}</ion-row>
  <ion-row align-items-center *ngIf="stylist.salon_address" justify-content-center class="StylistInvitationPage-address">
    <i class="mb-icon-marker"></i>&nbsp;<p>{{ stylist.salon_address }}</p>
  </ion-row>
  <ion-row align-items-center *ngIf="stylist.phone" justify-content-center class="StylistInvitationPage-phone">
    <i class="mb-icon-phone-a"></i>&nbsp;<phone-link [phone]="stylist.phone" [readonly]="pageType === StylistPageType.Invitation"></phone-link>
  </ion-row>

  <ion-row align-items-center *ngIf="stylist.instagram_url" justify-content-center class="StylistInvitationPage-phone">
    <span [class.Link]="pageType === StylistPageType.MyStylist" (click)="onInstagramClick(stylist.instagram_url)">
      <i class="mb-icon-instagram"></i>&nbsp;{{ stylist.instagram_url }}
    </span>
  </ion-row>

  <!-- Fix unnecessary space issue on invitation screen: -->
  <div *ngIf="pageType === StylistPageType.Invitation" class="flex-1"></div>

  <!-- Footer: -->
  <div [ngSwitch]="pageType" class="Footer StylistInvitationPage-footer">
    <!-- Invitation: -->
    <ng-container *ngSwitchCase="StylistPageType.Invitation">
      <ion-row justify-content-center>
        <button (click)="onContinueWithStylist()" ion-button class="StylistInvitationPage-submit Button">Let‘s get started!</button>
      </ion-row>
      <ion-row justify-content-center>
        <span (click)="onProceedToStylists()" class="Link">It’s not my stylist</span>
      </ion-row>
    </ng-container>

    <!-- My stylist: -->
    <ng-container *ngSwitchCase="StylistPageType.MyStylist">
      <ion-row justify-content-center>
        <span (click)="onProceedToStylists()" class="Link StylistInvitationPage-Link">Looking for a&nbsp;new stylist?</span>
      </ion-row>
    </ng-container>
  </div>
<ion-scroll>
