.SharedCard {
  padding: pxtovw(18px) pxtovw(23px) pxtovw(15px);
  margin-bottom: pxtovw(16px);
  background: white;
  border-radius: pxtovw(15px);
  box-shadow: 0 7px 43px color($grayscale, 200);

  &.is-loading {
    $loading-bg-size: 80px;
    $loading-bg-color: color($grayscale, 100);

    @keyframes animate-loading {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: $loading-bg-size $loading-bg-size;
      }
    }

    background: linear-gradient(135deg, $loading-bg-color 20%, white 0, white 35%, $loading-bg-color 0, $loading-bg-color 70%, white 0, white 85%, $loading-bg-color 0);
    background-size: $loading-bg-size $loading-bg-size;
    animation: animate-loading 1.8s linear infinite;
  }
}

.SharedCategories-categories {
  padding-bottom: pxtovw(24px);
  margin-top: pxtovw(24px);
}

.SharedCategories-card {
  display: flex;
}

.SharedCategories-cardImg {
  $icon-size: pxtovw(48px);

  width: $icon-size;
  height: $icon-size;
  margin-right: pxtovw(28px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.SharedCategories-cardTitle {
  margin-top: pxtovw(2px);
  font-size: pxtovw(18px);
  font-weight: 500;
}

.SharedCategories-cardSubtitle {
  font-size: pxtovw(15px);
  color: color($grayscale, 500);
}
