appointment-item {
  position: relative;
  display: block;

  .AppointmentItem-wp {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: pxtovw(16px) pxtovw(24px);
    margin-bottom: pxtovw(15px);
    background: color($colors-shared, white);
    border-radius: 20px;
    box-shadow: 0 0 50px 15px color($colors-shared, abbey);

    &.isChecked {
      visibility: hidden;
    }

    &.WithBadge {
      padding: pxtovw(18px) pxtovw(24px) pxtovw(16px);
    }
  }

  .AppointmentItem-Header {
    margin: 0 pxtovw(3px) pxtovw(6px);
    font-size: pxtovw(17px);
    color: color($colors-shared, orange);
    text-align: right;
  }

  .AppointmentItem-status {
    position: absolute;
    top: pxtovw(-9px);
    left: pxtovw(24px);
    z-index: 2;
    padding: pxtovw(3px) pxtovw(10px);
    font-size: pxtovw(13px);
    color: color($colors, white);
    text-transform: uppercase;
    border-radius: pxtovw(16px);

    &.Not.checked.out, &.No-show {
      background: color($colors-shared, danger);
    }

    &.New {
      background: #E96D5C;
    }

    &.Now {
      background: color($colors-shared, mauve);
    }

    &.Next {
      color: black;
      background: color($colors-shared, lightPeach);
    }
  }

  .AppointmentItem-top {
    display: flex;
    justify-content: space-between;
  }

  .AppointmentItem-topTime {
    font-size: pxtovw(18px);
    font-weight: 700;
    white-space: nowrap;
  }

  .AppointmentItem-topTimeDay {
    display: inline-block;
    margin-left: pxtovw(5px);
    font-size: pxtovw(12px);
    font-weight: 400;
    color: color($colors-shared, santasGray);
    letter-spacing: pxtovw(0.5px);
  }

  .AppointmentItem-topPrice {
    display: flex;
    align-items: start;
    justify-content: flex-end;
    font-size: pxtovw(18px);
    font-weight: 700;
    text-align: right;
  }

  .AppointmentItem-topPriceCur {
    position: relative;
    top: 1px;
    font-size: pxtovw(12px);
  }

  .AppointmentItem-desc {
    margin: pxtovw(2.8px) 0 pxtovw(7px);
    text-align: left;
  }

  .AppointmentItem-desc span {
    position: relative;
    display: block;
    max-height: pxtovw(44px);
    padding-right: 1em;
    overflow: hidden;
    font-size: pxtovw(21px);
    font-weight: 700;
    line-height: pxtovw(22px);
    letter-spacing: pxtovw(0.09px);

    &:before {
      position: absolute;
      right: 0;
      bottom: 0;
      content: '...';
    }

    &:after {
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      content: '';
      background: white;
    }
  }

  .AppointmentItemFooter {
    display: flex;
    font-size: pxtovw(15px);
    color: color($colors-shared, santasGray);
  }

  .AppointmentItemFooter-cell {
    align-items: center;
    width: 50%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    i {
      display: inline-block;
      color: #FEE6D8;
      vertical-align: middle;
    }

    &.isFull {
      width: 100%;
    }
  }

  .AppointmentItemFooter-ava {
    display: inline-block;
    flex: 0 0 auto;
    width: pxtovw(21px);
    height: pxtovw(21px);
    margin-right: pxtovw(1px);
    vertical-align: middle;
    background-image: url('../assets/imgs/icons/avatar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    border: 1px solid color($colors-shared, watusi);
    border-radius: 50%;
  }

  .AppointmentItemFooter-text {
    vertical-align: middle;

    &.isBold {
      font-weight: 700;
    }
  }
}
