.Button {
  $button-height: pxtovw(55px);

  width: 100%;
  min-height: $button-height;
  font-size: $t-base;
  line-height: $button-height;
  text-transform: none;  //Added to remove upercase No button in design is upercase
  background-color: color($colors, primary);
  border-radius: pxtovw(10px);

  &.button-small {
    $button-height: pxtovw(40px);

    width: auto;
    min-height: $button-height;
    padding: 0 pxtovw(40px);
    font-size: $t-base;
    line-height: $button-height;
  }

  &.button-mini {
    width: auto;
    height: auto;
    min-height: auto;
    padding: 0 pxtovw(8px);
    margin: 0;
    font-size: pxtovw(16px);
    line-height: initial;
    border: 1px solid transparent;
    border-radius: pxtovw(20px);

    &.is-inHeader {
      padding: pxtovw(2px) pxtovw(12px);
      font-size: pxtovw(16px) !important; // rewrite ionic header buttons style
    }

    &.is-saved {
      color: color($colors-shared, lightSalmon);
      background: none;
      border: 1px solid color($colors-shared, lightSalmon);
    }
  }
}

.Link {
  font-weight: 500;
  color: color($colors-shared, honey);
  white-space: nowrap;

  &.is-button {
    width: 100%;
    background: none;
  }
}
