.StylistProfilePreview-name {
  margin-bottom: pxtovw(8px);
  font-size: $shared-h2;
  font-weight: 700;
  text-align: left;
}

.StylistProfilePreview-salon {
  display: flex;
  justify-content: space-between;
  margin-bottom: pxtovw(28px);
  font-size: $shared-h4;
  font-variant: small-caps;
  color: color($colors-shared, warmGrey);
  text-align: left;
}

.StylistProfilePreview-clients {
  display: flex;
  align-items: center;
  margin-bottom: pxtovw(16px);
  font-size: $shared-h4;

  i[class^=mb-icon] {
    height: pxtovw(22px);
    margin-right: pxtovw(7px);
    font-size: pxtovw(22px);
    line-height: pxtovw(23px);
    color: color($colors-shared, lightSalmon);
  }

  &:not(.is-notBookable) {
    color: color($colors-shared, lightSalmon);
  }
}

.StylistProfilePreview-photo {
  img {
    width: 100%;
    vertical-align: middle;
  }
}


.StylistProfilePreview-item {
  padding-bottom: pxtovw(16px);
  margin-top: pxtovw(16px);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.StylistProfilePreview-itemTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: pxtovw(11px);
  font-size: $shared-h4;
  font-variant: small-caps;
  color: color($colors-shared, warmGrey);

  i[class^=mb-icon] {
    font-size: pxtovw(23px);
    color: color($colors-shared, lightSalmon);
  }
}

.StylistProfilePreview-subTitle {
  margin-bottom: pxtovw(5px);
  font-size: $shared-small;
  text-align: left;
  color: color($colors-shared, warmGrey);
}

.StylistProfilePreview-itemText {
  font-size: $shared-h4;
  font-weight: 300;
  text-align: left;
}

.StylistProfilePreview-itemLink {
  font-size: $shared-h4;
  font-weight: 600;
  text-align: left;
  color: color($colors-shared, lightSalmon);
}

.StylistProfilePreview-map {
  display: block;
  width: 100%;
  height: pxtovw(96px);
  margin-top: pxtovw(16px);
}
