<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button (click)="onSubmit()" [disabled]="!form.valid" ion-button clear>
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="ProfilePage">
  <div (click)="onProcessPhoto()" [style.backgroundImage]="photoUrl" class="ProfilePage-pic">
    <div class="ProfilePage-add">
      <ion-icon name="md-camera"></ion-icon>
    </div>
  </div>
  <form [formGroup]="form">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-item class="ProfilePage-formControl FormControl" col-6>
            <ion-label floating>First name</ion-label>
            <ion-input formControlName="first_name" type="text"></ion-input>
          </ion-item>
          <ion-item class="ProfilePage-formControl FormControl" col-6>
            <ion-label floating>Last name</ion-label>
            <ion-input formControlName="last_name" type="text"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="ProfilePage-formControl FormControl">
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="ProfilePage-formControl FormControl">
            <ion-label floating>Zip code</ion-label>
            <ion-input type="number" formControlName="zip_code"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-list>
  </form>
</ion-content>
