<ion-header madeHeader></ion-header>

<ion-content>
  <form autocomplete="off" class="contentSidePadding"
    [formGroup]="form">
      <ion-row align-items-center justify-content-between class="AddCard-errorPopup"
        [class.is-shown]="hasGeneralError">
        <span>{{ generalErrorText }}</span>
        <i class="mb-icon-cross" (click)="toggleGeneralError(false)"></i>
      </ion-row>

      <div class="Made-h1">Add Card</div>
      <div class="text-muted AddCard-note">
        Your card will not be charged until you check out of your visit.
        You will have the option at the end of your visit to pay with
        the card on file or pay directly to the salon.
      </div>

      <ion-item class="FormControl AddCard-formControl AddCard-formControl--card"
        [class.is-invalid]="!form.controls.cardNumber.pristine && form.controls.cardNumber.invalid">
          <ion-label stacked>Card Number</ion-label>
          <ion-input formControlName="cardNumber" type="tel" placeholder="••••  ••••  ••••  ••••" autocomplete="false"
            [brmasker]="{mask: '0000  0000  0000  0000  0', type: 'num'}"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col no-padding>
          <ion-item class="FormControl AddCard-formControl AddCard-formControl--exp"
            [class.is-invalid]="!form.controls.cardExp.pristine && form.controls.cardExp.invalid">
              <ion-label floating>Exp. Date</ion-label>
              <ion-input formControlName="cardExp" type="tel" placeholder="mm/yy" autocomplete="false"
                [brmasker]="{mask: '00/00', type: 'num'}"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col no-padding>
          <ion-item class="FormControl AddCard-formControl AddCard-formControl--cvc"
            [class.is-invalid]="!form.controls.cardCvv.pristine && form.controls.cardCvv.invalid">
              <ion-label floating>CVV</ion-label>
              <ion-input formControlName="cardCvv" type="password" pattern="[0-9]*" inputmode="numeric" placeholder="•••" autocomplete="new-password"
                [brmasker]="{type: 'num'}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <div class="AddCard-error"
        *ngIf="stripeError || form.controls.cardNumber.errors?.stripe || form.controls.cardExp.errors?.stripe || form.controls.cardCvv.errors?.stripe as error">
          {{ error }}
      </div>
  </form>
</ion-content>

<ion-footer class="Footer">
  <ion-row justify-content-center>
    <div class="text-muted AddCard-note">
      <ion-icon name="md-lock"></ion-icon>
      <span>&nbsp;Your data protected by SSL connection</span>
    </div>
  </ion-row>

  <button ion-button class="Button AddCard-submit"
    [disabled]="!stripe.isSetPublishableKey() || !form.valid || isLoading"
    (click)="onSaveClick()">{{ isLoading ? 'Saving…' : 'Save' }}</button>
</ion-footer>
