<ion-header madeHeader [hideBackButton]="true"></ion-header>


<ion-content class="AppHistoryPage">
  <!-- Use refresher to initiate loading -->
  <ion-refresher (ionRefresh)="onRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div  class="contentSidePadding">

    <!-- Show spinner if loading is in progress and refresher is not active (to avoid double loading indicators) -->
    <div class="Spinner">
      <ion-spinner *ngIf="isLoading && refresher.state === 'inactive'"></ion-spinner>
    </div>

    <div class="titleBox">
      <h1 class="AppHistoryPage-h1 pageTitle">History</h1>
      <profile-header></profile-header>
    </div>

    <div *ngIf="(historyObservable | async)?.response?.appointments as appointments">
      <div *ngIf="appointments.length > 0; else noAppointments">
        <!-- show appointment cards -->
        <div class="AppHistoryPage-subtitleContainer">
          <div class="Badge-H2">
            Past Visits
            <span class="Badge">{{ appointments.length }}</span>
          </div>
        </div>
        <div *ngFor="let appointment of appointments">
          <appointment-item
            [appointment]="appointment"
            (cardClick)="onAppointmentClick(appointment)"
            (rebookClick)="onRebookClick(appointment)"
            hasRebook="true"
            data-test-id="historyAppointment"></appointment-item>
        </div>
      </div>
    </div>

    <!-- we do not have appointments -->
    <ng-template #noAppointments>
      <!-- only show this section when loading is finished -->
      <div *ngIf="!isLoading" class="AppHistoryPage-nohistory">
        No history to report yet.&nbsp;
        <img class="AppHistoryPage-icon" src="assets/icons/disappointed.png" alt="">
      </div>
      <p class="AppHistoryPage-nohistoryP">Once you check out of your first visit all of your history will show up here!</p>
    </ng-template>

  </div>
</ion-content>
