.AppHistoryPage {
  .AppHistoryPage-spinner {
    margin: pxtovw(10px) auto 0;
  }

  .AppHistoryPage-h1 {
    display: inline-block;
    align-self: flex-start;
    width: pxtovw(311px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .AppHistoryPage-subtitleContainer {
    display: flex;
    align-items: flex-start;
    margin: pxtovw(24px) 0 pxtovw(24px);

    .AppHistoryPage-subtitle {
      width: auto;
      font-size: $t-h3;
      font-weight: 600;
    }

    .AppHistoryPage-labelPurpul {
      display: inline-block;
      padding: pxtovw(3px) pxtovw(14px);
      margin-left: pxtovw(7px);
      font-size: $t-base;
      color: color($colors, white);
      vertical-align: text-top;
      background: color($colors, violet);
      border-radius: pxtovw(13px);
    }
  }

  .AppHistoryPage-nohistory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
    font-size: $t-base;
  }

  .AppHistoryPage-icon {
    width: pxtovw(20px);
  }

  .AppHistoryPage-nohistoryP {
    text-align: center;
    font-weight: bold;
  }
}
