.AppHistoryPage {
  .AppHistoryPage-spinner {
    margin: pxtovw(10px) auto 0;
  }

  .AppHistoryPage-h1 {
    display: inline-block;
    align-self: flex-start;
    width: pxtovw(311px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .AppHistoryPage-subtitleContainer {
    display: flex;
    align-items: flex-start;
    margin: pxtovw(10px) 0;

    .AppHistoryPage-subtitle {
      display: inline-block;
      width: auto;
      font-size: $t-h3;
      font-weight: 600;
    }

    .AppHistoryPage-labelPurpul {
      display: inline-block;
      padding: pxtovw(1px) pxtovw(12px);
      margin-left: pxtovw(7px);
      font-size: $t-base;
      color: color($colors, white);
      vertical-align: text-top;
      background: color($colors, violet);
      border-radius: pxtovw(20px);
    }
  }

  .AppHistoryPage-nohistory {
    margin-top: 180px;
    font-size: $t-base;
    text-align: center;

    .AppHistoryPage-nohistoryP {
      font-weight: bold;
    }
  }
}
