<ion-header madeHeader></ion-header>

<ion-content class="AppHistoryPage">
  <!-- Use refresher to initiate loading -->
  <ion-refresher (ionRefresh)="onLoad()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div  class="contentSidePadding">

    <!-- Show spinner if loading is in progress and refresher is not active (to avoid double loading indicators) -->
    <ion-spinner *ngIf="isLoading && refresher.state === 'inactive'" class="AppHistoryPage-spinner"></ion-spinner>

    <div class="AppHistoryPage-title">
      <h1 class="AppHistoryPage-h1 pageTitle">History</h1>
      <div class="AppHistoryPage-avatar">
        <!-- TODO: add profile image. Need a separate component for it. -->
        <!--img should be removed-->
        <img width="40" height="40" src="assets/icons/stylist-avatar.svg" />
      </div>
    </div>

    <div *ngIf="(historyObservable | async)?.response.appointments as appointments">
      <div *ngIf="appointments.length > 0; else noAppointments">
        <!-- show appointment cards -->
        <div class="AppHistoryPage-subtitleContainer">
          <span class="AppHistoryPage-subtitle">Past Visits</span>
          <span class="AppHistoryPage-labelPurpul">{{ appointments.length }}</span>
        </div>
        <div *ngFor="let appointment of appointments">
          <appointment-item [appointment]="appointment" (cardClick)="onAppointmentClick(appointment)" (rebookClick)="onRebookClick(appointment)"></appointment-item>
        </div>
      </div>
    </div>

    <!-- we do not have appointments -->
    <ng-template #noAppointments>
      <!-- only show this section when loading is finished -->
      <div *ngIf="!isLoading" class="AppHistoryPage-nohistory">
        No history to report yet.
        <ion-icon name="sad"></ion-icon>
        <p class="AppHistoryPage-nohistoryP">Once you check out of your first visit all of your history will show up here!</p>
      </div>
    </ng-template>

  </div>
</ion-content>