<ng-container *ngIf="isLoading; else realClient">
  <ion-row class="Client" align-items-center>
    <div class="Client-img" [style.backgroundImage]="'url(assets/icons/stylist-avatar.png)'"></div>
    <ion-col class="Client-info">
      <ion-row class="Client-phone"><span class="textPreloader"></span></ion-row>
      <ion-row class="Client-cityState"><span class="textPreloader"></span></ion-row>
    </ion-col>
  </ion-row>
</ng-container>

<ng-template #realClient>
  <ion-row (click)="!fullnameOnly && clientClick.emit(client)" class="Client" align-items-center>
    <div class="Client-img" [style.backgroundImage]="'url(' + (client.photo  || 'assets/icons/stylist-avatar.png') + ')'"></div>
    <ion-col class="Client-info" data-test-id="clientInfo">
      <div class="Made-h3 Client-name">{{ client.first_name }} {{ client.last_name }}</div>
      <ion-row *ngIf="!fullnameOnly && client.phone" class="Client-phone">
        <phone-link [phone]="client.phone" icon="mb-icon-phone-a"></phone-link>
      </ion-row>
      <ion-row *ngIf="!fullnameOnly && (client.city || client.state)" class="Client-cityState">
        <i class="mb-icon-marker"></i>
        <span>{{ client?.city }} {{ client.city && client.state ? ', ' : '' }} {{ client?.state }}</span>
      </ion-row>
    </ion-col>
    <i *ngIf="showArrow" class="mb-icon-right-arrow"></i>
  </ion-row>
</ng-template>
