<ion-header class="madeHeader">
  <ion-navbar class="Made-wp BackHeader-backBtn">
    <ion-title>
      <div class="madeHeaderTitle">About MadeBeauty</div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div class="contentSidePadding">
    <ion-list>
      <ion-item>
        <h1><span (click)="onNameClick()">MadeBeauty</span></h1>
        <h2>Version {{ appVersion }}, Build {{ getBuildNumber() }}</h2>
        <h2 *ngIf="!getEnv().production">Commit hash:
          <a href="https://github.com/madebeauty/monorepo/commit/{{ commitHash() }}">
            {{ commitHash() }}
          </a>
        </h2>
        <h2 *ngIf="getEnv().ffEnableIncomplete">Incomplete Features Enabled: Yes</h2>
        <h2>Copyright &copy; MadeBeauty Inc.</h2>
      </ion-item>

      <ion-item *ngIf="!getEnv().production">
        <h1>Server</h1>
        <a href="{{ getEnv().apiUrl }}">{{ getEnv().apiUrl }}</a>
      </ion-item>

      <ion-item>
        <h1>Open Source Licenses</h1>
        <div *ngFor="let license of licenses">
          <a [href]="license.url">{{ license.title }}</a>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
