.AuthPage {
  .AuthPage-phoneInputGroup {
    margin: 110px 0 80px;
  }

  .AuthPage-countryCodeControl {
    width: 90px;
    margin-right: 24px;

    .select-text:first-letter {
      $flag-size: 22px;

      font-size: $flag-size;
    }
  }

  .AuthPage-phoneControl {
    width: 144px;
  }
}
