.Made-h1 {
  display: flex;
  align-items: center;
  margin-bottom: pxtovw(6px);
  font-size: pxtovw(28px);
  font-weight: 600;
}

.Made-h3 {
  margin-bottom: pxtovw(8px);
  font-size: pxtovw(18px);
  font-weight: 600;
  line-height: pxtovw(24px);
}

.Made-text {
  margin-bottom: pxtovw(17px);
}

.Made-textItem {
  margin: 0 0 pxtovw(7px);
  font-size: pxtovw(16px);
  line-height: pxtovw(19px);
  letter-spacing: pxtovw(-0.19px);
}
