.Made-h1 {
  margin-bottom: pxtovw(6px);
  font-size: pxtovw(28px);
  letter-spacing: pxtovw(0.8px);
}

.Made-text {
  margin-bottom: pxtovw(18px);
}

.Made-textItem {
  margin: 0 0 pxtovw(7px);
  font-size: pxtovw(16px);
  line-height: pxtovw(19px);
  letter-spacing: pxtovw(-0.19px);
}
