page-services {
  .Services {

  }

  .Services-itemBox {

  }

  .Services-item {
    padding: pxtovw(12px) pxtovw(16px) pxtovw(17px);
    margin-bottom: pxtovw(16px);
    border-radius: pxtovw(16px);
    box-shadow: 0 pxtovw(7px) pxtovw(43px) 0 rgba(0, 0, 0, 0.08);
  }

  .Services-itemImg {
    margin: pxtovw(21px) 0 pxtovw(36px);
    text-align: center;


    img {
      width: pxtovw(120px);
    }
  }

  .Services-itemTextLeft {
    max-width: 60%;
  }

  .Services-itemText {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .Services-itemTextTitle {
    margin: 0 0 pxtovw(8px);
    font-size: pxtovw(21.6px);
    font-weight: 600;
    line-height: pxtovw(24px);
    letter-spacing: pxtovw(-0.2px);
  }

  .Services-itemTextNum {
    font-size: pxtovw(14px);
    letter-spacing: pxtovw(0.7px);
  }

  .Services-itemTextBtn {
    height: auto;
    padding: pxtovw(8px) pxtovw(21px);
    margin: 0 0 pxtovw(19px);
    font-size: pxtovw(15.2px);
    text-transform: uppercase;
    background: color($colors, secondary);
    border-radius: 9px;
    box-shadow: 0 12px 43px 0 rgba(254, 224, 208, 0.49);
  }

  .Services-info {
    margin: pxtovw(28px) 0 pxtovw(10px);
    font-size: pxtovw(22.5px);
    text-align: center;
  }
}

