<ion-header madeMenuHeader [hideBackButton]="params?.isRootPage">
  <ion-title>
    <div class="Made-h1">Select Service List</div>
  </ion-title>
</ion-header>

<ion-content no-padding>

  <div class="Made-wp Made-wpContent">
    <div class="Made-text">
      <div class="Made-textItem">We’ve created two pre-populated lists of services for you to help speed things up! You’ll be able to customize it next.</div>
    </div>

    <!-- Show spinner if loading is in progress -->
    <div class="Spinner">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

    <div class="Services-itemBox">
      <div *ngFor="let item of serviceTemplateSets; let odd = odd; let index = index"
           (click)="openService(item)"
           class="Services-item"
           [attr.data-test-id]="'serviceList'+index">
        <div class="Services-itemImg">
          <img *ngIf="!odd" src="assets/imgs/icons/serviceA.png" alt="">
          <img *ngIf="odd" src="assets/imgs/icons/serviceB.png" alt="">
        </div>

        <div class="Services-itemText">
          <div class="Services-itemTextLeft">
            <div class="Services-itemTextTitle">
              <p data-test-id="listName">{{ item.name }}</p>
            </div>
            <div class="Services-itemTextNum" data-test-id="serviceCount">{{ item.services_count }} Services</div>
          </div>

          <button ion-button class="Services-itemTextBtn">select</button>
        </div>
      </div>
    </div>


    <div class="Services-info">
      Let Me Do It From Scratch
    </div>
    <button (click)="openService()" class="Discounts-btn is-invert" ion-button>Create Blank List</button>
  </div>
</ion-content>
