<div class="Made-text Discounts-textOffset">
  <div class="Made-textItem">
    If you like, you can set the highest $ discount you are willing to offer on your most expensive service.
  </div>
  <div class="Made-textItem">
    But don’t worry our goal is to maximize your revenue and visits, discounts are always set to help increase your revenue!
  </div>
</div>


<div *ngIf="maximumDiscounts">
  <ion-row class="DiscountsList-row">
    <ion-col no-padding col-8 class="DiscountsList-col">
      {{ maximumDiscounts.is_maximum_discount_label }}
    </ion-col>

    <ion-col no-padding col-4 text-right>
      <ion-toggle [(ngModel)]="maximumDiscounts.is_maximum_discount_enabled" (ionChange)="updateDiscount()" no-padding class="ion-bb-toggle"></ion-toggle>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="maximumDiscounts.is_maximum_discount_enabled" (click)="onDiscountChange()" class="DiscountsList-row">
    <ion-col no-padding col-8 class="DiscountsList-col">
      {{ maximumDiscounts.maximum_discount_label }}
    </ion-col>

    <ion-col col-4 no-padding class="DiscountsList-col DiscountsList-colIcon">
      <div>
        <span *ngIf="!maximumDiscounts.maximum_discount">None</span>
        <span *ngIf="maximumDiscounts.maximum_discount">${{ maximumDiscounts.maximum_discount }}</span>
      </div>
      <ion-icon name="ios-arrow-forward-outline"></ion-icon>
    </ion-col>
  </ion-row>
</div>


