<div class="icons-wp">
  <i class="mb-icon-1"></i>
  <i class="mb-icon-2"></i>
  <i class="mb-icon-3"></i>
  <i class="mb-icon-4"></i>
  <i class="mb-icon-5"></i>
  <i class="mb-icon-6"></i>
  <i class="mb-icon-7"></i>
  <i class="mb-icon-8"></i>
  <i class="mb-icon-9"></i>
  <i class="mb-icon-10"></i>
  <i class="mb-icon-11"></i>
  <i class="mb-icon-12"></i>
  <i class="mb-icon-13"></i>
  <i class="mb-icon-14"></i>
  <i class="mb-icon-15"></i>
  <i class="mb-icon-16"></i>
  <i class="mb-icon-17"></i>
  <i class="mb-icon-18"></i>
  <i class="mb-icon-19"></i>
  <i class="mb-icon-20"></i>
  <i class="mb-icon-21"></i>
  <i class="mb-icon-22"></i>
  <i class="mb-icon-23"></i>
  <i class="mb-icon-24"></i>
  <i class="mb-icon-25"></i>
  <i class="mb-icon-26"></i>
  <i class="mb-icon-27"></i>
  <i class="mb-icon-28"></i>
  <i class="mb-icon-29"></i>
  <i class="mb-icon-30"></i>
  <i class="mb-icon-31"></i>
  <i class="mb-icon-32"></i>
  <i class="mb-icon-33"></i>
  <i class="mb-icon-34"></i>
  <i class="mb-icon-35"></i>
  <i class="mb-icon-36"></i>
  <i class="mb-icon-37"></i>
  <i class="mb-icon-38"></i>
  <i class="mb-icon-39"></i>
  <i class="mb-icon-40"></i>
  <i class="mb-icon-41"></i>
  <i class="mb-icon-42"></i>
  <i class="mb-icon-43"></i>
  <i class="mb-icon-44"></i>
  <i class="mb-icon-45"></i>
  <i class="mb-icon-46"></i>
  <i class="mb-icon-47"></i>
  <i class="mb-icon-48"></i>
  <i class="mb-icon-49"></i>
  <i class="mb-icon-50"></i>
  <i class="mb-icon-51"></i>
  <i class="mb-icon-52"></i>
  <i class="mb-icon-53"></i>
</div>
