page-how-pricing-works {
  .scroll-content {
    overflow-y: hidden;
    background: url('../assets/imgs/device.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
  }

  .PhoneBodyWrapper {
    height: 100%;
    margin: pxtovw(110px) pxtovw(20px) 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .PhoneBodyWrapper-sticky {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 pxtovw(14px);
    margin: 0 pxtovw(10px);
    background: white;
  }

  .Subtitle {
    margin: pxtovw(8px) pxtovw(25px);
    font-size: pxtovw(16px);
    font-weight: map-get($fontWeights, semibold);
    line-height: pxtovw(24px);
  }
}
