<ion-header madeHeader></ion-header>

<ion-content no-padding>
  <div class="PhoneBodyWrapper">

    <div class="Made-wp Made-wpContent">

      <ion-row nowrap class="PhoneBodyWrapper-sticky">
        <div class="Made-h1">How pricing works</div>
        <user-name-photo [firstName]="profile.first_name" [lastName]="profile.last_name" col-4>
        </user-name-photo>
      </ion-row>

      <div class="Subtitle">Add any promos you like, as days fill prices auto increase back to full rate!</div>

      <services-header-list [services]="services" [readonly]="false" (deleteService)="onDeleteService()">
      </services-header-list>

      <price-pair [regularPrice]="200"></price-pair>

      <price-calendar [prices]="prices"></price-calendar>
    </div>

  </div>
</ion-content>

<ion-footer *ngIf="!hideContinueButton" madeContinueFooter (continue)="onContinue()"></ion-footer>
