page-hours {
  .Workingtime {
    position: relative;
    padding: pxtovw(26px) pxtovw(24px) pxtovw(24px);
    margin-bottom: pxtovw(20px);
    background: color($colors, white);
    border-radius: pxtovw(16px);
    box-shadow: 0 7px 43px 0 rgba(black, 0.08);
  }

  .Workingtime-head {
    display: flex;
    justify-content: space-between;
    margin: 0 0 pxtovw(24px);
  }

  .Workingtime-headItem {
    width: 27%;
    border-bottom: 3px solid color($colors, secondary);
  }

  .Workingtime-headItemBig {
    width: 40%;
  }

  .Workingtime-headLabel {
    margin: 0 0 pxtovw(10px);
    font-size: pxtovw(14px);
  }

  .Workingtime-headTime {
    padding: 0 0 pxtovw(10px);
    font-size: pxtovw(18px);
    font-weight: 700;
    line-height: pxtovw(24px);

    .item-cover {
      padding: 0;
    }
  }

  .Workingtime-days {
    display: flex;
    justify-content: space-around;
    border: 1px solid color($grayscale, 200);
    border-radius: 4px;
  }

  .Workingtime-daysItem {
    width: pxtovw(32px);
    padding: pxtovw(6px) 0 pxtovw(4px);
    font-size: pxtovw(15px);
    color: color($shared-colors, color1);
    text-align: center;
    letter-spacing: pxtovw(0.5px);
    border-bottom: 3px solid transparent;

    &.is-available {
      color: color($grayscale, 800);
      border-bottom: 3px solid color($colors, secondary);
    }
  }

  .Workingtime-info {
    margin: pxtovw(24px) 0 pxtovw(22px);
    font-size: pxtovw(18px);
    text-align: center;
  }

  .Workingtime-delete {
    position: absolute;
    top: pxtovw(5px);
    right: pxtovw(12px);
    padding: pxtovw(10px);
    margin: 0;
    font-size: pxtovw(18px);
    color: color($grayscale, 800);
  }
}
