<ion-header madeMenuHeader [hideBackButton]="true">
  <ion-toolbar no-padding>
    <div class="Made-wp Made-wpContent">
      <div class="HomeClients" (click)="onShowMyClients()">
        <div class="HomeClients-title">
          <i class="mb-icon-heart-a"></i>
          <span>My Clients</span>
        </div>

        <div class="HomeClients-num">
          <span>{{ followers }}</span>
          <i class="mb-icon-right-arrow"></i>
        </div>
      </div>


      <div class="Badge-H2 Home-Appointments">
        My Appointments
        <span *ngIf="home" class="Badge">
          {{ home.today_visits_count + home.upcoming_visits_count }}
        </span>
      </div>
    </div>

    <div *ngIf="home" class="Tabs-box">
      <div class="bb-wp-a Tabs-wp">
        <button (click)="loadAppointments(tabs[Tabs.today].name)" [class.active]="tabs[Tabs.today].name === activeTab" ion-button
          clear color="dark" class="Tabs-btn active">
          {{ tabs[Tabs.today].name }} &nbsp;
          <b>{{ home.today_visits_count }} of {{ todaySlots }}</b>
        </button>
        <button (click)="loadAppointments(tabs[Tabs.upcoming].name)" [class.active]="tabs[Tabs.upcoming].name === activeTab" ion-button
          clear color="dark" class="Tabs-btn">
          {{ tabs[Tabs.upcoming].name }} &nbsp;
          <b>{{ home.upcoming_visits_count }}</b>
        </button>
        <button (click)="loadAppointments(tabs[Tabs.past].name)" [class.active]="tabs[Tabs.past].name === activeTab" ion-button clear
          color="dark" class="Tabs-btn">
          {{ tabs[Tabs.past].name }}
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-fab right bottom>
    <button ion-fab [madeLink]="[PageNames.AppointmentAdd]">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-refresher [enabled]="refresherEnabled" (ionRefresh)="onRefresh($event)" class="Refresh">
    <ion-spinner></ion-spinner>
  </ion-refresher>

  <div class="Made-wpContent Home-main" data-test-id="homeTabs">
    <ion-slides (ionSlideDrag)="onEnableRefresher(false)" (touchend)="onEnableRefresher(true)" (ionSlideDidChange)="onSlideChange()" no-padding>
      <ion-slide class="Home-items Home-wp">
        <div *ngIf="!tabs[Tabs.today].loaded || tabs[Tabs.today].name !== activeTab"><ion-spinner></ion-spinner></div>

      <div *ngIf="tabs[Tabs.today].loaded && tabs[Tabs.today].name === activeTab">
        <div *ngIf="tabs[Tabs.today]?.appointments?.length === 0" class="Home-itemsNull">Your scheduled visits will show up here.</div>

        <appointment-item *ngFor="let appointment of tabs[Tabs.today].appointments; let index = index" [appointment]="appointment"
          [appointmentTag]="appointmentTags[index]" (click)="onAppointmentClick(appointment)">
        </appointment-item>
      </div>
      </ion-slide>


      <ion-slide class="Home-items Home-wp">
        <div *ngIf="!tabs[Tabs.upcoming].loaded || tabs[Tabs.upcoming].name !== activeTab">
          <ion-spinner></ion-spinner>
        </div>

        <div *ngIf="tabs[Tabs.upcoming].loaded && tabs[Tabs.upcoming].name === activeTab">
          <div *ngIf="tabs[Tabs.upcoming]?.appointments?.length === 0" class="Home-itemsNull">Your scheduled visits will show up here.</div>

          <appointment-item *ngFor="let appointment of tabs[Tabs.upcoming].appointments; let index = index" [appointment]="appointment"
            (click)="onAppointmentClick(appointment)" [hasDate]="true">
          </appointment-item>
        </div>
      </ion-slide>


      <ion-slide class="Home-items Home-wp">
        <div *ngIf="!tabs[Tabs.past].loaded || tabs[Tabs.past].name !== activeTab">
          <ion-spinner></ion-spinner>
        </div>

        <div *ngIf="tabs[Tabs.past].loaded && tabs[Tabs.past].name === activeTab">
          <div *ngIf="tabs[Tabs.past]?.appointments?.length === 0" class="Home-itemsNull">Your past visits will show up here.</div>

          <appointment-item *ngFor="let appointment of tabs[Tabs.past].appointments; let index = index" [appointment]="appointment"
            [appointmentTag]="appointment.status === 'new' ? AppointmentTag.NotCheckedOut : null" (click)="onAppointmentClick(appointment)"
            [hasDate]="true">
          </appointment-item>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
