page-home {
  .swiper-container {
    overflow: initial;
  }

  .Refresh {
    z-index: 1;
  }

  .ion-bb-header .toolbar-background {
    background: white; // can't use variabel on ionic classes
  }

  .Home-main {
    padding-top: pxtovw(30px);
    padding-bottom: 0;
  }

  .Made-wpContent {
    padding-bottom: 0;
    background: color($colors, white);
  }

  .Home-wp {
    height: 100%;
    padding: pxtovw(10px) pxtovw(23.61px);

    ion-spinner {
      transform: translateY(48px);
    }
  }

  .Home-upText {
    display: flex;
    align-items: center;
    padding: 6px 21px 12px;
    font-size: $t-h1;
    font-weight: 700;

    @media ($smartphone) {
      font-size: $t-h2;
    }

    @media ($phone) {
      font-size: $t-h3;
    }
  }

  .Home-items {
    display: block;
    min-height: pxtovw(400px);
  }

  .Home-itemsNull {
    margin-top: pxtorem(120);
    font-size: pxtorem10(35);
    font-style: italic;
    text-align: center;

    @media ($smartphone) {
      font-size: pxtorem10(30);
    }

    @media ($phone) {
      font-size: pxtorem10(20);
    }
  }

  .Home-Appointments {
    margin-bottom: pxtovw(30px);
  }
}

.HomeClients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: pxtovw(15px) 0 pxtovw(25px);

  .HomeClients-title {
    font-size: pxtovw(16px);
    line-height: pxtovw(24px);

    i {
      display: inline-block;
      margin-right: pxtovw(11px);
      color: #FCBDA1;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .HomeClients-num {
    font-size: pxtovw(15px);
    line-height: pxtovw(16px);

    i {
      display: inline-block;
      margin: 0 pxtovw(5px) 0 pxtovw(8px);
      color: #BFBFBF;
      vertical-align: middle;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
