<ion-header madeHeader [hideBackButton]="true"></ion-header>

<ion-content no-padding>
  <div class="contentSidePadding">

    <ion-row align-items-center justify-content-center class="ConfirmCheckout-img">
      <img src="assets/icons/firework-3x.png" />
    </ion-row>

    <div class="Made-h1 ConfirmCheckout-h1">Congratulations, your check out is complete!</div>
  </div>
</ion-content>

<ion-footer class="Footer">
  <button (click)="onReturnToHome()" ion-button class="Button" data-test-id="backToHome">Return To Home Screen</button>
</ion-footer>
