pop-confirm-checkout {
  .ConfirmCheckout-img {
    $img-size: pxtovw(232px);

    width: $img-size;
    height: $img-size;
    margin: pxtovw(8px) auto pxtovw(40px);
    border: pxtovw(1px) solid color($grayscale-shared, 300);
    border-radius: 50%;

    img {
      width: pxtovw(120px);
      height: pxtovw(126px);
    }
  }

  .ConfirmCheckout-h1 {
    text-align: center;
  }
}
