<ion-header madeBackHeader></ion-header>


<ion-content no-padding>
  <div class="Made-wp Made-wpContent">
    <div class="Made-h1">Daily Discounts</div>

    <div class="Made-text">
      <div class="Made-textItem">
        MADE will steadily increase prices to the full price automatically as clients book and your day fills up!
      </div>
    </div>

    <!-- Show spinner if loading is in progress -->
    <div class="Spinner">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

    <discounts-list [list]="discounts" [dealOfTheWeek]="dealOfTheWeek" (discountChange)="onSave()"></discounts-list>
  </div>
</ion-content>
