<ion-header madeBackHeader></ion-header>

<ion-content no-padding>
  <div class="Made-wp Made-wpContent">

    <div class="Made-h1">Change Price</div>

    <div data-test-id="services">
      <ion-item *ngFor="let service of appointment.services" class="AppointmentPrice-formControl">
        <ion-label>{{ service.service_name }}</ion-label>
        <ion-input [formControl]="form.controls[service.service_uuid]" [placeholder]="'$' + service.client_price"></ion-input>
      </ion-item>
    </div>

    <ion-item class="AppointmentPrice-text">
      <ion-input [formControl]="priceChangeReason" placeholder="Reason for Change (optional)" data-test-id="reason"></ion-input>
    </ion-item>

    <div data-test-id="price">
      <div class="AppointmentPrice-title">New Price</div>
      <div class="AppointmentPrice-price">
        <ion-spinner *ngIf="isLoading" [duration]="500"></ion-spinner>
        <ng-container *ngIf="!isLoading">
          <span>$</span>
          <b>{{ preview.grand_total.toFixed() }}</b>
        </ng-container>
      </div>
    </div>

    <ion-row *ngIf="getDiscountDescr(preview) as discount" align-items-center justify-content-center data-test-id="discount">
      <div class="AppointmentPrice-discount"><b>{{ discount.percentage }}%</b> Discount Applied</div>
    </ion-row>

  </div>
</ion-content>

<ion-footer
  madeContinueFooter
  (continue)="onSave()"
  title="Update"></ion-footer>
