.UserHeader {
  background: white;

  &.toolbar {
    min-height: pxtovw(44px);
    padding: pxtovw(10px) pxtovw(23.61px);
  }

  &.UserHeader--shadow {
    box-shadow: 0 0 18px 18px white;
  }

  .UserHeader-title {
    position: relative;
    padding: 0;

    .toolbar-title { // ionic’s navbar title
      padding: 0;
      font-size: pxtovw(16px);
      text-align: left;
    }
  }

  .UserHeader-subtitle {
    display: block;
    font-size: pxtovw(12px);
    color: rgba(0, 0, 0, 0.4);
  }

  .UserHeader-btnUser {
    display: inline-block;
    width: pxtovw(40px);
    height: pxtovw(40px);
    font-size: pxtorem(40);
    vertical-align: middle;
    background: url('../assets/imgs/icons/avatar.png') no-repeat center;
    background-size: cover !important;
    border-radius: 50%;

    &.is-withPic {
      box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
    }
  }

  .UserHeader-btnMenu {
    display: inline-block;
    font-size: pxtovw(16px);
    color: color($grayscale, 600);
    vertical-align: middle;

    &.UserHeader-btnMenu--dark {
      color: color($colors, dark);
    }
  }

  .UserHeader-delimeter {
    display: inline-block;
    width: 1px;
    height: 25px;
    margin: 0 pxtovw(10px) auto;
    vertical-align: middle;
    background: darken(color($grayscale, 200), 1%);
  }
}

.ion-bb-header .toolbar-ios {
  .back-button-icon-ios { //adjust beck arrow size
    font-size: 2rem;
  }
}
