// Rewrite ionic’s rules
ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, dark);
}

.UserHeader {
  // Add padding to be aligned with context.
  padding-right: 10px;
  padding-left: 10px;
  background: white;

  &.UserHeader--shadow {
    box-shadow: 0 0 18px 18px white;
  }

  .UserHeader-title {
    padding: 0;

    .toolbar-title { // ionic’s navbar title
      padding: 0;
      font-size: pxtorem(45);
      text-align: left;

      @media ($smartphone) {
        padding: 0 12px;
        font-size: pxtorem(36);
      }

      @media ($phone) {
        padding: 0 10px;
        font-size: pxtorem(24);
      }
    }
  }

  .UserHeader-subtitle {
    display: block;
    font-size: $t-h2;
    color: rgba(0, 0, 0, 0.4);

    @media ($smartphone) {
      font-size: $t-h3;
    }

    @media ($phone) {
      font-size: $t-base;
    }
  }

  .UserHeader-btnUser {
    $button-size: 90px;

    display: inline-block;
    width: $button-size;
    height: $button-size;
    font-size: pxtorem(40);
    vertical-align: middle;
    background: no-repeat center transparent;
    background-size: cover !important;
    border-radius: 50%;

    &.is-withPic {
      box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.5);
    }

    @media ($smartphone) {
      $button-size: 80px;

      width: $button-size;
      height: $button-size;
    }

    @media ($phone) {
      $button-size: 60px;

      width: $button-size;
      height: $button-size;
    }

    @media ($phone-sm) {
      $button-size: 47px;

      width: $button-size;
      height: $button-size;
    }
  }

  .UserHeader-btnMenu {
    display: inline-block;
    font-size: pxtorem(40);
    color: color($grayscale, 600);
    vertical-align: middle;

    @media ($smartphone) {
      font-size: pxtorem(30);
    }

    @media ($phone) {
      margin: 0;
      font-size: pxtorem(22);
    }

    &.UserHeader-btnMenu--dark {
      color: color($colors, dark);
    }
  }

  .UserHeader-delimeter {
    display: inline-block;
    width: 1px;
    height: 60px;
    margin: 0 10px auto;
    vertical-align: middle;
    background: darken(color($grayscale, 200), 1%);

    @media ($smartphone) {
      height: 50px;
      margin: 0 pxtoem(20) auto;
    }

    @media ($phone) {
      height: 30px;
      margin: 0 pxtoem(10) auto;
    }
  }
}

.ion-bb-header .toolbar-ios {
  .back-button-icon-ios { //adjust beck arrow size
    font-size: 2rem;
  }
}

.md,
.ios,
.wp {
  page-home {
    ion-header {
      height: 98px;

      @media ($smartphone) {
        height: 88px;
      }

      @media ($phone) {
        height: 68px;
      }
    }
  }
}
