<ion-navbar class="UserHeader bb-wp-a">

  <ion-title *ngIf="profile" class="UserHeader-title" (click)="onProfileClick()">
    <span >{{ profile.first_name }} {{ profile.last_name }}</span>
    <div class="UserHeader-subtitle">
      <span >{{ getToday() | date: 'EEEE, dd LLL' }}</span>
    </div>
  </ion-title>

  <ion-buttons end>
    <button *ngIf="profile" (click)="onProfileClick()" [style.background-image]="'url(' + profile.profile_photo_url + ')'" ion-button icon-only class="UserHeader-btnUser is-withPic">
      <ion-icon *ngIf="false" name="ios-contact-outline"></ion-icon>
    </button>
    <div class="UserHeader-delimeter"></div>
    <button (click)="openPopover($event)" ion-button icon-only class="UserHeader-btnMenu">
      <ion-icon name="ios-more"></ion-icon>
    </button>
  </ion-buttons>

  <server-status></server-status>
</ion-navbar>
