<div *ngIf="stylist">
  <div
    class="StylistCard-photo"
    [style.backgroundImage]="'url(' + (stylist.profile_photo_url  || 'assets/icons/stylist-avatar.png') + ')'"></div>

  <div class="StylistCard-salon" data-test-id="preview_salon_name">{{ stylist.salon_name }}</div>

  <div class="StylistCard-name" data-test-id="preview_name">{{ stylist.first_name }} {{ stylist.last_name }}</div>

  <div
    *ngIf="stylist.followers_count"
    (click)="onFollowersClick()"
    class="StylistCard-followers"
    data-test-id="preview_followers_count">
    <i class="mb-icon-heart-a"></i>&nbsp;<span><b>{{ stylist.followers_count }}</b> MADE Clients</span>
  </div>

  <div (click)="onAddressClick()" class="StylistCard-address" data-test-id="preview_salon_address">
    <i class="mb-icon-marker"></i>&nbsp;<span>{{ stylist.salon_address }}</span>
  </div>

  <div class="StylistCard-links">
    <i *ngIf="stylist.instagram_url" (click)="onInstagramClick()" class="mb-icon-instagram" data-test-id="preview_instagram_url"></i>
    <i *ngIf="stylist.website_url" (click)="onWebsiteClick()" class="mb-icon-globe" data-test-id="preview_website_url"></i>
    <i class="mb-icon-calendar" (click)="onShowCalendar()"></i>
    <phone-link *ngIf="stylist.public_phone" [phone]="stylist.public_phone" [iconForm]="true" icon="mb-icon-phone-a" data-test-id="preview_public_phone"></phone-link>
  </div>
</div>
