.H2 {
  margin-top: 32px;
  font-size: $t-h3;
  font-weight: 500;

  .H2-subtitle {
    margin-top: 6px;
    font-size: $t-small;
    font-weight: normal;
    color: color($grayscale, 500);
  }
}

.Card {
  padding: 16px;
  margin-bottom: 16px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 7px 43px color($grayscale, 200);
}

.CategoriesPage {
  .CategoriesPage-categories {
    margin-top: 24px;
  }

  .CategoriesPage-cardTitle {
    font-size: $t-base;
    font-weight: 500;
  }

  .CategoriesPage-cardSubtitle {
    margin-top: 4px;
    font-size: $t-small;
    color: color($grayscale, 500);
  }
}
