.Input {
  overflow: visible;

  &.item-label-floating {
    min-height: auto;
    padding: 0 0 pxtovw(15.5px);
    margin: 0;

    .label[floating] {
      position: absolute;
      top: pxtovw(13px);
      left: 0;
      margin: 0;
      font-size: pxtovw(21px);
      color: rgb(153, 153, 153);
      transition: font-size 150ms ease-in-out, top 150ms ease-in-out;
      transform: none;
    }

    .input {
      font-size: pxtovw(21px);

      .text-input {
        margin: 0;
        font-weight: 600;
      }
    }

    .item-inner {
      padding: pxtovw(14px) 0 pxtovw(7px);
      overflow: initial;
    }

    &.input-has-focus,
    &.item-input-has-value {
      .label[floating] {
        top: 0;
        font-size: pxtovw(13px);
      }
    }
  }
}

[item-end].InputError {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 !important; // rewrite ionic styles
  font-size: 12px;
  color: color($colors-shared, danger);
  opacity: 0;
  transition: opacity 100ms linear;

  &.is-active {
    opacity: 1;
  }
}