.Input {
  overflow: visible;

  &.item-label-floating {
    min-height: auto;
    padding: 0 0 pxtovw(15.5px);
    margin: 0;
    transition: font-size 150ms ease-in-out, top 150ms ease-in-out, left 150ms ease-in-out;

    .label[floating] {
      position: absolute;
      top: pxtovw(13px);
      left: 0;
      margin: 0;
      font-size: pxtovw(21px);
      color: rgb(153, 153, 153);
      transition: font-size 150ms ease-in-out, top 150ms ease-in-out;
      transform: none;
    }

    .input {
      font-size: pxtovw(21px);

      .text-input {
        margin: 0;
      }
    }

    .item-inner {
      padding: pxtovw(14px) 0 pxtovw(7px);
      overflow: initial;
    }

    &.input-has-focus,
    &.item-input-has-value {
      .label[floating] {
        top: 0;
        font-size: pxtovw(13px);
      }
    }
  }

  &.with-sufix.item-label-floating {
    &:not(.input-has-focus) .label[floating] {
      left: auto;
    }

    &.input-has-value .label[floating] {
      left: 0;
    }
  }
}

.Input-sufix[item-start] {
  margin-right: 0;
  margin-bottom: 3px;
  font-size: $shared-h4;
  color: color($colors, warmGrey);
}

[item-end].InputError {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 !important; // rewrite ionic styles
  font-size: 12px;
  color: color($colors-shared, danger);
  opacity: 0;
  transition: opacity 100ms linear;

  &.is-active {
    opacity: 1;
  }
}

[item-end].InputWarn {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 !important; // rewrite ionic styles
  font-size: 12px;
  color: color($colors-shared, warmGrey);
  transition: opacity 100ms linear;
}

.Input-radio {

  input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .Input-radioLabel {
      width: pxtovw(26px);
      height: pxtovw(26px);
      display: inline-block;

      &:before {
        content: '';
        background: white;
        border-radius: 100%;
        border: pxtovw(1px) solid darken(white, 25%);
        display: inline-block;
        width: pxtovw(24px);
        height: pxtovw(24px);
        position: relative;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .Input-radioLabel {
        &:before {
          background-color: color($colors-shared, lightSalmon);
          box-shadow: inset 0 0 0 pxtovw(4px) white;
        }
      }
    }
    &:focus {
      + .Input-radioLabel {
        &:before {
          outline: none;
          border-color: color($colors-shared, lightSalmon);
        }
      }
    }
    &:disabled {
      + .Input-radioLabel {
        &:before {
          box-shadow: inset 0 0 0 pxtovw(4px) white;
          border-color: darken(white, 25%);
          background: darken(white, 25%);
        }
      }
    }
    + .Input-radioLabel {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
