.MadeCheckList {
  margin-top: pxtovw(16px);
  font-size: pxtovw(18px);
  font-weight: 300;
  line-height: pxtovw(24px);
  color: color($shared-colors, color1);
}

.MadeCheckList-title {
  margin-bottom: pxtovw(16px);
}

.MadeCheckList-item {
  display: flex;
  margin-bottom: pxtovw(16px);

  ion-icon {
    display: inline-block;
    padding: pxtovw(1px) 0 0;
    margin: 0 pxtovw(12px) 0 pxtovw(5px);
    font-size: pxtovw(21px);
    color: color($shared-colors, color2);
    vertical-align: middle;
  }
}

.MadeCheckList-itemText {
  display: inline-block;
  vertical-align: middle;
}

.MadeNumList {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: pxtovw(16px);
  font-size: pxtovw(18px);
  line-height: pxtovw(24px);
  color: color($shared-colors, color1);
  letter-spacing: pxtovw(-0.2px);
}

.MadeNumList-num {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: pxtovw(25px);
  height: pxtovw(25px);
  margin-right: pxtovw(8px);
  font-size: pxtovw(16px);
  color: color($shared-colors, color1);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 50%;
}

.MadeLinkList {

}
.MadeLinkList-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: pxtovw(48px);
  border-top: 1px solid color($grayscale-shared, 200);

  &:last-child {
    border-bottom: 1px solid color($grayscale-shared, 200);
  }
}
.MadeLinkList-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-size: pxtovw(15px);
  line-height: pxtovw(16px);

  i[class*='mb-icon'] {
    margin-right: pxtovw(5px);
  }

  &.isGrey {
    color: color($grayscale-shared, 500);
    letter-spacing: pxtovw(0.2px);
  }
}