.MadeCheckList {
  margin-top: pxtovw(16px);
  font-size: $shared-h4;
  font-weight: 300;
  line-height: pxtovw(24px);
  color: color($shared-colors, color1);
}

.MadeCheckList-title {
  margin-bottom: pxtovw(16px);
}

.MadeCheckList-item {
  display: flex;
  margin-bottom: pxtovw(16px);

  ion-icon {
    display: inline-block;
    padding: pxtovw(1px) 0 0;
    margin: 0 pxtovw(12px) 0 pxtovw(5px);
    font-size: pxtovw(21px);
    color: color($shared-colors, color2);
    vertical-align: middle;
  }
}

.MadeCheckList-itemText {
  display: inline-block;
  vertical-align: middle;
}

.MadeNumList {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: pxtovw(16px);
  font-size: $shared-h4;
  line-height: pxtovw(24px);
  color: color($shared-colors, color1);
  letter-spacing: pxtovw(-0.2px);
}

.MadeNumList-num {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: pxtovw(25px);
  height: pxtovw(25px);
  margin-right: pxtovw(8px);
  font-size: pxtovw(16px);
  color: color($shared-colors, color1);
  border: 1px solid rgb(212, 212, 212);
  border-radius: 50%;
}

.MadeLinkList-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: pxtovw(48px);
  border-top: 1px solid color($grayscale-shared, 200);

  &:last-child {
    border-bottom: 1px solid color($grayscale-shared, 200);
  }
}

.MadeLinkList-cell {
  overflow: hidden;
  font-size: $shared-base;
  line-height: pxtovw(16px);
  color: black;
  text-overflow: ellipsis;
  white-space: nowrap;

  i[class*='mb-icon'] {
    margin-right: pxtovw(5px);
  }

  &.isGrey {
    color: color($grayscale-shared, 500);
    letter-spacing: pxtovw(0.2px);
  }
}

.MadeBigList-row {
  justify-content: space-between;
  margin: 0 0 pxtovw(16px);
  padding: 0 0 pxtovw(16px);
  border-bottom: pxtovw(1px) solid color($grayscale, 200);
}

.MadeBigList-rowHeader {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.MadeBigList-title {
  flex: 7;
  font-size: $shared-h4;
  color: black;
}

.MadeBigList-text {
  margin: pxtovw(8px) 0 0;
  font-size: $shared-base;
  color: color($colors-shared, warmGrey);
}

.MadeBigList-dealOfTheWeek {
  padding: pxtovw(4px) pxtovw(8px);
  font-size: pxtovw(13px);
  background: color($colors-shared, lightPeach);
  color: black;
  border-radius: pxtovw(8px);
}

.MadeBigList-value {
  flex: 4;
  font-size: $shared-h4;
  text-align: right;
  color: color($colors-shared, lightSalmon);

  &.inactive {
    color: black;
  }
}

.MadeBigList-icon {
  flex: 1;
  padding-right: pxtovw(7px);
  font-size: $shared-h4;
  text-align: right;
  color: color($colors-shared, warmGrey);
}

.DiscountsList-head {
  font-size: pxtovw(13px);
  color: color($shared-colors, color1);
}

.DiscountsList-row {
  min-height: pxtovw(48px);
  padding: pxtovw(11px) 0;
  font-size: pxtovw(14px);
  border-bottom: 1px solid color($grayscale, 200);
}

.DiscountsList-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DiscountsList-colIcon {
  ion-icon {
    padding-right: pxtovw(7px);
    font-size: pxtovw(25px);
    color: rgba(0, 0, 0, 0.3);
  }
}
