.Made-h1 {
  display: flex;
  align-items: center;
  margin-bottom: pxtovw(6px);
  font-size: pxtovw(28px);
  font-weight: 600;

  &.text-center {
    justify-content: center;
  }
}

.Made-h2 {
  font-size: pxtovw(21px);
  font-weight: bold;
  line-height: pxtovw(24px);

  strong {
    color: color($colors-shared, honey);
  }
}

.Made-h3 {
  margin-bottom: pxtovw(8px);
  font-size: pxtovw(18px);
  font-weight: 600;
  line-height: pxtovw(24px);
}

.Made-text {
  margin: pxtovw(12px) 0 pxtovw(42px);
}

.Made-textItem {
  margin: 0 0 pxtovw(7px);
  font-size: pxtovw(15px);
  line-height: pxtovw(17px);
  letter-spacing: 0;
}

.WelcomeTitle {
  padding-top: pxtovw(2px);
  font-size: pxtovw(29px);
  font-weight: 600;
  line-height: pxtovw(33px);
  text-align: center;
  letter-spacing: pxtovw(-0.4px);
}

.WelcomeTitle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: pxtovw(96px);
  height: pxtovw(96px);
  padding: pxtovw(10px);
  margin: pxtovw(21px) auto pxtovw(24px);
  border: 1px solid color($shared-colors, color3);
  border-radius: 50%;

  img {
    height: pxtovw(58px);
  }
}

.SharedH1 {
  margin-top: 32px;
  font-size: $shared-h2;
  font-weight: 500;
  text-align: center;
}

.SharedH1-subtitle {
  margin-top: 14px;
  font-size: $shared-small;
  font-weight: normal;
  color: color($grayscale, 500);
  text-align: center;
}

.Badge {
  $badge-size: pxtovw(24px);

  display: inline-block;
  height: $badge-size;
  padding: 0 pxtovw(14px);
  margin: pxtovw(3px) 0 0 pxtovw(9px);
  font-size: $shared-base;
  font-weight: 500;
  line-height: $badge-size;
  color: white;
  vertical-align: top;
  background: color($colors-shared, mauve);
  border-radius: pxtovw(15px);
}

.Badge-H1 {
  font-size: pxtovw(28px);
  font-weight: 600;
  line-height: pxtovw(32px);
}

.Badge-H2 {
  font-size: pxtovw(21px);
  font-weight: 600;
  line-height: pxtovw(32px);
}


.Email {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: pxtovw(48px);
  padding: pxtovw(12px) 0;
  font-size: pxtovw(15px);
  font-weight: 700;
  text-align: center;
  color: color($colors-shared, lightSalmon);
}

// google autocomplete
.pac-item {
  font-size: pxtovw(15px);
  color: black;
}

.pac-item-query {
  font-size: pxtovw(15px);
}

.pac-matched {
  font-size: pxtovw(15px);
  font-weight: 600;
}

.pac-icon {
  margin-top: pxtovw(2px);
  background-image: none !important;

  &:after {
    @extend %mb-icon;
    color: color($colors-shared, honey);
    content: "\e926"; // $mb-icon-marker
    font-size: pxtovw(18px);
  }
}
