.lineThrough {
  text-decoration: line-through;
}

.inactive {
  pointer-events: none;
  opacity: 0.3;
}

.Refresh.refresher-active {
  display: flex;
  align-items: center;
  justify-content: center;
}