<ion-scroll scrollY="true" style="height: 100%">

  <div class="TimeSlotsRoot">

    <!-- Show time axis on the left -->
    <div class="TimeAxis" [style.height]="'' + timeAxis.heightInVw + 'vw'">
      <!-- morning non-working area -->
      <div class="TimeSlotsNonWorkingArea" [style.height]="'' + timeAxis.morningNonWorkingInVw + 'vw'"></div>

      <!-- evening non-working area -->
      <div class="TimeSlotsNonWorkingArea" [style.top]="'' + timeAxis.eveningNonWorkingInVw + 'vw'" [style.height]="'' + (timeAxis.heightInVw-timeAxis.eveningNonWorkingInVw) + 'vw'"></div>

      <!-- time labels and horizontal ticks -->
      <div *ngFor="let timeLabel of timeLabels; index as i" class="TimeAxisLabelArea" [style.top]="'' + timeLabel.posYInVw + 'vw'"
        id="TimeAxisLabelArea{{ i }}">
        <!-- the time label -->
        <div class="TimeAxisLabel" id="TimeAxisLabel{{ i }}">{{ timeLabel.text }}</div>
        <!-- and its tick -->
        <div class="TimeAxisTick"></div>
      </div>
    </div>

    <!-- show time slots on the right -->
    <div class="TimeSlots">
      <div
        *ngFor="let item of slotItems"
        [style.top]="item.posYInVw+'vw'"
        [style.left]="item.leftInVw+'vw'"
        [style.width]="item.widthInVw+'vw'"
        [style.height]="item.heightInVw+'vw'"
        [attr.data-selected]="selectedTimeSlot === item"
        [attr.data-taken-slot]="!!item.appointment"
        (click)="onSlotItemClick(item)"
        class="TimeSlotItem">
        <time-slot-content [timeSlot]="item" [isSelected]="selectedTimeSlot === item"></time-slot-content>
      </div>

      <!-- show current time indicator -->
      <ng-template [ngIf]="showCurTimeIndicator">
        <div class="TimeAxisCurTime" [style.top]="timeAxis.currentTimePosY + 'vw'"></div>
        <div class="TimeAxisCurTimeLeftBlob" [style.top]="timeAxis.currentTimePosY + 'vw'"></div>
      </ng-template>
    </div>

  </div>

</ion-scroll>
