<ion-scroll scrollY="true" style="height: 100%">

  <div class="TimeSlotsRoot">

    <!-- Show time axis on the left -->
    <div class="TimeAxis" [style.height]="'' + timeAxis.heightInVw + 'vw'">
      <!-- morning non-working area -->
      <div class="TimeSlotsNonWorkingArea" [style.height]="'' + timeAxis.morningNonWorkingInVw + 'vw'"></div>

      <!-- evening non-working area -->
      <div class="TimeSlotsNonWorkingArea" [style.top]="'' + timeAxis.eveningNonWorkingInVw + 'vw'" [style.height]="'' + (timeAxis.heightInVw-timeAxis.eveningNonWorkingInVw) + 'vw'"></div>

      <!-- time labels and horizontal ticks -->
      <div *ngFor="let timeLabel of timeLabels; index as i" class="TimeAxisLabelArea" [style.top]="'' + timeLabel.posYInVw + 'vw'"
        id="TimeAxisLabelArea{{ i }}">
        <!-- the time label -->
        <div class="TimeAxisLabel" id="TimeAxisLabel{{ i }}">{{ timeLabel.text }}</div>
        <!-- and its tick -->
        <div class="TimeAxisTick"></div>
      </div>
    </div>

    <!-- show time slots on the right -->
    <div class="TimeSlots">

      <div *ngFor="let item of slotItems" class="TimeSlotItem" [style.top]="item.posYInVw+'vw'" [style.left]="item.leftInVw+'vw'"
        [style.width]="item.widthInVw+'vw'" [style.height]="item.heightInVw+'vw'" (click)="onSlotItemClick(item)">
        <div class="TimeSlotInner">
          <!-- show appointment slot -->
          <ng-template [ngIf]="item.appointment">
            <div *ngIf="isBlockedTime(item.appointment); else clientAppointmentSlot" class="TimeSlotBlockedTime">Blocked Slot</div>

            <ng-template #clientAppointmentSlot>
              <div class="TimeSlotAppointment" [ngClass]="{ 'TimeSlotCancelled': item.appointment.status === AppointmentStatuses.cancelled_by_client }">

                <!-- show client photo or icon -->
                <i *ngIf="item.appointment.client_uuid" [style.background-image]="'url(' + appointmentIconUrl(item.appointment) + ')'"
                  class="TimeSlotPhoto"></i>

                <!-- appointment details -->
                <div class="TimeSlotClientName">{{ formatClientName(item.appointment) }}</div>
                <div class="TimeSlotServices">${{ item.appointment.grand_total }} &#8226; {{ formatServices(item.appointment) }}</div>
              </div>
            </ng-template>
          </ng-template>

          <!-- show free slot selector -->
          <div *ngIf="selectedFreeSlot === item" class="TmeSlotFreeSelected">+</div>
        </div>
      </div>

      <!-- show current time indicator -->
      <ng-template [ngIf]="showCurTimeIndicator">
        <div class="TimeAxisCurTime" [style.top]="timeAxis.currentTimePosY + 'vw'"></div>
        <div class="TimeAxisCurTimeLeftBlob" [style.top]="timeAxis.currentTimePosY + 'vw'"></div>
      </ng-template>
    </div>

  </div>

</ion-scroll>