[madediscountsfooter] {
  .toolbar {
    height: pxtorem10(81);
    padding: 4px 0;

    @media ($phone-md) {
      height: pxtorem10(92);
    }

    @media ($phone-lg) {
      height: pxtorem10(105);
    }

    &-title {
      height: 100%;
      padding: 0;
    }

    &-background {
      background: color($colors, white);
    }
  }

  ion-title {
    align-items: start;
    padding: 0;
  }

  &:before {
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
  }
}

.DiscountsFooter-wp {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
}

.Discounts-btn {
  width: 100%;
  height: auto;
  padding: pxtorem10(17.5) 0;
  margin: 0;
  font-size: pxtovw(15px);
  color: color($grayscale, 800);
  text-transform: capitalize;
  background: color($colors, secondary);
  border-radius: pxtorem10(7);
  box-shadow: none;

  &.is-invert {
    color: color($colors, secondary);
    background: none;
  }
}

