<ion-header madeHeader [showHome]="true">
  <ion-toolbar class="SelectDate SelectDate-header">
    <ion-row justify-content-between>
      <div class="SelectDate-title Made-h1">
        Select Time
        <div class="SelectDate-date">{{ bookingData?.offer?.date | date: 'EE, MMM dd' }}</div>
      </div>

      <ng-container *ngIf="bookingData?.stylist">
        <user-name-photo [firstName]="bookingData.stylist?.first_name" [lastName]="bookingData.stylist?.last_name" [photoUrl]="bookingData.stylist?.profile_photo_url"></user-name-photo>
      </ng-container>
    </ion-row>

    <book-services-header></book-services-header>

    <price-pair
      *ngIf="bookingData.offer"
      [regularPrice]="bookingData.offer?.totalRegularPrice"
      [clientPrice]="bookingData.offer?.price"></price-pair>
  </ion-toolbar>
</ion-header>

<ion-content class="SelectTimeslot">
  <div class="grid">
    <div *ngIf="isLoading" class="Spinner">
      <ion-spinner></ion-spinner>
    </div>

    <no-service-selected *ngIf="!bookingData.selectedServices || bookingData.selectedServices?.length === 0"
      (addServiceClick)="onAddService()"></no-service-selected>

    <ng-container *ngIf="bookingData.selectedServices?.length > 0">

      <div *ngIf="slotSections && slotSections.length===0" class="SelectTimeslot-notice">Could not get available times.
        Please try again.</div>

      <div *ngIf="!bookingData.offer; else timeslots" class="SelectTimeslot-notice">
        <span>Sorry, this date is no longer available. Please choose a&nbsp;different date.</span><br />
        <button (click)="navCtrl.pop()" ion-button small class="Button">Select date</button>
      </div>
      <ng-template #timeslots>
        <ng-container *ngFor="let slotSection of slotSections">
          <!-- section of timeslots -->
          <div class="SelectTimeslot-sectionTitle">{{ slotSection.sectionName }}</div>

          <div class="SelectTimeslot-slotsContainer">
            <ng-container *ngFor="let slot of slotSection.slots">
              <!-- timeslot -->
              <div class="SelectTimeslot-timeslot" [ngClass]="{
                'SelectTimeslot-timeslotBooked': slot.isBooked,
                'SelectTimeslot-timeslotAvailable': !slot.isBooked,
                'SelectTimeslot-timeslotSelected': slot.startTime.isSame(this.bookingData.selectedTime)}"
                (click)="onSlotClick(slot)">
                {{ slot.isBooked ? 'Booked' : slot.displayTime }}
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-template>

    </ng-container>

  </div>
</ion-content>
