.SelectTimeslot {
  .SelectTimeslot-pricing {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: $t-base;
    color: color($grayscale, 500);
  }

  .SelectTimeslot-pricingRegular {
    align-self: flex-start;
    color: color($grayscale, 500);
  }

  .SelectTimeslot-pricingRegular div {
    display: inline-block;
    font-size: $t-h3;
    font-weight: bold;
    line-height: pxtovw(22px);
    color: color($grayscale, 800);
  }

  .SelectTimeslot-pricingYour {
    align-self: flex-end;
    justify-content: flex-end;
  }

  .SelectTimeslot-pricingYour div {
    display: inline-block;
    font-size: $t-h3;
    font-weight: bold;
    line-height: pxtovw(23px);
    color: color($colors, mint);
  }

  .SelectTimeslot-pricingYour div:first-letter,
  .SelectTimeslot-pricingRegular div:first-letter {
    font-size: pxtovw(14px);
    vertical-align: text-top;
  }

  .SelectTimeslot-sectionTitle {
    margin: pxtovw(20px) 0 pxtovw(15px);
    font-size: $t-base;
    color: color($grayscale, 500);
  }

  .SelectTimeslot-spinner {
    width: 100%;
  }

  .SelectTimeslot-slotsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: pxtovw(-12px);
  }

  .SelectTimeslot-timeslot {
    width: pxtovw(105px);
    height: pxtovw(40px);
    margin: 0 pxtovw(6px) pxtovw(6px) 0;
    font-size: $t-small;
    line-height: pxtovw(40px);
    text-align: center;
    border-radius: pxtovw(3px);
  }

  .SelectTimeslot-timeslotSelected {
    font-weight: bold;
  }

  .SelectTimeslot-timeslotBooked {
    color: color($grayscale, 500);
    background: color($grayscale, 200);
  }

  .SelectTimeslot-timeslotAvailable {
    color: color($grayscale, 800);
    background: color($colors, primary);
  }

  .SelectTimeslot-notice {
    margin-top: pxtovw(24px);

    .Button {
      margin-top: 16px;
    }
  }
}
