<ion-header madeHeader [showHome]="true">
  <ion-toolbar class="SelectDate SelectDate-header">
    <div class="SelectDate-title SharedH1">Select time</div>
    <book-services-header></book-services-header>
  </ion-toolbar>
</ion-header>

<ion-content class="SelectTimeslot">
  <div class="contentSidePadding">
    <regular-price
      *ngIf="bookingData.offer"
      [regularPrice]="bookingData.offer?.totalRegularPrice"
      [price]="bookingData.offer?.price"></regular-price>

    <div class="Spinner">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

    <div *ngIf="slotSections && slotSections.length===0" class="SelectTimeslot-notice">Could not get available times. Please try again.</div>

    <div *ngIf="!bookingData.offer; else timeslots" class="SelectTimeslot-notice">
      <span>Sorry, this date is no longer available. Please choose a&nbsp;different date.</span><br/>
      <button (click)="navCtrl.pop()" ion-button small class="Button">Select date</button>
    </div>
    <ng-template #timeslots>
      <ng-container *ngFor="let slotSection of slotSections">
        <!-- section of timeslots -->
        <div class="SelectTimeslot-sectionTitle">{{ slotSection.sectionName }}</div>

        <div class="SelectTimeslot-slotsContainer">
          <ng-container *ngFor="let slot of slotSection.slots">
            <!-- timeslot -->
            <div class="SelectTimeslot-timeslot" [ngClass]="{
                'SelectTimeslot-timeslotBooked': slot.isBooked,
                'SelectTimeslot-timeslotAvailable': !slot.isBooked,
                'SelectTimeslot-timeslotSelected': slot.startTime.isSame(this.bookingData.selectedTime)}" (click)="onSlotClick(slot)">
              {{ slot.isBooked ? 'Booked' : slot.displayTime }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-template>

  </div>
</ion-content>
