// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'shared/theme/shared';

@import '../theme/normalize';
@import '../theme/font';

// Components
@import '../theme/components/badges';
@import '../theme/components/buttons';
@import '../theme/components/cards';
@import '../theme/components/forms';
@import '../theme/components/tables';
@import '../theme/components/titles';
@import '../theme/components/base';
@import '../theme/components/footer';

// App basic styles
ion-app.md,
ion-app.ios,
ion-app.wp {
  font-family: 'SF Pro Display', Helvetica, sans-serif;
}

.grid {
  padding: 0 25px;
}

.alert-md .alert-message,
.alert-ios .alert-message,
.alert-wp .alert-message {
  text-align: left;
}
