page-booking-complete {
  .BookingComplete-icon {
    width: pxtovw(187px);
    padding: pxtovw(45px);
    margin: 0 auto pxtovw(32px);
    border: pxtovw(1px) solid color($grayscale, 300);
    border-radius: 50%;

    img {
      width: pxtovw(96px);
    }
  }

  .BookingComplete-h2 {
    margin-top: pxtovw(15px);
    margin-bottom: pxtovw(29px);
    font-size: pxtovw(27px);
    font-weight: 700;
    text-align: center;
  }

  .BookingComplete-final {
    position: relative;
    display: table;
    margin: 0 auto;
    font-size: pxtovw(15px);
    color: color($colors, warmGrey);

    span {
      position: absolute;
      top: 0;
      right: pxtovw(-78px);
      padding: pxtovw(2px) pxtovw(6px);
      font-size: pxtovw(10px);
      color: white;
      background: #FF3333;
      border-radius: pxtovw(3px);
    }
  }

  .BookingComplete-price {
    position: relative;
    display: table;
    margin: pxtovw(-6px) auto pxtovw(50px);
    font-size: pxtovw(64px);
    font-weight: 700;
    text-align: center;

    span {
      position: absolute;
      top: pxtovw(12px);
      left: pxtovw(-12px);
      font-size: pxtovw(18px);
    }
  }

  .BookingComplete-addToCalendar {
    margin-top: pxtovw(7px);
  }
}
