.BookingCompletePage {
  .BookingComplete-grid {
    height: 100%;
    text-align: center;

    .BookingComplete-gridRow {
      height: 27%;
    }

    .BookingComplete-checkmarkRow {
      height: 44%;
    }
  }

  .BookingComplete-checkmarkCircle {
    width: pxtovw(232px);
    height: pxtovw(232px);
    padding: pxtovw(34px);
    margin: pxtovw(22px) auto 0;
    border: 1px solid color($grayscale, 300);
    border-radius: 50%;

    .BookingComplete-checkmarkCircleInner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      margin: auto;
      background: rgba(254, 224, 208, 0.5);
      border-radius: 50%;

      &:after {
        width: pxtovw(43px);
        height: pxtovw(19px);
        content: '';
        border: solid black;
        border-width: 0 0 pxtovw(1px) pxtovw(1px);
        transform: rotate(-45deg) translate(pxtovw(4px), pxtovw(-4px));
      }
    }
  }

  .BookingComplete-h2 {
    margin-top: pxtovw(15px);
    font-size: pxtovw(26px);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: pxtovw(0.4px);
  }

  .BookingComplete-button {
    margin-bottom: pxtovw(20px);
  }
}
