<ion-header madeHeader [hideBackButton]="true"></ion-header>

<ion-content>
  <div class="contentSidePadding">
    <div class="BookingComplete-icon">
      <img src="assets/icons/bookingComplete.png" alt="">
    </div>

    <h2 class="BookingComplete-h2" data-test-id="bookingCompleteTitle">
      Congratulations,
      <br/>
      your booking is complete!
    </h2>

    <div class="BookingComplete-final" data-test-id="totalRegularPrice">
      Final Price <span *ngIf="bookingData?.offer?.totalRegularPrice !== appointment?.grand_total">WAS {{ bookingData?.offer?.totalRegularPrice | currency:'USD':true:'2.0' }}</span>
    </div>
    <div class="BookingComplete-price" data-test-id="price">
      {{ appointment?.grand_total.toFixed() | currency:'USD':true:'2.0' }}
    </div>

    <button (click)="onReturnHomeClick()" ion-button class="Button" data-test-id="returnHome">Return Home</button>

    <div *ngIf="!calendarIntegrated">
      <button (click)="onAddToCalendarClick()" ion-button class="Link is-button BookingComplete-addToCalendar" data-test-id="addToCalendar">Add to Calendar</button>
    </div>
  </div>
</ion-content>
