<ion-header madeHeader [hideBackButton]="true"></ion-header>

<ion-content class="BookingCompletePage">
  <ion-grid fixed class="BookingComplete-grid">
    <ion-row class="BookingComplete-checkmark-row">
      <ion-col>
        <div class="BookingComplete-checkmarkCircle">
          <div class="BookingComplete-checkmarkCircleInner">
            <ion-icon name=checkmark></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="BookingComplete-gridRow">
      <ion-col>
        <h2 class="H2 BookingComplete-h2"> Congratulations,
          <br/> your booking is complete! </h2>
      </ion-col>
    </ion-row>
    <ion-row align-items-baseline class="BookingComplete-gridRow">
      <ion-col align-self-end>
        <button ion-button class="Button lowcase BookingComplete-button" (click)="onReturnHomeClick()">Return to home screen</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
