<ion-header madeHeader [hideBackButton]="true" [isBackgroundTransparent]="true"></ion-header>


<ion-content no-padding class="FirstScreen-content">
  <div class="contentSidePadding">
    <div class="FirstScreen-logo">
      <div class="FirstScreen-logoCircle"></div>
      <div class="FirstScreen-logoCircle"></div>
      <div class="FirstScreen-logoCircle"></div>
      <div class="FirstScreen-logoCircle"></div>
      <img src="assets/imgs/logo/big-logo.png" alt="">
    </div>
    <div class="FirstScreen-title">Welcome to Made!</div>
    <div class="FirstScreen-text">Options make life better. Get made for less.</div>
    <button (click)="getStarted()" ion-button class="Button" data-test-id="get-started">Get started</button>
  </div>
</ion-content>
