<ion-header class="madeBackHeader">
  <ion-navbar class="Made-wp BackHeader-backBtn">
    <ion-buttons *ngIf="isMainScreen" end>
      <button [disabled]="form.invalid" (click)="onContinue()" ion-button icon-only color="dark" class="RightButton">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <made-nav *ngIf="!isMainScreen" [activePage]="PageNames.RegisterSalon"></made-nav>

  <form [formGroup]="form" class="Made-wp Made-wpContent">
    <div class="Salon-circle">
      <div [style.background-image]="form.get('vars.image').value"
           class="Salon-circle-photo"></div>
      <label (click)="processPhoto()" class="Salon-circle-add" data-test-id="takePhotoBtn">
        <i class="bb-icon bb-icon-add-photo Salon-circle-add-icon"></i>
      </label>
    </div>

    <ion-grid class="Salon-inputsOffset">
      <ion-row>
        <ion-col col-6>
          <ion-item class="Salon-input">
            <ion-label floating>First name</ion-label>
            <ion-input formControlName="first_name" type="text"></ion-input>
            <div [class.is-active]="form.get('first_name').dirty && form.get('first_name').errors" class="Salon-inputError" item-end>
              <span *ngIf="form.get('first_name').errors?.required">This field is required</span>
              <span *ngIf="form.get('first_name').errors?.maxlength">Maximal length {{ form.get('first_name').errors?.maxlength?.requiredLength }} symbols</span>
            </div>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item class="Salon-input">
            <ion-label floating>Last name</ion-label>
            <ion-input formControlName="last_name" type="text"></ion-input>
            <div [class.is-active]="form.get('last_name').dirty && form.get('last_name').errors" class="Salon-inputError" item-end>
              <span *ngIf="form.get('last_name').errors?.required">This field is required</span>
              <span *ngIf="form.get('last_name').errors?.maxlength">Maximal length {{ form.get('last_name').errors?.maxlength?.requiredLength }} symbols</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="Salon-input">
            <ion-label floating>Salon name</ion-label>
            <ion-input formControlName="salon_name" type="text"></ion-input>
            <div [class.is-active]="form.get('salon_name').dirty && form.get('salon_name').errors" class="Salon-inputError" item-end>
              <span *ngIf="form.get('salon_name').errors?.required">This field is required</span>
              <span *ngIf="form.get('salon_name').errors?.minlength">Minimal length {{ form.get('salon_name').errors?.minlength?.requiredLength }} digits</span>
              <span *ngIf="form.get('salon_name').errors?.maxlength">Maximal length {{ form.get('salon_name').errors?.maxlength?.requiredLength }} symbols</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="Salon-input">
            <ion-label floating>Address</ion-label>
            <ion-input formControlName="salon_address" type="text" class="ion_autocomplete"></ion-input>
            <div [class.is-active]="form.get('salon_address').dirty && form.get('salon_address').errors" class="Salon-inputError" item-end>
              <span *ngIf="form.get('salon_address').errors?.minlength">Minimal length {{ form.get('salon_address').errors?.minlength?.requiredLength }} digits</span>
              <span *ngIf="form.get('salon_address').errors?.required">This field is required</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="Salon-input">
            <ion-label floating>Phone number</ion-label>
            <ion-input readonly formControlName="phone" type="tel"></ion-input>
            <div [class.is-active]="form.get('phone').dirty && form.get('phone').errors" class="Salon-inputError" item-end>
              <span *ngIf="form.get('phone').errors?.minlength">Minimal length {{ form.get('phone').errors?.minlength?.requiredLength }} digits</span>
              <span *ngIf="form.get('phone').errors?.maxlength">Maximal length {{ form.get('phone').errors?.maxlength?.requiredLength }} symbols</span>
              <span *ngIf="form.get('phone').errors?.required">This field is required</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="Salon-input">
            <ion-label floating>Instagram user name</ion-label>
            <ion-input formControlName="instagram_url" type="text"></ion-input>
            <div [class.is-active]="form.get('instagram_url').dirty && form.get('instagram_url').errors" class="Salon-inputError" item-end>
              <span *ngIf="form.get('instagram_url').errors?.pattern">Wrong name</span>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="Salon-input">
            <ion-label floating>Website</ion-label>
            <ion-input formControlName="website_url" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div *ngIf="!isMainScreen" class="Salon-submit Made-wp">
    <button (click)="onContinue()" [disabled]="form.invalid" class="Discounts-btn" ion-button data-test-id="submitProfileBtn">{{ title || 'Continue' }}</button>
  </div>
</ion-content>
