page-register-salon {
  .pac_container_carrier {
    position: relative;
    padding: 0;
  }

  .pac-container {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
  }

  .Salon-circle {
    position: relative;
    width: pxtovw(120px);
    height: pxtovw(120px);
    margin: auto;
    border-radius: 50%;

    &-photo {
      width: 100%;
      height: 100%;
      background: url('../assets/imgs/icons/avatar.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
    }

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: '';
      background: white;
      border: 1px solid color($colors, bb_skin);
      border-radius: 50%;
      opacity: 0.2;
    }

    &-add {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      width: pxtovw(48px);
      height: pxtovw(48px);
      overflow: hidden;
      text-align: center;
      background: rgba(244, 197, 173, 0.8);
      border: 1px solid white;
      border-radius: 50%;

      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        font-size: pxtovw(19px);
        color: white;
        transform: translate(-50%, -50%);
      }
    }
  }

  .Salon-inputsOffset {
    margin: pxtovw(15px) 0 0;
  }

  .Salon-submit {
    margin-bottom: pxtovw(32px);
  }

  .Salon-input {
    overflow: initial;

    &.item-label-floating {
      min-height: auto;
      padding: 0 0 pxtovw(15.5px);
      margin: 0;

      .label[floating] {
        position: absolute;
        top: pxtovw(13px);
        left: 0;
        margin: 0;
        font-size: pxtovw(21px);
        color: rgb(153, 153, 153);
        transition: font-size, 150ms ease-in-out, top 150ms ease-in-out;
        transform: none;
      }

      .input {
        font-size: pxtovw(21px);

        .text-input {
          margin: 0;
          font-weight: 600;
        }
      }

      .item-inner {
        padding: pxtovw(14px) 0 pxtovw(7px);
        overflow: initial;
      }

      &.input-has-focus,
      &.item-input-has-value {
        .label[floating] {
          top: 0;
          font-size: pxtovw(13px);
        }
      }
    }
  }

  [item-end].Salon-inputError {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 !important; // rewrite ionic styles
    font-size: 12px;
    color: color($colors, danger);
    opacity: 0;
    transition: opacity 100ms linear;

    &.is-active {
      opacity: 1;
    }
  }
}
