<form>
  <ion-row justify-content-center>
    <ion-item class="FormControl AuthConfirmPage-codeControl">
      <ion-input #input type="tel" ngxInputNumber [formControl]="code" [disabled]="isLoading" (focus)="onFocusCode()" (input)="onInput($event)"></ion-input>
    </ion-item>
  </ion-row>
  <ion-row justify-content-center>
    <div class="AuthConfirmPage-digits" [ngClass]="{'is-withError': hasError}">
      <div *ngFor="let digit of digits; let index = index" class="AuthConfirmPage-digit is-number{{ index + 1 }}"></div>
      <div *ngIf="hasError" class="AuthConfirmPage-error">
        Please enter a&nbsp;valid code
      </div>
    </div>
  </ion-row>
</form>
