[madeHeader],
.madeHeader {
  .toolbar {
    min-height: pxtovw(41px);
    padding-right: pxtovw(17px);

    &-title {
      height: 100%;
      padding: pxtovw(4px) 0 0;
      color: color($grayscale, 800);
    }

    &-background {
      background: none;
      border-color: transparent;
    }

    &.is-backgroundTransparent {
      background: transparent;
    }
  }

  &:after {
    display: none;
  }

  .mb-icon-logo {
    font-size: pxtovw(24px);
  }

  .BackHeader-backBtn {
    .back-button {
      position: absolute;
      z-index: 1;
      display: block;
      min-width: auto;
      padding: 0;
      margin: 0;

      ion-icon {
        font-size: pxtovw(17px);
      }
    }

    &.is-hiddenBackButton {
      .back-button {
        display: none;
      }
    }
  }

  ion-buttons[end] button {
    font-size: pxtovw(24px);
    color: black;
  }
}
