ion-header {
  .toolbar {
    padding: 24px 16px;

    .toolbar-background {
      background: transparent;
      border: 0;
    }
  }

  .bar-button,
  .toolbar .back-button {
    color: black;
  }
}
