<ion-header madeMenuHeader [hideBackAndMenuButtons]="true"></ion-header>

<ion-content no-padding>

  <div class="RegistrationDone-img">
    <img src="assets/icons/bookingComplete.png" />
  </div>
  <div class="Made-h1">You are done<br/>with registration!</div>

  <div class="RegistrationDone-text">Your profile is now live.</div>
  <div class="RegistrationDone-menuimg">
    <img src="assets/icons/menu-note@3x.png" />
  </div>
  <div class="RegistrationDone-text">
    Go to menu to edit your:<br />
    services, hours, discounts<br />
    to make sure they are up to date.
  </div>

  <ion-footer class="Footer">
    <button (click)="onContinue()" ion-button class="Button" data-test-id="continueBtn">View My Profile</button>
  </ion-footer>

</ion-content>
