<div *ngIf="stylist"
     [class.is-nonBookable]="!stylist.is_profile_bookable"
     class="StylistCard"
     data-test-id="StylistCard">

  <div *ngIf="stylist.is_profile_bookable" class="StylistCard-bookable">BOOK NOW</div>

  <div
    class="StylistCard-photo"
    [style.backgroundImage]="'url(' + (stylist.profile_photo_url  || 'assets/icons/stylist-avatar.png') + ')'"></div>

  <div class="StylistCard-body">
    <div class="StylistCard-salon">{{ stylist.salon_name }}</div>

    <div class="StylistCard-name">{{ stylist.first_name }} {{ stylist.last_name }}</div>

    <div
      *ngIf="stylist.followers_count"
      [class.is-notBookable]="!stylist.is_profile_bookable"
      class="StylistCard-followers"
      data-test-id="stylistFollowers">
      <i class="mb-icon-heart-a"></i>&nbsp;<span><b>{{ stylist.followers_count }}</b> MADE Clients</span>
    </div>
  </div>
</div>
