$card-padding: pxtovw(16px);
$pic-size: pxtovw(64px);

.StylistsPage-cardImg {
  position: absolute;
  top: 50%;
  left: pxtovw(23px);
  width: $pic-size;
  height: $pic-size;
  margin-top: -1 * $pic-size / 2;
  background-color: color($grayscale, 100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%; // circle
}

.StylistsPage-cardHeader {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: $t-h3;
  font-weight: 500;
  text-align: center;
}

.StylistsPage-cardClose {
  position: absolute;
  top: pxtovw(17px);
  right: pxtovw(16px);
  display: none;
  font-size: pxtovw(21px);
  color: transparent;
}

.StylistsPage-cardTitle {
  width: 100%;
  margin: pxtovw(1px) 0 pxtovw(4px);
  overflow: hidden;
  font-size: $t-h3;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%StylistsPage-cardSubtitle,
.StylistsPage-cardSubtitle {
  width: 100%;
  overflow: hidden;
  font-size: $t-base;
  color: color($grayscale, 500);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.StylistsPage-cardInfo {
  @extend %StylistsPage-cardSubtitle;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  font-size: pxtovw(15px);
  line-height: 20px / 15px * 1em;
  white-space: normal;

  + .StylistsPage-cardInfo {
    margin-top: 0;
  }

  .Link {
    // Add more contrast:
    color: color($colors, orange);
  }

  [class^=mb-icon] {
    min-width: pxtovw(18px);
    color: color($colors, orange);
  }
}

.StylistsPage-links {
  $icon-size: pxtovw(24px);

  margin: pxtovw(16px) 0 pxtovw(24px);

  > * {
    width: $icon-size;
    height: $icon-size;
    margin: 0 ($icon-size / 2);
    font-size: $icon-size;
    color: color($colors, orange);
  }
}

.StylistsPage-cardFooter {
  width: 0;
  height: 0;
  min-height: 0;
  overflow: hidden;
}

.StylistsPage-submit {
  $submit-height: pxtovw(48px);

  display: block;
  width: 73%;
  min-height: $submit-height;
  margin: 0 auto pxtovw(18px);
  line-height: $submit-height;
  text-align: center;
  box-shadow: none;

  > span {
    display: inline-block;
    width: auto;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }
}

.StylistsPage-card {
  @extend %SharedCard;

  position: relative;
  padding-bottom: pxtovw(10px);
  padding-left: $card-padding + pxtovw(24px) + $pic-size;
  background: white;

  &,
  .StylistsPage-cardImg,
  .StylistsPage-cardHeader,
  .StylistsPage-cardTitle,
  .StylistsPage-cardSubtitle,
  .StylistsPage-cardFooter {
    transition: all 0.08s ease-in;
  }

  &.is-active {
    $new-pic-size: pxtovw(152px);
    $pic-top-offset: pxtovw(56px);

    padding: pxtovw(15px) pxtovw(25px);

    .StylistsPage-cardImg {
      top: ($pic-size / 2) + pxtovw(16px);
      left: 50%;
      width: $new-pic-size;
      height: $new-pic-size;
      margin-left: -1 * $new-pic-size / 2;
    }

    .StylistsPage-followers {
      color: color($colors, orange);
    }

    .StylistsPage-cardClose {
      display: inline-block;
      color: black;
    }

    .StylistsPage-cardTitle {
      margin: pxtovw(8px) 0;
      font-size: pxtovw(29px);
    }

    .StylistsPage-cardTitle,
    .StylistsPage-cardSubtitle {
      text-align: center;
      white-space: initial;
    }

    .StylistsPage-cardSubtitle {
      font-size: $t-h4;
    }

    .StylistsPage-cardInfo {
      display: inline-block;
      font-size: pxtovw(18px);
      text-align: center;
      white-space: normal;

      + .StylistsPage-cardInfo {
        margin-top: pxtovw(4px);
      }

      p {
        margin: 0;
        overflow: initial;
        font-size: pxtovw(15px);
        text-overflow: initial;
        white-space: initial;
      }
    }

    .StylistsPage-cardHeader {
      height: pxtovw(161px);
      font-size: pxtovw(22px);
      font-weight: 600;
    }

    .StylistsPage-cardFooter {
      $footer-height: pxtovw(100px);

      height: auto;
      min-height: $footer-height;
    }

    .StylistsPage-cardHeader,
    .StylistsPage-cardTitle,
    .StylistsPage-cardSubtitle,
    .StylistsPage-cardFooter {
      width: 100%;
    }
  }
}
