stylist-card {
  display: block;
  text-align: left;
}

.StylistCard {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  padding: pxtovw(16px) pxtovw(22px);
  margin-bottom: pxtovw(16px);
  background: white;
  border: pxtovw(2px) solid transparent;
  border-radius: pxtovw(16px);
  box-shadow: 0 pxtovw(7px) pxtovw(43px) 0 rgba(0, 0, 0, 0.08);

  &.is-nonBookable {
    // we need it only for e2e tests - to get non bookable stylists
  }
}

.StylistCard-close {
  position: absolute;
  top: pxtovw(16px);
  right: pxtovw(14px);
  z-index: 1;
  font-size: pxtovw(16px);
  pointer-events: none;
  opacity: 0;
}

.StylistCard-bookable {
  position: absolute;
  top: pxtovw(16px);
  right: pxtovw(14px);
  font-size: pxtovw(15px);
  color: color($colors, orange);
  opacity: 1;
}

.StylistCard-body {
  flex: 1;
}

.StylistCard-photo {
  width: pxtovw(56px);
  height: pxtovw(56px);
  margin-right: pxtovw(16px);
  background-color: color($grayscale, 100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%; // circle
}

.StylistCard-salon {
  width: 65%;
  overflow: hidden;
  font-size: $t-base;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.StylistCard-name {
  width: 100%;
  margin: 0 0 1px;
  overflow: hidden;
  font-size: $t-h4;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.StylistCard-followers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  font-size: pxtovw(15px);
  white-space: normal;

  .Link {
    // Add more contrast:
    color: color($colors, orange);
    white-space: normal;
  }

  i[class^=mb-icon] {
    height: pxtovw(14px);
    margin-right: pxtovw(2px);
    font-size: pxtovw(14px);
    line-height: pxtovw(15px);
    color: color($colors, orange);
  }
}
