<ion-navbar [class.is-hiddenBackButton]="hideBackAndMenuButtons ? true : hideBackButton" class="Made-wp BackHeader-backBtn">
  <ion-buttons *ngIf="hideBackAndMenuButtons ? false : hideBackButton" left>
    <button class="madeMenuHeader-menuBtn" data-test-id="menuToggleBtn" menuToggle>
      <i class="mb-icon-menu"></i>
      <img *ngIf="!stylistProfileCompleteness?.isProfileComplete" class="madeMenuHeader-notice" src="assets/icons/!@2x.png" />
    </button>
  </ion-buttons>

  <ng-content select="ion-title"></ng-content>

  <ng-content select="ion-buttons[end]"></ng-content>
</ion-navbar>
<ng-content select="ion-toolbar"></ng-content>

