.ServicesCategoriesPage {
  .ServicesCategoriesPage-categories {
    margin-top: 24px;
  }

  .ServicesCategoriesPage-cardTitle {
    font-size: $t-base;
    font-weight: 500;
  }

  .ServicesCategoriesPage-cardSubtitle {
    margin-top: 4px;
    font-size: $t-small;
    color: color($grayscale, 500);
  }
}
