page-discounts {
  .slide-zoom {
    text-align: left;
  }

  .DiscountsSettings-title {
    display: flex;
    align-items: center;
    margin: pxtovw(9px) 0 pxtovw(20px);
  }

  .DiscountsSettings-icon {
    width: 23px;
    margin-left: pxtovw(7px);
  }

  .DiscountsSettings-tabs {
    margin-bottom: pxtovw(24px);
  }

  .DiscountsSettings-footer {
    .toolbar {
      height: pxtovw(78px);

      &-title {
        height: 100%;
        padding: 0;
      }

      &-background {
        background: color($colors, white);
      }
    }

    ion-title {
      align-items: start;
      padding: 0;
    }

    &:before {
      height: 1px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .DiscountsSettings-footerWp {
    padding-top: pxtovw(13px);
  }
}
