<ion-header madeMenuHeader [hideBackButton]="params?.isRootPage">
  <ion-title>
    <div class="Made-h1">Discounts</div>
  </ion-title>
</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" class="Refresh">
    <ion-spinner></ion-spinner>
  </ion-refresher>


  <div class="Made-wp Made-wpContent">
    <div class="Tabs-box DiscountsSettings-tabs">
      <div class="Tabs-wp">
        <button (click)="changeTab(DiscountTabNames.weekday)" [class.active]="DiscountTabNames.weekday === activeTab" ion-button clear color="dark" class="Tabs-btn active">
          {{ discountTabs[DiscountTabNames.weekday].name }}
        </button>
        <button (click)="changeTab(DiscountTabNames.revisit)" [class.active]="DiscountTabNames.revisit === activeTab" ion-button clear color="dark" class="Tabs-btn">
          {{ discountTabs[DiscountTabNames.revisit].name }}
        </button>
        <button (click)="changeTab(DiscountTabNames.firstVisit)" [class.active]="DiscountTabNames.firstVisit === activeTab" ion-button clear color="dark" class="Tabs-btn">
          {{ discountTabs[DiscountTabNames.firstVisit].name }}
        </button>
        <button (click)="changeTab(DiscountTabNames.max)" [class.active]="DiscountTabNames.max === activeTab" ion-button clear color="dark" class="Tabs-btn">
          {{ discountTabs[DiscountTabNames.max].name }}
        </button>
      </div>
    </div>

    <ion-slides (ionSlideDidChange)="onSlideChanged()" no-padding>
      <ion-slide>
        <discounts-weekday-short [profileStatus]="profileStatus" [discounts]="weekdays" [dealOfTheWeek]="dealOfTheWeek" (weekdayChange)="onWeekdayChange()" (updateWeekdayDiscounts)="onUpdateWeekdayDiscounts()"></discounts-weekday-short>
      </ion-slide>

      <ion-slide>
        <discounts-revisit-short [discounts]="rebook" (revisitChange)="onRevisitChange()"></discounts-revisit-short>
      </ion-slide>

      <ion-slide>
        <discounts-first-booking-short [firstBooking]="firstBooking" (firstVisitChange)="onFirstVisitChange()"></discounts-first-booking-short>
      </ion-slide>

      <ion-slide>
        <discounts-maximum-short [maximumDiscounts]="maximumDiscounts" (maximumDiscountChange)="onMaximumDiscountChange()"></discounts-maximum-short>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
