<ion-header madeMenuHeader [hideBackButton]="params?.isRootPage">
  <ion-title>
    <div class="Made-h1">Discounts</div>
  </ion-title>
</ion-header>


<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" class="Refresh">
    <ion-spinner></ion-spinner>
  </ion-refresher>


  <div class="Made-wp Made-wpContent">
    <div class="Made-text">
      <div class="Made-textItem">
        MADE will steadily increase prices to the full price automatically as clients book and your day fills up!
      </div>
    </div>

    <ion-row (click)="openDiscountPage(PageNames.DiscountsDaily)" data-test-id="discounts_daily" class="MadeBigList-row">
      <div class="MadeBigList-rowHeader">
        <div class="MadeBigList-title">
          Daily Discounts
        </div>

        <i class="MadeBigList-icon mb-icon-right-arrow"></i>
      </div>

      <div class="MadeBigList-text">
        Set your discounts on typically slower days.
      </div>
    </ion-row>

    <ion-row (click)="openDiscountPage(PageNames.DiscountsDeal)" data-test-id="discounts_deal" class="MadeBigList-row">
      <div class="MadeBigList-rowHeader">
        <div class="MadeBigList-title">
          Deal of the Week
        </div>

        <div *ngIf="selectedWeekDay" class="MadeBigList-value">
          {{ WEEKDAY_SHORT_NAMES[selectedWeekDay.weekday] }}: {{ selectedWeekDay.discount_percent }}%
        </div>

        <i class="MadeBigList-icon mb-icon-right-arrow"></i>
      </div>

      <div class="MadeBigList-text">
        One day at 30% or more.
      </div>
    </ion-row>

    <ion-row (click)="openDiscountPage(PageNames.DiscountsLoyalty)" data-test-id="discounts_loyalty" class="MadeBigList-row">
      <div class="MadeBigList-rowHeader">
        <div class="MadeBigList-title">
          Loyalty
        </div>

        <i class="MadeBigList-icon mb-icon-right-arrow"></i>
      </div>

      <div class="MadeBigList-text">
        Reward clients if they come back sooner.
      </div>
    </ion-row>

    <ion-row (click)="openDiscountPage(PageNames.DiscountsFirstVisit)" data-test-id="discounts_firstVisit" class="MadeBigList-row">
      <div class="MadeBigList-rowHeader">
        <div class="MadeBigList-title">
          First Visit
        </div>

        <div class="MadeBigList-value">
          <ng-container *ngIf="firstVisit; else firstVisitDisabled">{{ firstVisit }}%</ng-container>
          <ng-template #firstVisitDisabled>None</ng-template>
        </div>

        <i class="MadeBigList-icon mb-icon-right-arrow"></i>
      </div>

      <div class="MadeBigList-text">
        Incentive first time clients.
      </div>
    </ion-row>

    <ion-row (click)="openDiscountPage(PageNames.DiscountsMaximum)" data-test-id="discounts_maximum" class="MadeBigList-row">
      <div class="MadeBigList-rowHeader">
        <div class="MadeBigList-title">
          Maximum Discount
        </div>

        <div class="MadeBigList-value">
          <ng-container *ngIf="maximumDiscounts?.is_maximum_discount_enabled; else maximumDiscountDisabled">
            ${{ maximumDiscounts?.maximum_discount }}
          </ng-container>
          <ng-template #maximumDiscountDisabled>None</ng-template>
        </div>

        <i class="MadeBigList-icon mb-icon-right-arrow"></i>
      </div>

      <div class="MadeBigList-text">
        Set the highest dollar discount.
      </div>
    </ion-row>
  </div>
</ion-content>
