<ion-header madeHeader></ion-header>

<ion-content no-padding>
  <div class="contentSidePadding">

    <div class="Made-h1">Change Price</div>

    <edit-services-prices
      *ngIf="preview?.services"
      [services]="preview.services"
      (servicesChange)="onServicesChange($event)">
    </edit-services-prices>

    <ion-item class="EditServicesPrices-text">
      <ion-input [formControl]="priceChangeReason" placeholder="Reason for Change (optional)" data-test-id="reason"></ion-input>
    </ion-item>

    <div data-test-id="price">
      <div class="AppointmentPrice-title">New Price</div>
      <div class="AppointmentPrice-price">
        <ion-spinner *ngIf="isLoading" [duration]="500"></ion-spinner>
        <ng-container *ngIf="!isLoading">
          <span>$</span>
          <b>{{ (preview || appointment)?.grand_total.toFixed() }}</b>
        </ng-container>
      </div>
    </div>

    <ion-row *ngIf="getDiscountDescr(preview || appointment) as discount" align-items-center justify-content-center data-test-id="discount">
      <div class="AppointmentPrice-discount"><b>{{ discount.percentage }}%</b> Discount Applied</div>
    </ion-row>

  </div>
</ion-content>

<ion-footer
  madeContinueFooter
  [disabled]="isLoading || changedServices.length === 0"
  (continue)="onSave()"
  title="Update"></ion-footer>
