<ion-header madeHeader [hideBackButton]="!hideContinueButton"></ion-header>


<ion-content no-padding>
  <div class="contentVerticalPadding">
    <div class="Made-wp Made-wpContent">
      <div class="WelcomeTitle">
        <span *ngIf="!hideContinueButton; else ifProfilePage">Welcome to MADE!</span>
        <ng-template #ifProfilePage>How MADE works</ng-template>
      </div>

      <div class="WelcomeTitle-icon">
        <img src="assets/imgs/icons/discount.png" alt="">
      </div>

      <check-list [list]="list"></check-list>
    </div>
  </div>
</ion-content>


<ion-footer *ngIf="!hideContinueButton" madeContinueFooter (continue)="onContinue()"></ion-footer>
