page-appointment-add {
  .title {
    padding: pxtoem(12) 0 0;
    margin-bottom: 4rem;
    font-size: pxtoem(40);
    font-weight: bold;
  }

  .app-submit {
    margin-right: 8px;

    .bar-button-ios[icon-only] ion-icon {
      font-size: 5rem;
    }

    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
      color: color($grayscale, 800);
    }
  }

  .Appointment-form {
    .item-md {
      padding-left: 5px;
      font-size: $t-h3;
    }

    ion-item {
      padding-left: 0;
    }

    ion-label[fixed] {
      width: 35px;
      min-width: 25px;
      max-width: 35px;
      padding-left: 8px;
      color: color($grayscale, 800);
      text-overflow: clip;
    }

    .label-md {
      margin: 0;
    }

    .item-inner > ion-icon {
      font-size: $t-h2;
    }

    .service-select,
    .datetime-md {
      padding-left: 8px;
    }
  }
}
