[madebackheader],
.madeBackHeader {
  .toolbar {
    min-height: pxtovw(44px);

    &-title {
      padding: 0;
      color: color($grayscale, 800);
    }

    &-background {
      background: none;
      border-color: transparent;
    }
  }

  &:after {
    display: none;
  }

  .BackHeader-backBtn {
    .back-button {
      position: absolute;
      z-index: 1;
      display: block;
      min-width: auto;
      padding: 0;
      margin: 0;

      ion-icon {
        font-size: pxtovw(18px);
      }
    }

    &.is-hiddenBackButton {
      .back-button {
        display: none;
      }
    }
  }

  .RightButton {
    max-width: pxtovw(17px);
    margin-left: pxtovw(20px);
    font-size: pxtovw(22px);
  }
}
