<ion-header class="bb-wp-a ion-bb-header"><ion-navbar></ion-navbar></ion-header>

<ion-content padding>
  <div *ngIf="days" class="AppointmentDate-dates">
    <div *ngFor="let day of days" class="DateCard" (click)="select(day)">
      <div class="DateCard-day">
        {{ day.date | date: 'd MMM' }}
        <small>{{ day.date | date: 'EEEE' }}</small>
      </div>
      <div *ngIf="day.is_fully_booked" class="DateCard-badge is-warn">Fully Booked</div>
      <div *ngIf="!day.is_working_day" class="DateCard-badge">Non-working</div>
      <div class="DateCard-price" [style.color]="this.getPriceColor(day.price)">${{ day.price.toFixed(0) }}</div>
    </div>
  </div>
</ion-content>
