<ion-header madeMenuHeader [hideBackButton]="params?.isRootPage">
  <ion-title>
    <div class="Made-h1 ClientsCalendar-title">
      <ng-container *ngIf="!params?.client">My Calendar</ng-container>
    </div>
  </ion-title>

  <ion-toolbar class="ClientsCalendar-header">
    <ion-row justify-content-between class="Made-wp">
      <div *ngIf="params?.client" class="Made-h1 ClientsCalendar-title">{{ getNamePossessiveForm(params?.client) }}Calendar Preview</div>
      <div *ngIf="!params?.client" class="ClientsCalendar-small"><span>Calendar view of a new client</span></div>

      <ng-container *ngIf="profile">
        <user-name-photo [firstName]="profile?.first_name" [lastName]="profile?.last_name" [photoUrl]="profile?.profile_photo_url"></user-name-photo>
      </ng-container>
    </ion-row>

    <services-header-list *ngIf="isLoaded" (addService)="onAddService()" (deleteService)="onDeleteService($event)" [services]="services" [readonly]="false"></services-header-list>

    <div *ngIf="getRegularPrice(services) as regularPrice" class="Made-wp">
      <price-pair [regularPrice]="regularPrice"></price-pair>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="Made-wp Made-wpContent">
    <no-service-selected *ngIf="isLoaded && services?.length === 0"
                         (addServiceClick)="onAddService()"></no-service-selected>

    <price-calendar [prices]="prices"></price-calendar>
  </div>
</ion-content>
