.ClientsCalendar-header {
  padding: 0;
  background: white;
  box-shadow: 0 pxtovw(12px) pxtovw(20px) white;

  .ClientsCalendar-title {
    flex: 1;
  }

  .Pricing {
    margin: pxtovw(16px) 0 pxtovw(4px);
  }

  .ClientsCalendar-small {
    margin: pxtovw(2px) 0 pxtovw(3px);
    font-size: pxtovw(15px);
    font-weight: normal;
    color: color($grayscale, 500);
  }
}

[madeMenuHeader] .ClientsCalendar-header .ClientsCalendar-title {
  flex: 1;
  margin: pxtovw(-5px) 0 0;
}
