.ClientsCalendar-header {
  padding-bottom: 0;
  background: white;
  box-shadow: 0 12px 20px white;

  .ClientsCalendar-title {
    flex: 1;
  }

  .ClientsCalendar-regularPrice {
    margin-top: 16px;
    font-size: pxtovw(21px);
    font-weight: bold;
    color: black;

    sup {
      top: pxtovw(-1px);
      margin-left: pxtovw(8px);
      font-size: pxtovw(12px);
    }
  }

  .ClientsCalendar-small {
    margin: pxtovw(2px) 0 pxtovw(3px);
    font-size: pxtovw(15px);
    font-weight: normal;
    color: color($grayscale, 500);
  }
}
