<ion-header madeBackHeader>
  <ion-toolbar class="Made-wp Made-wpContent ClientsCalendar-header">
    <ion-row justify-content-between>
      <div class="Made-h1 ClientsCalendar-title">
        <ng-container *ngIf="client; else noClient">{{ this.getNamePossessiveForm(client) }}Calendar Preview</ng-container>
        <ng-template #noClient>My Calendar</ng-template>
      </div>
      <ng-container *ngIf="(profile | async) as profileData">
        <user-name-photo [firstName]="profileData?.first_name" [lastName]="profileData?.last_name" [photoUrl]="profileData?.profile_photo_url"></user-name-photo>
      </ng-container>
    </ion-row>
    <div *ngIf="!client" class="ClientsCalendar-small">Calendar view of a new client</div>
    <services-header-list (addService)="onAddService()" (deleteService)="onDeleteService($event)" [services]="services" [readonly]="false"></services-header-list>
    <ng-container *ngIf="getRegularPrice(services) as regularPrice">
      <price-pair [regularPrice]="regularPrice"></price-pair>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="Made-wp Made-wpContent">
    <price-calendar [prices]="prices"></price-calendar>
  </div>
</ion-content>
