.ClientsCalendar-header {
  padding-bottom: 0;
  background: white;
  box-shadow: 0 12px 20px white;

  .ClientsCalendar-title {
    flex: 1;
  }

  .Pricing {
    margin: 16px 0 4px;
  }

  .ClientsCalendar-small {
    margin: pxtovw(2px) 0 pxtovw(3px);
    font-size: pxtovw(15px);
    font-weight: normal;
    color: color($grayscale, 500);
  }
}

.ClientsCalendar {
  padding-top: 66px;
}
