.CalendarPriming {
  .CalendarPriming-icon {
    margin: pxtovw(150px) 0 pxtovw(22px);
    font-size: pxtovw(53px);
    color: color($colors, lightSalmon);
  }

  .CalendarPriming-text {
    font-size: pxtovw(18px);
    font-weight: 500;
    line-height: pxtovw(24px);
    color: black;
    text-align: center;
  }

  .Button {
    display: block;
    min-width: 100%;
    min-height: pxtovw(55px);
    margin: 0 0 pxtovw(27px) 0;
    font-size: pxtovw(18px);
    font-weight: 500;
    text-transform: none;  //Added to remove upercase No button in design is upercase
    background-color: color($colors, secondary);
    border-radius: pxtovw(10px);
  }

  .Footer {
    padding: pxtovw(24px) pxtovw(25px) pxtovw(39px);

    // Removes top border
    &:before { display: none; }
  }
}
