.CalendarPriming {
  .CalendarPriming-icon {
    margin: pxtovw(150px) 0 pxtovw(22px);
    font-size: pxtovw(53px);
    color: color($colors, lightSalmon);
  }

  .CalendarPriming-text {
    font-size: pxtovw(18px);
    font-weight: 500;
    line-height: pxtovw(24px);
    color: black;
    text-align: center;
  }
}
