.tab-button[aria-selected=true][role="tab"] {
  color: black;

  .tab-button-icon {
    color: black;
  }
}


.back-button-icon {
  //adjust beck arrow size
  font-size: pxtovw(15px);

  &:before {
    @extend %mb-icon;

    content: $mb-icon-arrow-left;
  }
}

// Rewrite ionic’s rules
ion-header ion-icon.back-button-icon.icon {
  color: map-get($grayscale, 800);
}

// rewrite ionic main-tabs icons
ion-icon.tab-button-icon[aria-label^="Home"],
ion-icon.tab-button-icon[aria-label^="History"],
ion-icon.tab-button-icon[aria-label^="Stylists"],
ion-icon.tab-button-icon[aria-label^="Profile"] {
  @extend %mb-icon;

  display: inline-block;
  vertical-align: bottom;
}

ion-icon.tab-button-icon[aria-label^="Home"]:after {
  content: $mb-icon-home-a;
}

ion-icon.tab-button-icon[aria-label^="History"]:after {
  content: $mb-icon-clock-a;
}

ion-icon.tab-button-icon[aria-label^="Stylists"]:after {
  content: $mb-icon-stylists-a;
}

ion-icon.tab-button-icon[aria-label^="Profile"]:after {
  content: $mb-icon-profile;
}

.has-icon ion-badge.badge-ios-Profile,
.has-icon ion-badge.badge-md-Profile,
.has-icon ion-badge.badge-wp-Profile {
  @extend %Indicator;
  
  right: calc(50% - 17px);
  font-size: 0;
  background: none;
}

[aria-selected=true] {
  ion-icon.tab-button-icon[aria-label^="Home"]:after {
    content: $mb-icon-home;
  }

  ion-icon.tab-button-icon[aria-label^="History"]:after {
    content: $mb-icon-clock;
  }

  ion-icon.tab-button-icon[aria-label^="Stylists"]:after {
    content: $mb-icon-stylists;
  }

  ion-icon.tab-button-icon[aria-label^="Profile"]:after {
    content: $mb-icon-profile-a;
  }
}

main-tabs ion-tabs.tabs {
  .tabbar {
    background: white;
    border-top: none;
    box-shadow: 0 pxtovw(-4px) pxtovw(27px) 0 rgba(0, 0, 0, 0.08);

    &:before {
      display: none;
    }

    .tab-button {
      min-height: auto;
      padding: pxtovw(7px) 0 0;

      ion-icon {
        height: auto;
        padding: pxtovw(2px);
        margin: 0;
        font-size: pxtovw(19px);
      }

      .tab-button-text {
        margin-top: pxtovw(3px);
        font-size: pxtovw(9px);
        letter-spacing: pxtovw(0.2px);
      }
    }
  }
}

